<SCRIPT TYPE="text/javascript">
function enable_change_pkg () {
  if ( document.ChangePkgForm.pkgpart.selectedIndex > 0 ) {
    document.ChangePkgForm.submit.disabled = false;
  } else {
    document.ChangePkgForm.submit.disabled = true;
  }
}
</SCRIPT>
<FONT SIZE=4>Purchase replacement package for "<%= $pkg; %>"</FONT><BR><BR>
<%= if ( $error ) {
  $OUT .= qq!<FONT SIZE="+1" COLOR="#ff0000">$error</FONT><BR><BR>!;
} ''; %>
<FORM NAME="ChangePkgForm" ACTION="<%= $selfurl %>" METHOD=POST>
<INPUT TYPE="hidden" NAME="action" VALUE="process_change_pkg">
<INPUT TYPE="hidden" NAME="pkgnum" VALUE="<%= encode_entities($pkgnum) %>">
<INPUT TYPE="hidden" NAME="pkg" VALUE="<%= encode_entities($pkg) %>">
<TABLE BGCOLOR="#cccccc" BORDER=0 CELLSPACING=0>
<TR>
  <TD COLSPAN=2><SELECT NAME="pkgpart" onChange="enable_change_pkg()">
  <OPTION VALUE="">

  <%=
    foreach my $part_pkg ( @part_pkg ) {
      $OUT .= '<OPTION VALUE="'. $part_pkg->{'pkgpart'}. '"';
      $OUT .= ' SELECTED' if $pkgpart && $part_pkg->{'pkgpart'} == $pkgpart;
      $OUT .= '>'. $part_pkg->{'pkg'};
    }
  %>

  </SELECT></TD>
</TR>
</TABLE>
<INPUT NAME="submit" TYPE="submit" VALUE="Purchase" disabled>
</FORM>

