<%= $url = "$selfurl?session=$session_id;action="; ''; %>
<%= include('header', 'Change password') %>

<%= if ( $error ) {
  $OUT .= qq!<FONT SIZE="+1" COLOR="#ff0000">$error</FONT><BR><BR>!;
} ''; %>

<FORM ACTION="<%= $selfurl %>" METHOD="POST">
<INPUT TYPE="hidden" NAME="session" VALUE="<%= $session_id %>">
<INPUT TYPE="hidden" NAME="action" VALUE="process_change_password">

<TABLE BGCOLOR="#cccccc">

  <TR>
    <TH ALIGN="right">Change password for account: </TH>
    <TD>
      <SELECT NAME="svcnum">
        <%= foreach my $svc ( @svcs ) {
              $OUT .= '<OPTION VALUE="'. $svc->{'svcnum'}. '"'.
                        ( $svc->{'svcnum'} eq $svcnum ? ' SELECTED' : '' ). '>'.
                      $svc->{'label'}. ': '. $svc->{'value'}. "\n";
            }
        %>
      </SELECT>
    </TD>
  </TR>

  <TR>
    <TH ALIGN="right">New password: </TH>
    <TD><INPUT TYPE="password" NAME="new_password" SIZE="18"></TD>
  </TR>

  <TR>
    <TH ALIGN="right">Re-enter new password: </TH>
    <TD><INPUT TYPE="password" NAME="new_password2" SIZE="18"></TD>
  </TR>

</TABLE>
<BR>

<INPUT TYPE="submit" VALUE="Change password">

</FORM>


<%= include('footer') %>
