<HTML>
  <HEAD>
    <TITLE>Forgot password</TITLE>
    <%= $head %>
  </HEAD>
  <BODY BGCOLOR="<%= $body_bgcolor || '#eeeeee' %>">
  <%= $body_header %>

<FONT SIZE=5>Forgot password</FONT><BR><BR>
<FONT SIZE="+1" COLOR="#ff0000"><%= $error %></FONT>

<%= $selfurl =~ s/\?.*//; ''; %>
<FORM ACTION="<%= $selfurl %>" METHOD=POST>
<INPUT TYPE="hidden" NAME="action" VALUE="do_forgot_password">
<INPUT TYPE="hidden" NAME="agentnum" VALUE="<%= $agentnum %>">

Please enter your email address.  A password reset email will be sent to that address.

<TABLE BGCOLOR="<%= $box_bgcolor || '#c0c0c0' %>" BORDER=0 CELLSPACING=2 CELLPADDING=0>

<%=
if ( $single_domain ) {

  $OUT .= qq(
    <TR>
      <TH ALIGN="right">Username </TH>
      <TD>
        <INPUT TYPE="text" NAME="username" VALUE="$username">\@$single_domain
      </TD>
    </TR>
    <INPUT TYPE="hidden" NAME="domain" VALUE="$single_domain">
  );

} else {

  $OUT .= qq(
    <TR>
      <TH ALIGN="right">Email address </TH>
      <TD>
        <INPUT TYPE="text" NAME="email" VALUE="$email">
      </TD>
    </TR>
  );

}

%>

<TR>
  <TD COLSPAN=2 ALIGN="center"><INPUT TYPE="submit" VALUE="Send reset email"></TD>
</TR>
</TABLE>
</FORM>

<%= $body_footer %>
