<%= $url = "$selfurl?session=$session_id;action="; ''; %>
<%= include('header') %>

<FONT SIZE=4>Make a payment</FONT><BR><BR>
<FORM NAME="OneTrueForm" METHOD="POST" ACTION="<%=$selfurl%>" onSubmit="document.OneTrueForm.process.disabled=true">
<INPUT TYPE="hidden" NAME="session" VALUE="<%=$session_id%>">
<INPUT TYPE="hidden" NAME="action" VALUE="payment_results">
<TABLE BGCOLOR="#cccccc">
<TR>
  <TH ALIGN="right">Amount&nbsp;Due</TH>
  <TD COLSPAN=7>
    <TABLE><TR><TD BGCOLOR="#ffffff">
      $<%=sprintf("%.2f",$balance)%>
    </TD></TR></TABLE>
  </TD>
</TR>
<TR>
  <TH ALIGN="right">Payment&nbsp;amount</TH>
  <TD COLSPAN=7>
    <TABLE><TR><TD BGCOLOR="#ffffff">
      $<INPUT TYPE="text" NAME="amount" SIZE=8 VALUE="<%=sprintf("%.2f",$balance)%>">
    </TD></TR></TABLE>
  </TD>
</TR><TR>
  <TH ALIGN="right">Card&nbsp;type</TH>
  <TD COLSPAN=7>
    <SELECT NAME="card_type"><OPTION></OPTION>
      <%= foreach ( keys %card_types ) {
            $selected = $card_type eq $card_types{$_} ? ' SELECTED' : '';
            $OUT .= qq(<OPTION$selected VALUE="). $card_types{$_}. qq(">$_\n);
      } %>
    </SELECT>
  </TD>
</TR>
<%= include('card') %>
<TR>
  <TD COLSPAN=8>
    <INPUT TYPE="checkbox" CHECKED NAME="save" VALUE="1">
    Remember this information
  </TD>
</TR><TR>
  <TD COLSPAN=8>
    <INPUT TYPE="checkbox"<%= $payby eq 'CARD' ? ' CHECKED' : '' %> NAME="auto" VALUE="1" onClick="if (this.checked) { document.OneTrueForm.save.checked=true; }">
    Charge future payments to this card automatically
  </TD>
</TR>
</TABLE>
<BR>
<INPUT TYPE="hidden" NAME="paybatch" VALUE="<%=$paybatch%>">
<INPUT TYPE="submit" NAME="process" VALUE="Process payment"> <!-- onClick="this.disabled=true"> -->
</FORM>

<%= include('footer') %>
