<%= $url = "$selfurl?session=$session_id;action="; ''; %>
<%= include('header') %>

<FONT SIZE=4>Make a payment</FONT><BR><BR>
<FORM NAME="OneTrueForm" METHOD="POST" ACTION="<%=$selfurl%>" onSubmit="document.OneTrueForm.process.disabled=true">
<INPUT TYPE="hidden" NAME="session" VALUE="<%=$session_id%>">
<INPUT TYPE="hidden" NAME="action" VALUE="ach_payment_results">
<TABLE BGCOLOR="#cccccc">
<TR>
  <TD ALIGN="right">Amount&nbsp;Due</TD>
  <TD>
    <TABLE><TR><TD BGCOLOR="#ffffff">
      $<%=sprintf("%.2f",$balance)%>
    </TD></TR></TABLE>
  </TD>
</TR>
<TR>
  <TD ALIGN="right">Payment&nbsp;amount</TD>
  <TD>
    <TABLE><TR><TD BGCOLOR="#ffffff">
      $<INPUT TYPE="text" NAME="amount" SIZE=8 VALUE="<%=sprintf("%.2f",$balance)%>">
    </TD></TR></TABLE>
  </TD>
</TR>
<%= include('check') %>
<TR>
  <TD COLSPAN=2>
    <INPUT TYPE="checkbox" CHECKED NAME="save" VALUE="1">
    Remember this information
  </TD>
</TR><TR>
  <TD COLSPAN=2>
    <INPUT TYPE="checkbox"<%= $payby eq 'CHEK' ? ' CHECKED' : '' %> NAME="auto" VALUE="1" onClick="if (this.checked) { document.OneTrueForm.save.checked=true; }">
    Charge future payments to this account automatically
  </TD>
</TR>
</TABLE>
<BR>
<INPUT TYPE="hidden" NAME="paybatch" VALUE="<%=$paybatch%>">
<INPUT TYPE="submit" NAME="process" VALUE="Process payment"> <!-- onClick="this.disabled=true"> -->
</FORM>

<%= include('footer') %>
