<%= $url = "$selfurl?session=$session_id;action="; ''; %>
<%= include('header') %>

Hello <%= $name %>!<BR><BR>
<%= $small_custview %>
<BR>
<%= if ( $balance > 0 ) {
  if (scalar(grep $_, @hide_payment_field)) {
    $OUT .= qq! <B><A HREF="${url}make_payment">Make a payment</A></B><BR><BR>!;
  } else {
    $OUT .= qq! <B><A HREF="${url}make_thirdparty_payment&payby_method=CC">Make a payment</A></B><BR><BR>!;
  }
} %>
<%=
  if ( @open_invoices ) {
    $OUT .= '<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=2 BGCOLOR="#eeeeee">'.
            '<TR><TH BGCOLOR="#ff6666" COLSPAN=5>Open Invoices</TH></TR>';
    my $link = qq!<A HREF="<%= $url %>myaccount!;
    my $col1 = "ffffff";
    my $col2 = "dddddd";
    my $col = $col1;

    foreach my $invoice ( @open_invoices ) {
      my $td = qq!<TD BGCOLOR="#$col">!;
      my $a=qq!<A HREF="${url}view_invoice;invnum=!. $invoice->{'invnum'}. '">';
      $OUT .=
        "<TR>$td${a}Invoice #". $invoice->{'invnum'}. "</A></TD>$td</TD>".
        "$td$a". $invoice->{'date'}. "</A></TD>$td</TD>".
        qq!<TD BGCOLOR="#$col" ALIGN="right">$a\$!. $invoice->{'owed'}.
          '</A></TD>'.
        '</TR>';
      $col = $col eq $col1 ? $col2 : $col1;
    }
    $OUT .= '</TABLE><BR>';
  } else {
    $OUT .= 'You have no outstanding invoices.<BR><BR>';
  }
%>

<%=
  if ( @support_services ) {
    $OUT .= '<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=2 BGCOLOR="#eeeeee">'.
            '<TR><TH BGCOLOR="#ff6666" COLSPAN="3">Support Time Remaining</TH>'.
            '</TR><TR><TH ALIGN="left">#</TH><TH>Package</TH>'.
            '<TH>Time Remaining</TH></TR>';
    my $col1 = "ffffff";
    my $col2 = "dddddd";
    my $col = $col1;

    foreach my $support ( @support_services ) {
      my $td = qq!<TD BGCOLOR="#$col">!;
      my $a = qq!<A HREF="${url}view_support_details;svcnum=!.
              $support->{'svcnum'}. '">';
      $OUT .=
        "<TR>$td$a". $support->{'pkgnum'}. "</A></TD>".
        $td.$a. $support->{'pkg'}. "</A></TD>".
        $td.$a. $support->{'time'}. "</A></TD>".
        '</TR>';
      $col = $col eq $col1 ? $col2 : $col1;
    }
    $OUT .= '</TABLE><BR>';
  } else {
    $OUT .= '';
  }
%>

<%=
  if ( @tickets ) {
    $OUT .= '<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=2 BGCOLOR="#eeeeee">'.
            '<TR><TH BGCOLOR="#ff6666" COLSPAN=5>Open Tickets</TH></TR>'.
            '<TR><TH>#</TH><TH>Subject</TH><TH>Priority</TH><TH>Queue</TH>'.
            '<TH>Status</TH></TR>';
    my $col1 = "ffffff";
    my $col2 = "dddddd";
    my $col = $col1;

    foreach my $ticket ( @tickets ) {
      my $td = qq!<TD BGCOLOR="#$col">!;
      $OUT .=
        "<TR>$td". $ticket->{'id'}. "</TD>".
        $td. $ticket->{'subject'}. "</TD>".
        $td. ($ticket->{'content'} || $ticket->{'priority'}). "</TD>".
        $td. $ticket->{'queue'}. "</TD>".
        $td. $ticket->{'status'}. "</TD>".
        '</TR>';
      $col = $col eq $col1 ? $col2 : $col1;
    }
    $OUT .= '</TABLE>';
  } else {
    $OUT .= '';
  }
%>

<%= include('footer') %>
