<%= $url = "$selfurl?session=$session_id;action="; ''; %>
<TD VALIGN="top" HEIGHT=384 BGCOLOR="#dddddd">

<A HREF="<%= $url %>myaccount">Overview</A><BR><BR>
<!--A HREF="<%= $url %>change_bill"-->Change&nbsp;payment&nbsp;info</A>&nbsp;*<BR><BR>
<!--A HREF="<%= $url %>change_ship"-->Change&nbsp;service&nbsp;address</A>&nbsp;*<BR><BR>
<A HREF="<%= $url %>provision">Setup&nbsp;my&nbsp;services</A><BR><BR>
<!--A HREF="<%= $url %>order"-->Purchase&nbsp;additional&nbsp;package</A>&nbsp;*<BR><BR>
<!--<A HREF="<%= $url %>pw_list">Change&nbsp;password(s)</A>&nbsp;*<BR><BR>-->
<A HREF="passwd.html">Change&nbsp;password(s)</A><BR><BR>
<A HREF="<%= $url %>logout">Logout</A><BR><BR>
*&nbsp;coming&nbsp;soon
</TD>
