<HTML>
  <HEAD>
    <TITLE>Reset password</TITLE>
    <%= $head %>
  </HEAD>
  <BODY BGCOLOR="<%= $body_bgcolor || '#eeeeee' %>">
  <%= $body_header %>

<FONT SIZE=5>Reset password</FONT><BR><BR>
<FONT SIZE="+1" COLOR="#ff0000"><%= $error %></FONT>

<%= $selfurl =~ s/\?.*//; ''; %>
<FORM ACTION="<%= $selfurl %>" METHOD=POST>
<INPUT TYPE="hidden" NAME="action" VALUE="do_process_forgot_password">
<INPUT TYPE="hidden" NAME="session_id" VALUE="<%= $session_id %>">
<INPUT TYPE="hidden" NAME="agentnum" VALUE="<%= $agentnum %>">

<TABLE BGCOLOR="<%= $box_bgcolor || '#c0c0c0' %>" BORDER=0 CELLSPACING=2 CELLPADDING=0>

<%= if (!$error) {

  $OUT .= <<'END';

  <TR>
    <TH ALIGN="right">New password: </TH>
    <TD><INPUT TYPE="password" NAME="new_password" SIZE="18"></TD>
  </TR>

  <TR>
    <TH ALIGN="right">Re-enter new password: </TH>
    <TD><INPUT TYPE="password" NAME="new_password2" SIZE="18"></TD>
  </TR>

  <TR>
    <TD COLSPAN=2 ALIGN="center"><INPUT TYPE="submit" VALUE="Change password"></TD>
  </TR>
END

  }
%>

</TABLE>
</FORM>

<%= $body_footer %>
