<%= $url = "$selfurl?session=$session_id;action="; ''; %>
<%= include('header') %>

<FONT SIZE=4>Recharge with prepaid card</FONT><BR><BR>
<FORM NAME="OneTrueForm" METHOD="POST" ACTION="<%=$selfurl%>" onSubmit="document.OneTrueForm.process.disabled=true">
<INPUT TYPE="hidden" NAME="session" VALUE="<%=$session_id%>">
<INPUT TYPE="hidden" NAME="action" VALUE="recharge_results">
<TABLE BGCOLOR="#cccccc">
<!--
<TR>
  <TD ALIGN="right">Amount&nbsp;Due</TD>
  <TD>
    <TABLE><TR><TD BGCOLOR="#ffffff">
      $<%=sprintf("%.2f",$balance)%>
    </TD></TR></TABLE>
  </TD>
</TR>
-->
<TR>
  <TD ALIGN="right">Prepaid&nbsp;card&nbsp;number</TD>
  <TD>
    <INPUT TYPE="text" NAME="prepaid_cardnum" SIZE=20 MAXLENGTH=19 VALUE="<%=$prepaid_cardnum%>">
  </TD>
</TR>
</TABLE>
<BR>
<INPUT TYPE="hidden" NAME="paybatch" VALUE="<%=$paybatch%>">
<INPUT TYPE="submit" NAME="process" VALUE="Recharge"> <!-- onClick="this.disabled=true"> -->
</FORM>

<%= include('footer') %>
