<HTML><HEAD><TITLE>Reseller</TITLE></HEAD>
<BODY BGCOLOR="#eeeeee"><FONT SIZE=5>Reseller</FONT><BR><BR>
<%= $url = "$selfurl?session=$session_id;action="; ''; %>
<TABLE BORDER=0 CELLPADDING=4><TR>
<%= include('agent_menu') %>
<TD VALIGN="top">

<%= $message
      ? "<FONT SIZE=\"+2\"><B>$message</B></FONT><BR><BR>"
      : ''
%>

<%= $small_custview %>

<BR>

<TABLE BORDER=0 CELLPADDING=4><TR>
<%= include('agent_customer_menu') %>
<TD VALIGN="top">

</TD></TR></TABLE>

</TD></TR></TABLE>
<%= include('footer') %>
