% if ( $cancel_date ) {
<I><% mt("Canceled [_1]", time2str('%b %o %Y', $cancel_date) ) |h %></I>
% } else {
<SCRIPT>
function areyousure_delete() {
  if (confirm(<% mt('Permanently delete this service?') |js_string %>) == true)
    window.location.href = '<% $cancel_url %>';
}
</SCRIPT>
<A HREF="<% $edit_url %>"><% mt("Edit this [_1]", $label) |h %></A> | 
<A HREF="javascript:areyousure_delete()"><% mt('Unprovision this Service') |h %></A>
% }
<%init>
my %opt = @_;
my $svc_x = $opt{'svc'} or die "'svc' required";
my $svcdb = $opt{'table'} || $svc_x->table;
my $edit_url = $opt{'edit_url'} || 
               $p . 'edit/' . $svcdb . '.cgi?' . $svc_x->svcnum;
my $cancel_url = $p . 'misc/unprovision.cgi?' . $svc_x->svcnum;
my $cust_svc = $svc_x->cust_svc; # always exists
my $cancel_date = $cust_svc->pkg_cancel_date;
my ($label) = $cust_svc->label;
</%init>
