% if ( $FS::CurrentUser::CurrentUser->option('export_getsettings') ) {

%   my ( $settings, $defaults ) = $svc_x->export_getsettings;
%   if ( keys %$settings ) {

%# a way to label this "Communigate pro settings".. just a config maybe... eh,
%# its just for devel
    External settings
    <% ntable('#cccccc',2) %>

%     foreach my $key ( sort {$defaults->{$a} <=> $defaults->{$b} or $a cmp $b}
%                            keys %$settings
%                     )
%    {
        <TR>
          <TD ALIGN="right"><% $key |h %></TD>
          <TD BGCOLOR="<% $defaults->{$key} ? '#eeeeee' : '#ffffff' %>">
            <% $defaults->{$key} ? '<I>' : '<B>' %>
            <% $settings->{$key} |h %>
            <% $defaults->{$key} ? '</I>' : '</B>' %>
          </TD>
        </TR>
%     }

    </TABLE>
    <BR>

%   }
% }
<%init>

my $svc_x = shift;

</%init>
