<%doc>

Examples:

  include( 'elements/report_cust_pay_or_refund.html',
               'thing'          => 'pay',
               'name_singular'  => 'payment',
         )

  include( 'elements/report_cust_pay_or_refund.html',
               'thing'          => 'refund',
               'name_singular'  => 'refund',
         )

</%doc>
<& /elements/header.html, mt($title) &>

<FORM ACTION="<% $table %>.html" METHOD="GET">
<INPUT TYPE="hidden" NAME="magic" VALUE="_date">
<INPUT TYPE="hidden" NAME="unapplied" VALUE="<% $unapplied %>">

<TABLE BGCOLOR="#cccccc" CELLSPACING=0>

  <TR>
    <TH CLASS="background" COLSPAN=2 ALIGN="left">
      <FONT SIZE="+1"><% mt('Payment search options') |h %></FONT>
    </TH>
  </TR>

  <& /elements/tr-select.html,
    label     => ucfirst(PL($name_singular)) . ' of type:',
    field     => 'payby',
    options   => [ keys(\%payby) ],
    labels    => \%payby,
    multiple  => 1,
    size      => 16
  &>

  <TR>
    <TD ALIGN="right"><% mt('Check #:') |h %> </TD>
    <TD>
      <INPUT TYPE="text" ID="payinfo" NAME="payinfo">
    </TD>
  </TR>
  <TR>
    <TD ALIGN="right"><% mt('Transaction #:') |h %> </TD>
    <TD>
      <INPUT TYPE="text" ID="ccpay" NAME="ccpay">
    </TD>
  </TR>

  <& /elements/tr-select-user.html &>

  <TR>
    <TD ALIGN="right" VALIGN="center"><% mt(ucfirst($name_singular). ' date') |h %></TD>
    <TD>
      <TABLE>
        <& /elements/tr-input-beginning_ending.html,
                      layout     => 'horiz',
                      input_time => $conf->exists('report-cust_pay-select_time'),
        &>
      </TABLE>
    </TD>
  </TR>

% if ( $void ) {
    <TR>
      <TD ALIGN="right" VALIGN="center"><% mt('Voided') |h %></TD>
      <TD>
        <TABLE>
          <& /elements/tr-input-beginning_ending.html,
                        prefix => 'void',
                        layout => 'horiz',
          &>
        </TABLE>
      </TD>
    </TR>
% }

% if ( $table eq 'cust_pay' ) {

% # payment batch
% #  <& /elements/tr-select-batchnum.html &>

% #payment "entry" batch (should probably just all become the same thing)
  <& /elements/tr-select-paybatch.html &>

% }

  <& /elements/tr-input-lessthan_greaterthan.html,
                'label' => emt('Amount'),
                'field' => 'paid',
  &>


</TABLE>
<BR>


<TABLE BGCOLOR="#cccccc" CELLSPACING=0>

  <TR>
    <TH CLASS="background" COLSPAN=2 ALIGN="left">
      <FONT SIZE="+1"><% mt('Customer search options') |h %></FONT>
    </TH>
  </TR>

  <& /elements/tr-select-agent.html,
                 'curr_value'    => scalar($cgi->param('agentnum')),
                 'label'         => emt('Agent'),
                 'disable_empty' => 0,
  &>

  <& /elements/tr-select-cust_class.html,
       'label'        => emt('Customer class'),
       'field'        => 'cust_classnum',
       'multiple'     => 1,
       'pre_options'  => [ 0 => emt('(none)') ],
  &>

</TABLE>

% if ( $table eq 'cust_pay' ) { 

  <BR>
  <TABLE BGCOLOR="#cccccc" CELLSPACING=0>

  <TR>
    <TH CLASS="background" COLSPAN=2 ALIGN="left">
      <FONT SIZE="+1"><% mt('Display options') |h %></FONT>
    </TH>
  </TR>

  <& /elements/tr-checkbox.html,
                'label' => emt('Include tax names'),
                'field' => 'tax_names',
                'value' => 1,
  &>

</TABLE>

% }

<BR>
<INPUT TYPE="submit" VALUE="<% mt('Get Report') |h %>">

</FORM>

<& /elements/footer.html &>
<%init>

my %opt = @_;
my $table = 'cust_'.$opt{'thing'};
my $name_singular = $opt{'name_singular'};

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Financial reports');

my $conf = new FS::Conf;

my $void = $cgi->param('void') ? 1 : 0;
my $unapplied = $cgi->param('unapplied') ? 1 : 0;

my $title = $void ? "Voided $name_singular report" :
            $unapplied ? "Unapplied $name_singular report" :
            "\u$name_singular report" ;
$table .= '_void' if $void;

tie (my %payby, 'Tie::IxHash',
  'CARD-VisaMC'    => 'credit card (Visa/MasterCard)',
  'CARD-Amex'      => 'credit card (American Express)',
  'CARD-Discover'  => 'credit card (Discover)',
  'CARD-Maestro'   => 'credit card (Maestro/Switch/Solo)',
  'CARD-Tokenized' => 'credit card (Tokenized)',

  'CHEK'           => 'electronic check / ACH',
  'BILL'           => 'check',
  'CASH'           => 'cash',
  'PPAL'           => 'Paypal',
  'APPL'           => 'Apple Store',
  'ANRD'           => 'Android Market',

  'PREP'           => 'prepaid card',
  'WIRE'           => 'wire transfer',
  'WEST'           => 'Western Union',
  'EDI'            => 'Electronic Debit (EDI)',
  'MCRD'           => 'manual credit card',
  'MCHK'           => 'manual electronic check',
);

</%init>
