<%

  my(%opt) = @_;

  my %align = (
    'l' => 'left',
    'r' => 'right',
    'c' => 'center',
    ' ' => '',
    '.' => '',
  );
  $opt{align} = [ map $align{$_}, split(//, $opt{align}) ],
    unless !$opt{align} || ref($opt{align});

  if ( ref($opt{'query'}) ) {

  }

  unless (exists($opt{'count_query'}) && length($opt{'count_query'})) {
    ( $opt{'count_query'} = $opt{'query'} ) =~
      s/^\s*SELECT\s*(.*?)\s+FROM\s/SELECT COUNT(*) FROM /i;
  }

  my $conf = new FS::Conf;
  my $maxrecords = $conf->config('maxsearchrecordsperpage');

  my $limit = $maxrecords ? "LIMIT $maxrecords" : '';

  my $offset = $cgi->param('offset') || 0;
  $limit .= " OFFSET $offset" if $offset;

  my $count_sth = dbh->prepare($opt{'count_query'})
    or die "Error preparing $opt{'count_query'}: ". dbh->errstr;
  $count_sth->execute
    or die "Error executing $opt{'count_query'}: ". $count_sth->errstr;
  my $count_arrayref = $count_sth->fetchrow_arrayref;
  my $total = $count_arrayref->[0];

  #warn join(' / ', map { "$_ => $opt{$_}" } keys %opt ). "\n";

  my $header = $opt{'header'};
  my $rows;
  if ( ref($opt{'query'}) ) {
    #eval "use FS::$opt{'query'};";
    $rows = [ qsearch(
      $opt{'query'}->{'table'}, 
      $opt{'query'}->{'hashref'} || {}, 
      $opt{'query'}->{'select'},
      $opt{'query'}->{'extra_sql'}. " $limit",
    ) ];
  } else {
    my $sth = dbh->prepare("$opt{'query'} $limit")
      or die "Error preparing $opt{'query'}: ". dbh->errstr;
    $sth->execute
      or die "Error executing $opt{'query'}: ". $sth->errstr;

    #can get # of rows without fetching them all?
    $rows = $sth->fetchall_arrayref;

    $header ||= $sth->{NAME};
  }

  if ( exists($opt{'redirect'}) && scalar(@$rows) == 1 && $total == 1 ) {
    my( $url, $method ) = @{$opt{'redirect'}};
    redirect( $url. $rows->[0]->$method() );
  } else {
    $opt{'name'} =~ s/s$// if $total == 1;
%>
<%= include( '/elements/header.html', $opt{'title'},
               include( '/elements/menubar.html', 'Main menu' => $p )
           )
%>
<% my $pager = include ( '/elements/pager.html',
                           'offset'     => $offset,
                           'num_rows'   => scalar(@$rows),
                           'total'      => $total,
                           'maxrecords' => $maxrecords,
                       );
%>
<% unless ( $total ) { %>
  No matching <%= $opt{'name'} %> found.<BR>
<% } else { %>
  <%= $total %> total <%= $opt{'name'} %><BR>
  <% if ( $opt{'count_addl'} ) { %>
    <% my $n=0; foreach my $count ( @{$opt{'count_addl'}} ) { %>
      <%= sprintf( $count, $count_arrayref->[++$n] ) %><BR>
    <% } %>
  <% } %>
  <BR><%= $pager %>
  <%= include( '/elements/table.html' ) %>
    <TR>
    <% foreach my $header ( @$header ) { %>
         <TH><%= $header %></TH>
    <% } %>
    </TR>
    <% foreach my $row ( @$rows ) { %>
         <TR>
         <% if ( $opt{'fields'} ) {
              my $links = $opt{'links'} ? [ @{$opt{'links'}} ] : '';
              my $aligns = $opt{'align'} ? [ @{$opt{'align'}} ] : '';
              foreach my $field ( @{$opt{'fields'}} ) {
                my $align = $aligns ? shift @$aligns : '';
                $align = " ALIGN=$align" if $align;
                my $a = '';
                if ( $links ) {
                  my $link = shift @$links;
                  $link = &{$link}($row) if ref($link) eq 'CODE';
                  if ( $link ) {
                    my( $url, $method ) = @{$link};
                    if ( ref($method) eq 'CODE' ) {
                      $a = $url. &{$method}($row);
                    } else {
                      $a = $url. $row->$method();
                    }
                    $a = qq(<A HREF="$a">);
                  }
                }
             %>
             <% if ( ref($field) eq 'CODE' ) { %>
               <TD<%= $align %>><%= $a %><%= &{$field}($row) %><%= $a ? '</A>' : '' %></TD>
             <% } else { %>
               <TD<%= $align %>><%= $a %><%= $row->$field() %><%= $a ? '</A>' : '' %></TD>
             <% } %>
           <% } %>
         <% } else { %>
           <% foreach ( @$row ) { %>
                <TD><%= $_ %></TD>
           <% } %>
         <% } %>
         </TR>
    <% } %>
  
  </TABLE>
  <%= $pager %>
<% } %>
</BODY>
</HTML>
<% } %>

