<% include('/elements/header.html', 'Sales Report' ) %>

<FORM ACTION="cust_bill_pkg.cgi" METHOD="GET">

<TABLE>

<% include('/elements/tr-select-from_to.html' ) %>

<TR>
  <TD ALIGN="right"><INPUT TYPE="checkbox" NAME="projection" VALUE="1"></TD>
  <TD>Show projected data for future months</TD>
</TR>

<% include('/elements/tr-select-agent.html',
             'label'         => 'Agent ',
             'disable_empty' => 0,
             'pre_options'   => [ 'all' => 'all (aggregate)' ],
             'empty_label'   => 'all (breakdown)',
          )
%>

<% include('/elements/tr-select-part_referral.html',
             'label'         => 'Advertising source ',
             'disable_empty' => 0,
             'pre_options'   => [ 'all' => 'all (aggregate)' ],
             'empty_label'   => 'all (breakdown)',
          )
%>

<% include('/elements/tr-select-pkg_class.html',
              'pre_options' => [ 'all'  => 'all (aggregate)',
                                 '0' => 'all (breakdown)' ],
              'empty_label' => '(empty class)',
           )
%>

<!--
<TR>
  <TD ALIGN="right"><INPUT TYPE="checkbox" NAME="separate_0freq" VALUE="1"></TD>
  <TD>Separate one-time vs. recurring sales</TD>
</TR>
-->

% foreach ( qw(Setup Usage) ) {
<& /elements/tr-select.html,
    'label'   => "$_ fees",
    'field'   => 'use_'.lc($_),
    'options' => [ 0, 1, 2 ],
    'labels'  => { 0 => 'Combine', 1 => 'Separate', 2 => 'Do not show' },
&>
% }

<TR>
  <TD ALIGN="right"><INPUT TYPE="checkbox" NAME="use_override" VALUE="1"></TD>
  <TD>Separate sub-packages from parents</TD>
</TR>

<TR>
  <TD ALIGN="right"><INPUT TYPE="checkbox" NAME="average_per_cust_pkg" VALUE="1"></TD>
  <TD>Average per customer package</TD>
</TR>

<TR>
  <TD ALIGN="right"><INPUT TYPE="checkbox" NAME="distribute" VALUE="1"></TD>
  <TD>Distribute recurring fees over billing period</TD>
</TR>

</TABLE>

<BR><INPUT TYPE="submit" VALUE="Display">
</FORM>

<% include('/elements/footer.html') %>
<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Financial reports');

</%init>
