<% include('/elements/header.html', 'Customer Signup Summary' ) %>

<FORM ACTION="cust_signup.html" METHOD="GET">

<TABLE>

<% include('/elements/tr-select-from_to.html' ) %>

<% include('/elements/tr-select-agent.html',
             'curr_value'    => scalar($cgi->param('agentnum')),
             'label'         => 'For agent: ',
             'disable_empty' => 0,
          )
%>

<% include('/elements/tr-select-part_referral.html',
             'curr_value'    => scalar($cgi->param('refnum')),
             'label'         => 'Advertising source: ',
             'disable_empty' => 0,
             'pre_options'   => [ 'all' => 'all (aggregate)' ],
             'empty_label'   => 'all (breakdown)',
          )
%>

</TABLE>

<BR><INPUT TYPE="submit" VALUE="Display">
</FORM>

<% include('/elements/footer.html') %>
<%init>

#XXX use a different ACL for package churn?
die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Financial reports');

</%init>
