<% include('/elements/header.html', 'Sales, Credits and Receipts Summary' ) %>

<FORM ACTION="money_time.cgi" METHOD="GET">

<!--
<INPUT TYPE="checkbox" NAME="ar">
  Accounts receivable (invoices - applied credits)<BR>
<INPUT TYPE="checkbox" NAME="charged">
  Just Invoices<BR>
<INPUT TYPE="checkbox" NAME="defer">
  Accounts receivable, with deferred revenue (invoices - applied credits, with charges for annual/semi-annual/quarterly/etc. services deferred over applicable time period) (there has got to be a shorter description for this)<BR>
<INPUT TYPE="checkbox" NAME="cash">
  Cashflow (payments - refunds)<BR>
<BR>
-->

<TABLE>

<% include('/elements/tr-select-from_to.html' ) %>

<% include('/elements/tr-select-agent.html',
             'label'         => 'For agent: ',
             'disable_empty' => 0,
          )
%>

<TR>
  <TD ALIGN="right"><INPUT TYPE="checkbox" NAME="12mo" VALUE="1"></TD>
  <TD>Show 12 month totals instead of monthly values</TD>
</TR>

</TABLE>

<BR><INPUT TYPE="submit" VALUE="Display">
</FORM>

<% include('/elements/footer.html') %>
<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Financial reports');

</%init>
