<% include('/elements/header.html', 'Package Costs Report' ) %>

<FORM ACTION="cust_pkg_cost.cgi" METHOD="GET">

<TABLE>

<% include('/elements/tr-select-from_to.html' ) %>

<% include('/elements/tr-select-agent.html',
             'label'         => 'For agent: ',
             'disable_empty' => 0,
          )
%>

</TABLE>

<BR><INPUT TYPE="submit" VALUE="Display">
</FORM>

<% include('/elements/footer.html') %>
<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Financial reports');

</%init>
