<% &ntable("#cccccc") %><TR><TD><% &ntable("#cccccc",2) %>

<% include('/view/elements/tr.html', label=>'Service',  value=>$part_svc->svc) %>
<% include('/view/elements/tr.html', label=>'Username', value=>$svc_acct->username) %>
<% include('/view/elements/tr.html', label=>'Domain',   value=>$domain) %>

% if ( $opt{'communigate'} ) {
  <% include('/view/elements/tr.html', label=>'Aliases', value=>$svc_acct->cgp_aliases) %>
%}

% if ( $svc_acct->pbxsvc ) {
  <% include('/view/elements/tr.html', label=>'PBX', value=>$svc_acct->pbx_title) %>
%}

% my $show_pw = '';
% my $password = $svc_acct->get_cleartext_password; 
% if ( $password =~ /^\*\w+\* (.*)$/ ) {
%   $password = $1;
%   $show_pw .= '<I>(login disabled)</I> ';
% } 
% if ( ! $password
%      && $svc_acct->_password_encryption ne 'plain'
%      && $svc_acct->_password
%    )
% {
%   $show_pw .= '<I>('. uc($svc_acct->_password_encryption). ' encrypted)</I>';
% } elsif ( $conf->exists('showpasswords') ) { 
%   $show_pw .= '<PRE>'. encode_entities($password). '</PRE>';
% } else { 
%   $show_pw .= '<I>(hidden)</I>';
% } 
% $password = ''; 
<% include('/view/elements/tr.html', label=>'Password', value=>$show_pw) %>


% if ( $conf->exists('security_phrase') ) {
  <%include('/view/elements/tr.html', label=>'Security phrase', value=>$svc_acct->sec_phrase)%>
% } 

% if ( $svc_acct->popnum ) {
%   my $svc_acct_pop = qsearchs('svc_acct_pop',{'popnum'=>$svc_acct->popnum});
    <% include('/view/elements/tr.html', label=>'Access number', value=>$svc_acct_pop->text) %>
% } 

% if ($svc_acct->uid ne '') { 
  <% include('/view/elements/tr.html', label=>'UID', value=>$svc_acct->uid) %>
% } 

% if ($svc_acct->gid ne '') { 
  <% include('/view/elements/tr.html', label=>'GID', value=>$svc_acct->gid) %>
% } 

% if ($svc_acct->finger ne '') { 
  <% include('/view/elements/tr.html', label=>'Real Name', value=>$svc_acct->finger) %>
% } 

% if ($svc_acct->dir ne '') { 
  <% include('/view/elements/tr.html', label=>'Home directory', value=>$svc_acct->dir) %>
% } 

% if ($svc_acct->shell ne '') { 
  <% include('/view/elements/tr.html', label=>'Shell', value=>$svc_acct->shell) %>
% } 

% if ($svc_acct->quota ne '' && ! $opt{'communigate'} ) { 

  <% include('/view/elements/tr.html', label=>'Quota', value=>$svc_acct->quota) %>

% } elsif ( $opt{'communigate'} ) {

%# settings

  <% include('/view/elements/tr.html', label=>'Mailbox type', value=>$svc_acct->cgp_type) %>

  <% include('/view/elements/tr.html', label=>'Enabled services',
                        value=>$svc_acct->cgp_accessmodes ) %>

  <% include('/view/elements/tr.html', label=>'Mail storage limit',
                        value=>$svc_acct->quota ) %>

  <% include('/view/elements/tr.html', label=>'File storage limit',
                        value=>$svc_acct->file_quota ) %>

  <% include('/view/elements/tr.html', label=>'Number of files limit',
                        value=>$svc_acct->file_maxnum ) %>

  <% include('/view/elements/tr.html', label=>'File size limit',
                        value=>$svc_acct->file_maxsize ) %>

%#XXX password recovery

  <% include('/view/elements/tr.html', label=>'Allowed mail rules',
                        value=>$svc_acct->cgp_rulesallowed || 'default (No)') %>

  <% include('/view/elements/tr.html', label=>'RPOP modifications',
                        value=>$svc_acct->cgp_rpopallowed ? 'YES' : 'NO' ) %>

  <% include('/view/elements/tr.html', label=>'Accepts mail to "all"',
                        value=>$svc_acct->cgp_mailtoall ? 'YES' : 'NO' ) %>

  <% include('/view/elements/tr.html', label=>'Add trailer to sent mail',
                        value=>$svc_acct->cgp_addmailtrailer ? 'YES' : 'NO' ) %>

%# preferences

  <% include('/view/elements/tr.html', label=>'Message delete method',
                        value=>$svc_acct->cgp_deletemode ) %>

  <% include('/view/elements/tr.html', label=>'On logout remove trash',
                        value=>$svc_acct->cgp_emptytrash ) %>

%#XXX language, time zone, layout, printo style, send read receipts
%#XXX vacation message, redirect all mail, mail rules

% }

% if ($svc_acct->slipip) { 
  <% include('/view/elements/tr.html',
       label=>'IP address',
       value=> ( $svc_acct->slipip eq "0.0.0.0" || $svc_acct->slipip eq '0e0' )
                 ? "<I>(Dynamic)</I>"
                 : $svc_acct->slipip
     )
  %>
% } 

<% include('usage.html',
             'svc_acct' => $svc_acct,
          )
%>

% foreach my $attribute ( grep /^radius_/, $svc_acct->fields ) {
%   $attribute =~ /^radius_(.*)$/;
%   my $pattribute = $FS::raddb::attrib{$1};
    <% include('/view/elements/tr.html', label=>"Radius (reply) $pattribute",
                          value=>$svc_acct->getfield($attribute)
              )
    %>
% } 

% foreach my $attribute ( grep /^rc_/, $svc_acct->fields ) {
%   $attribute =~ /^rc_(.*)$/;
%   my $pattribute = $FS::raddb::attrib{$1};
    <% include('/view/elements/tr.html', label=>"Radius (check) $pattribute",
                          value=>$svc_acct->getfield($attribute)
              )
    %>
% } 

<% include('/view/elements/tr.html', label=>'RADIUS groups',
                      value=>join('<BR>', $svc_acct->radius_groups) ) %>

%# Can this be abstracted further?  Maybe a library function like
%# widget('HTML', 'view', $svc_acct) ?  It would definitely make UI 
%# style management easier.
% foreach (sort { $a cmp $b } $svc_acct->virtual_fields) { 
  <% $svc_acct->pvf($_)->widget('HTML', 'view', $svc_acct->getfield($_)) %>
% } 

</TABLE></TD></TR></TABLE>
<%init>

my %opt = @_;

my $conf = new FS::Conf;

my $svc_acct = $opt{'svc_acct'};
my $part_svc = $opt{'part_svc'};

die 'Empty domsvc for svc_acct.svcnum '. $svc_acct->svcnum
  unless $svc_acct->domsvc;
my $svc_domain = qsearchs('svc_domain', { 'svcnum' => $svc_acct->domsvc } );
die 'Unknown domain (domsvc '. $svc_acct->domsvc.
    ' for svc_acct.svcnum '. $svc_acct->svcnum. ')'
  unless $svc_domain;
my $domain = $svc_domain->domain;

</%init>
