% if ( @part_svc || $opt{'showall'} ) {

| <SELECT NAME="svcpart" onChange="enable_change()">
    <OPTION VALUE=""><% mt('Change service') |h %></OPTION>
    <OPTION VALUE="">--------------</OPTION>
% foreach my $opt_part_svc ( @part_svc ) { 

      <OPTION VALUE="<% $opt_part_svc->svcpart %>"><% $opt_part_svc->svc %></OPTION>
% } 

  </SELECT>
  <INPUT NAME="submit" TYPE="submit" VALUE="<% mt('Change') |h %>" disabled>

% } 

<%init>

my %opt = @_;
my @part_svc = @{ $opt{'part_svc'} };

</%init>
