%# settings

  <% include('/view/elements/tr.html', label=>'Mailbox type', value=>$svc_acct->cgp_type) %>

  <% include('/view/elements/tr.html', label=>'Enabled services',
                        value=>$svc_acct->cgp_accessmodes ) %>

  <% include('/view/elements/tr.html', label=>'Mail storage limit',
                        value=>$svc_acct->quota ) %>

  <% include('/view/elements/tr.html', label=>'File storage limit',
                        value=>$svc_acct->file_quota ) %>

  <% include('/view/elements/tr.html', label=>'Number of files limit',
                        value=>$svc_acct->file_maxnum ) %>

  <% include('/view/elements/tr.html', label=>'File size limit',
                        value=>$svc_acct->file_maxsize ) %>

  <% include('/view/elements/tr.html', label=>'Password recovery',
               value=>$svc_acct->password_recover ? 'YES' : 'NO' ) %>

  <% include('/view/elements/tr.html', label=>'Allowed mail rules',
                        value=>$svc_acct->cgp_rulesallowed || 'default (No)') %>

  <% include('/view/elements/tr.html', label=>'RPOP modifications',
                        value=>$svc_acct->cgp_rpopallowed ? 'YES' : 'NO' ) %>

  <% include('/view/elements/tr.html', label=>'Accepts mail to "all"',
                        value=>$svc_acct->cgp_mailtoall ? 'YES' : 'NO' ) %>

  <% include('/view/elements/tr.html', label=>'Add trailer to sent mail',
                        value=>$svc_acct->cgp_addmailtrailer ? 'YES' : 'NO' ) %>

%# preferences

  <% include('/view/elements/tr.html', label=>'Message delete method',
                        value=>$svc_acct->cgp_deletemode ) %>

  <% include('/view/elements/tr.html', label=>'On logout remove trash',
                        value=>$svc_acct->cgp_emptytrash ) %>

  <% include('/view/elements/tr.html', label=>'Language',
                        value=>$svc_acct->cgp_language || 'default (English)' ) %>
  <% include('/view/elements/tr.html', label=>'Time zone',
                        value=>$svc_acct->cgp_timezone || 'default (HostOS)' ) %>
  <% include('/view/elements/tr.html', label=>'Layout',
                        value=>$svc_acct->cgp_skinname || 'default (***)' ) %>

  <% include('/view/elements/tr.html', label=>'Pronto style',
                        value=>$svc_acct->cgp_prontoskinname ) %>

  <% include('/view/elements/tr.html', label=>'Send read receipts',
                        value=>$svc_acct->cgp_sendmdnmode ) %>

%# vacation message
  <% include('/elements/init_overlib.html') %>

  <TR>
    <TD ALIGN="right">Vacation message</TD>
    <TD BGCOLOR="#FFFFFF">
      <% $vacation_rule ? 'Active' : '' %>
      <% include('/elements/popup_link.html',
                   'action' => $p.'edit/cgp_rule-vacation.html?'.
                                 'svcnum='. $svc_acct->svcnum,
                   'label'  => $vacation_rule ? '(edit)' : '(add)',
                   'actionlabel' => 'Vacation message',
                   'width'  => 600,
                   'height' => 300,
                   #'color'
                )
      %>
    </TD>
  </TR>

%# redirect all mail

  <TR>
    <TD ALIGN="right">Redirect all mail</TD>
    <TD BGCOLOR="#FFFFFF">
      <% $redirect_rule ? 'Active' : '' %>
      <% include('/elements/popup_link.html',
                   'action' => $p.'edit/cgp_rule-redirect_all.html?'.
                                 'svcnum='. $svc_acct->svcnum,
                   'label'  => $redirect_rule ? '(edit)' : '(add)',
                   'actionlabel' => 'Redirect all mail',
                   'width' => 763,
                   #'height'
                   #'color'
                )
      %>
    </TD>
  </TR>

%# mail rules

  <% include('/view/elements/tr.html', label=>'Mail rules',
               value=>$rule_link,
            )
  %>

<%init>

my %opt = @_;

#my $conf = new FS::Conf;

my $svc_acct = $opt{'svc_acct'};
#my $part_svc = $opt{'part_svc'};

my $rule_link = qq(<A HREF="${p}browse/cgp_rule.html?svcnum=).
                      $svc_acct->svcnum. '">View/edit mail rules</A>'; #'dum vim

my $vacation_rule = qsearchs('cgp_rule', { 'svcnum' => $svc_acct->svcnum,
                                           'name'   => '#Vacation'
                                         }
                            );

my $redirect_rule = qsearchs('cgp_rule', { 'svcnum' => $svc_acct->svcnum,
                                           'name'   => '#Redirect'
                                         }
                            );

</%init>
