% if ( $link eq 'popup' ) { 

  <& /elements/header-popup.html, mt('Refund Receipt') &>

  <CENTER><A HREF="javascript:self.parent.location = '<% $pr_link %>'"><% mt('Print') |h %></A></CENTER><BR>

% } elsif ( $link eq 'print' ) { 

  <& /elements/header-popup.html, mt('Refund Receipt') &>
  
% #it would be nice if the menubar could be hidden for print, but better to
% # have it available than not, otherwise the user winds up at a dead end
  <% menubar(
       mt('View this customer')." (#$display_custnum)" => "${p}view/cust_main.cgi?$custnum",
     )
  %>
  <BR><BR>

% } else { 

  <& /elements/header.html, mt('Refund Receipt'), menubar(
       mt('View this customer')." (#$display_custnum)" => "${p}view/cust_main.cgi?$custnum",
       mt('Print receipt') => $pr_link,
     )
  &>

% }

% unless ($link eq 'popup' ) {
  <& /elements/small_custview.html,
               $custnum,
               scalar($conf->config('countrydefault')),
               1, #no balance
  &>
  <BR><BR>
% } 

<% ntable("#cccccc", 2) %>

<TR>
  <TD ALIGN="right"><% mt('Refund') |h %>#</TD>
  <TD BGCOLOR="#FFFFFF"><B><% $cust_refund->refundnum %></B></TD>
</TR>

<TR>
  <TD ALIGN="right"><% mt('Date') |h %></TD>
  <TD BGCOLOR="#FFFFFF"><B><% time2str"%a&nbsp;%b&nbsp;%o,&nbsp;%Y&nbsp;%r", $cust_refund->_date %></B></TD>
</TR>

<TR>
  <TD ALIGN="right"><% mt('Amount') |h %></TD>
  <TD BGCOLOR="#FFFFFF"><B><% $money_char. $cust_refund->refund %></B></TD>
</TR>

<TR>
  <TD ALIGN="right"><% mt('Reason') |h %></TD>
  <TD BGCOLOR="#FFFFFF"><B><% $cust_refund->reason %></B></TD>
</TR>

<TR>
  <TD ALIGN="right"><% mt('Refund method') |h %></TD>
  <TD BGCOLOR="#FFFFFF"><B><% $cust_refund->payby_name %><% $cust_refund->paymask ? ' #'.$cust_refund->paymask : '' %></B></TD>
</TR>

% if ( $cust_refund->payby =~ /^(CARD|CHEK|LECB)$/ && $cust_refund->paybatch ) { 

    <TR>
      <TD ALIGN="right"><% mt('Processor') |h %></TD>
      <TD BGCOLOR="#FFFFFF"><B><% $cust_refund->processor %></B></TD>
    </TR>

    <TR>
      <TD ALIGN="right"><% mt('Authorization') |h %>#</TD>
      <TD BGCOLOR="#FFFFFF"><B><% $cust_refund->authorization %></B></TD>
    </TR>

%   if ( $cust_refund->order_number ) {
      <TR>
        <TD ALIGN="right"><% mt('Order') |h %>#</TD>
        <TD BGCOLOR="#FFFFFF"><B><% $cust_refund->order_number %></B></TD>
      </TR>
%   }

% }

</TABLE>

% if ( $link eq 'print' ) {

  <SCRIPT TYPE="text/javascript">
    window.print();
  </SCRIPT>

% }

% if ( $link =~ /^(popup|print)$/ ) { 
    </BODY>
  </HTML>
% } else {
  <& /elements/footer.html &>
% }

<%init>

my $curuser = $FS::CurrentUser::CurrentUser;

die "access denied"
  unless $curuser->access_right('View invoices') #remove this in 1.9 EVENTUALLY
      || $curuser->access_right('View customer payments');
      #'View customer refunds' ???


$cgi->param('refundnum') =~ /^(\d+)$/ or die "no refundnum";
my $refundnum = $1;

my $link = '';
if ( $cgi->param('link') =~ /^(\w+)$/ ) {
  $link = $1;
}

my $cust_refund = qsearchs({
  'select'    => 'cust_refund.*',
  'table'     => 'cust_refund',
  'addl_from' => 'LEFT JOIN cust_main USING ( custnum )',
  'hashref'   => { 'refundnum' => $refundnum },
  'extra_sql' => ' AND '. $FS::CurrentUser::CurrentUser->agentnums_sql,
});
die "Refund #$refundnum not found!" unless $cust_refund;

my $pr_link = "${p}view/cust_refund.html?link=print;refundnum=$refundnum";

my $custnum = $cust_refund->custnum;
my $display_custnum = $cust_refund->cust_main->display_custnum;

my $conf = new FS::Conf;

my $money_char = $conf->config('money_char') || '$';

tie my %payby, 'Tie::IxHash', FS::payby->payby2longname;

</%init>
