<& /elements/header.html, mt('Quotation View'), $menubar &>

<& /elements/init_overlib.html &>

<SCRIPT TYPE="text/javascript">
function areyousure(href, message) {
  if (confirm(message) == true)
    window.location.href = href;
}
</SCRIPT>

% unless ( $quotation->disabled eq 'Y' ) {

%   if ( $curuser->access_right('Order customer package') ) {
      <& /elements/order_pkg_link.html,
           'label'       => emt('Add package'),
           'actionlabel' => emt('Add package'),
           map { $_ => $quotation->$_ } qw( quotationnum custnum prospectnum )
      &>
      <BR><BR>
%   }

%   if ( 1 ) { #if ( $curuser->access_right('Send quotations') )

      <& /elements/popup_link.html,
           'action'      => "${p}misc/email-quotation.html".
                              "?quotationnum=$quotationnum",
           'label'       => emt('Email this quotation'),
           'actionlabel' => emt('Select recipients'),
           #'width'       => 540,
           #'height'      => 336,
      &>

%#      <A HREF="<% $p %>misc/send-invoice.cgi?method=print;<% $link %>"><% mt('Re-print this invoice') |h %></A>

%#%     if ( $conf->exists('hylafax') && length($cust_bill->cust_main->fax) ) { 
%#           | <A HREF="<% $p %>misc/send-invoice.cgi?method=fax;<% $link %>"><% mt('Re-fax this invoice') |h %></A>
%#%     } 

%   }

%   if ( $conf->exists('quotation_latex') ) { 
      | <A HREF="<% $p %>view/quotation-pdf.cgi?<% $link %>"><% mt('View typeset quotation PDF') |h %></A>
%   }

    <BR><BR>

%   if ( $curuser->access_right('New customer') && $quotation->quotation_pkg ) {
      <A HREF="<%$p%>edit/process/quotation_convert.html?quotationnum=<% $quotation->quotationnum %>">Place order</A>
      <BR><BR>
%   }

% }

% if ( $curuser->access_right('Disable quotation') ) {
%   if ( $quotation->disabled eq 'Y' ) {
      <A HREF="<%$p%>misc/enable-quotation.html?quotationnum=<% $quotation->quotationnum %>" TITLE="<% emt('Enable this quotation') %>"><% emt('Enable this quotation') %></A>
%   } else {
      <% areyousure_link(
           "${p}misc/disable-quotation.html?quotationnum=". $quotation->quotationnum,
           emt('Are you sure you want to disable this quotation?'),
           emt('Disable this quotation'), #tooltip
           emt('Disable this quotation'), #link
      ) %>
%   }
  <BR><BR>
% }


% if ( $conf->exists('quotation_html') ) { 
    <% join('', $quotation->print_html( preref_callback=>$preref_callback )) %>
% } else { 
%   die "quotation_html config missing";
% }
% #plaintext quotations? <PRE><% join('', $quotation->print_text() ) %></PRE>

<& /elements/footer.html &>
<%init>

my $curuser = $FS::CurrentUser::CurrentUser;

#die "access denied"
#  unless $curuser->access_right('View quotations');

my $quotationnum;
my($query) = $cgi->keywords;
if ( $query =~ /^(\d+)$/ ) {
  $quotationnum = $1;
} else {
  $quotationnum = $cgi->param('quotationnum');
}

my $conf = new FS::Conf;

my $quotation = qsearchs({
  'select'    => 'quotation.*',
  'table'     => 'quotation',
  #'addl_from' => 'LEFT JOIN cust_main USING ( custnum )',
  'hashref'   => { 'quotationnum' => $quotationnum },
  #'extra_sql' => ' AND '. $curuser->agentnums_sql,
});
die "Quotation #$quotationnum not found!" unless $quotation;

my $menubar = menubar( $quotation->cust_or_prospect_label_link($p) );

my $link = "quotationnum=$quotationnum";
#$link .= ';template='. uri_escape($template) if $template;
#$link .= ';notice_name='. $notice_name if $notice_name;

my $preref_callback = sub {
  areyousure_link("${p}misc/delete-quotation_pkg.html?". shift->quotationpkgnum,
                  emt('Are you sure you want to remove this package from the quotation?'),
                  emt('Remove this package'), #tooltip
                  qq(<img src="${p}images/cross.png">), #link
                 );
};

sub areyousure_link {
    my ($url,$msg,$title,$label) = (shift,shift,shift,shift);
    '<A HREF="javascript:areyousure(\''.$url.'\',\''.$msg.'\')" TITLE="'.$title.'">'.$label.'</A>';
}

</%init>
