%if ( $payby_default eq 'HIDE' ) {
%  $cust_main->payby('BILL') unless $cust_main->payby;
%  my $payby = $cust_main->payby;

  <INPUT TYPE="hidden" NAME="payby" VALUE="<% $payby %>">

  <INPUT TYPE="hidden" NAME="<%$payby%>_payinfo" VALUE="<% $cust_main->paymask %>">

% foreach my $field (qw( payname paycvv paystart_month paystart_year payissue payip paytype paystate )) { 

    <INPUT TYPE="hidden" NAME="<% $payby.'_'.$field %>" VALUE="<% $cust_main->get($field) %>">

% } 

%  #false laziness w/elements/select-month_year.html & view/cust_main/billing.html
%  my( $mon, $year );
%  my $date = $cust_main->paydate || '12-2037';
%  if ( $date  =~ /^(\d{4})-(\d{1,2})-\d{1,2}$/ ) { #PostgreSQL date format
%    ( $mon, $year ) = ( $2, $1 );
%  } elsif ( $date =~ /^(\d{1,2})-(\d{1,2}-)?(\d{4}$)/ ) {
%    ( $mon, $year ) = ( $1, $3 );
%  } else {
%    die "unrecognized expiration date format: $date";
%  }

  <INPUT TYPE="hidden" NAME="<%$payby%>_exp_month" VALUE="<% $mon %>">
  <INPUT TYPE="hidden" NAME="<%$payby%>_exp_year"  VALUE="<% $year %>">

  <INPUT TYPE="hidden" NAME="tax" VALUE="<% $cust_main->tax %>">

  <INPUT TYPE="hidden" NAME="invoicing_list" VALUE="<% join(', ', @invoicing_list) %>">

% } else {
%
%  my $r = qq!<font color="#ff0000">*</font>&nbsp;!;

  <BR><FONT SIZE="+1"><B><% mt('Billing information') |h %></B></FONT>
  <% &ntable("#cccccc") %>

    <TR>
      <TD ALIGN="right" WIDTH="200"><%$r%><% mt('Billing type') |h %></TD>

  <SCRIPT>

    var mywindow = -1;
    function myopen(filename,windowname,properties) {
      myclose();
      mywindow = window.open(filename,windowname,properties);
    }
    function myclose() {
      if ( mywindow != -1 )
        mywindow.close();
      mywindow = -1;
    }

    var achwindow = -1;
    function achopen(filename,windowname,properties) {
      achclose();
      achwindow = window.open(filename,windowname,properties);
    }
    function achclose() {
      if ( achwindow != -1 )
        achwindow.close();
      achwindow = -1;
    }

    function card_changed(what) {
      if (
             what.form.payinfo.value.substring(0, 4) == '4093' 
          || what.form.payinfo.value.substring(0, 4) == '4911' 
          || what.form.payinfo.value.substring(0, 4) == '4936' 
          || what.form.payinfo.value.substring(0, 6) == '564132' 
          || what.form.payinfo.value.substring(0, 2) == '63' 
          || what.form.payinfo.value.substring(0, 2) == '67' 
         )
      {
        what.form.paystart_month.disabled = false;
        what.form.paystart_year.disabled = false;
        what.form.payissue.disabled = false;
        what.form.paystart_month.style.backgroundColor = '#ffffff';
        what.form.paystart_year.style.backgroundColor = '#ffffff';
        what.form.payissue.style.backgroundColor = '#ffffff';
        document.getElementById('paystart_label').style.color = '#000000';
        document.getElementById('payissue_label').style.color = '#000000';
      } else {
        what.form.paystart_month.disabled = true;
        what.form.paystart_year.disabled = true;
        what.form.payissue.disabled = true;
        what.form.paystart_month.style.backgroundColor = '#dddddd';
        what.form.paystart_year.style.backgroundColor = '#dddddd';
        what.form.payissue.style.backgroundColor = '#dddddd';
        document.getElementById('paystart_label').style.color = '#999999';
        document.getElementById('payissue_label').style.color = '#999999';
      }
      return true;
    }

    function init_payauto_changed(){
        var f = document.getElementById('CARD_payauto');
        if(f != null) payauto_changed(f);
        f = document.getElementById('CHEK_payauto');
        if(f != null) payauto_changed(f);
    }

    function payauto_changed(payauto_field){
        var span = (payauto_field.name == 'CARD_payauto') ? 'card_billday' : 'chek_billday';
        var select = document.getElementById('select_'+span);
        span = document.getElementById(span);
        if (span == null || select == null) return;
        if(payauto_field.checked) {
            span.style.color = '#000000';
            select.disabled = false;
        }
        else {
            span.style.color = '#999999';
            select.disabled = true;
            select.selectedIndex = 0;
        }
    }
    
  </SCRIPT>

  <& /elements/init_overlib.html &>

%  my $payby = $cust_main->payby;
%  my $paytype = $cust_main->paytype;
%  my( $account, $aba ) = split('@', $payinfo);
%  my $branch = '';
%  ($branch,$aba) = split('\.',$aba) if $conf->exists('cust_main-require-bank-branch');
%
%  my $disabled = 'DISABLED style="background-color: #dddddd"';
%  my $text_disabled = 'style="color: #999999"';
%
%  if ( $payby =~ /^(CARD|DCRD)$/ && cardtype($payinfo) =~ /^(Switch|Solo)$/ ) {
%    $disabled = 'style="background-color: #ffffff"';
%    $text_disabled = 'style="color: #000000";'
%  }
%
%  my $disable_payauto = $conf->exists('disable_payauto_default');
%  my $CARD_payauto_checked =   $payby eq 'DCRD' ? ''
%                             : $payby eq 'CARD' ? 'CHECKED'
%                             : $disable_payauto ? '' : 'CHECKED';
%  my $CHEK_payauto_checked =   $payby eq 'DCHK' ? ''
%                             : $payby eq 'CHEK' ? 'CHECKED'
%                             : $disable_payauto ? '' : 'CHECKED';
%
%  sub billday_options {
%   my $curr_value = shift;
%   my $ret = '';
%   for my $billday ( 1 .. 28 ) {
%       my $sel = '';
%       $sel = "SELECTED='SELECTED'" if $curr_value == $billday;
%       $ret .= "<OPTION VALUE='$billday' $sel>$billday</OPTION>";
%   }
%   $ret;
%  }
%
%  my $card_billday_style = $payby eq 'CARD' ? '' : 'style="color: #999999"';
%  my $chek_billday_style = $payby eq 'CHEK' ? '' : 'style="color: #999999"';
%  my $card_billday_select_disabled = $payby eq 'CARD' ? '' : 'DISABLED';
%  my $chek_billday_select_disabled = $payby eq 'CHEK' ? '' : 'DISABLED';
%
%  my %payby = (
%
%    'CARD' =>
%
%      '<TABLE BGCOLOR="#cccccc" BORDER=0 CELLSPACING=0 HEIGHT=192>'.
%
%        qq!<TR><TD ALIGN="right" WIDTH="200">${r}!.emt('Card number').qq! </TD>!.
%          qq!<TD WIDTH="408"><INPUT TYPE="text" NAME="CARD_payinfo" VALUE="!. ( $payby =~ /^(CARD|DCRD)$/ ? $payinfo : '' ). qq!" MAXLENGTH=19 onChange="card_changed(this)" onKeyUp="card_changed(this)"></TD></TR>!.
%
%        qq!<TR><TD ALIGN="right" WIDTH="200">${r}!.emt('Expiration').qq! </TD>!.
%          '<TD WIDTH="408">'.
%
%          include('/elements/select-month_year.html',
%                    'prefix' => 'CARD_exp',
%                    'selected_date' =>
%                      ( $payby =~ /^(CARD|DCRD)$/ ? $cust_main->paydate : '' ),
%                 ).
%
%          '</TD></TR>'.
%
%        qq!<TR><TD ALIGN="right" WIDTH="200">!.emt('CVV2').qq!&nbsp;!.
%
%          qq!(<A HREF="javascript:void(0);" onClick="overlib( OLiframeContent('../docs/cvv2.html', 480, 352, 'cvv2_popup' ), CAPTION, 'CVV2 Help', STICKY, AUTOSTATUSCAP, CLOSECLICK, DRAGGABLE ); return false;">!.emt('help').qq!</A>)!.
%          qq!</TD>!.
%          '<TD WIDTH="408"><INPUT TYPE="text" NAME="CARD_paycvv" VALUE="'. ( $payby =~ /^(CARD|DCRD)$/ && !$cust_main->is_encrypted($cust_main->paycvv) ? $cust_main->paycvv : '' ). '" SIZE=4 MAXLENGTH=4>'.
%
%        qq!<TR><TD ALIGN="right" WIDTH="200"><SPAN ID="paystart_label" $text_disabled>!.emt('Start date').qq! </SPAN></TD>!.
%          '<TD WIDTH="408">'.
%
%          include('/elements/select-month_year.html',
%                    'prefix' => 'CARD_paystart',
%                    'disabled' => $disabled,
%                    'empty_option' => 1,
%                    'start_year' => 2000,
%                    'end_year'   => (localtime())[5] + 1900,
%                    'selected_date' => (
%                      ( $payby =~ /^(CARD|DCRD)$/
%                        && cardtype($payinfo) =~ /^(Switch|Solo)$/ )
%                          ? $cust_main->paystart_month. '-'.
%                            $cust_main->paystart_year 
%                          : ''
%                    )
%                 ).
%
%        qq!<SPAN ID="payissue_label" $text_disabled>!.emt('or Issue number').qq! </SPAN>!.
%          '<INPUT TYPE="text" NAME="CARD_payissue" VALUE="'. ( $payby =~ /^(CARD|DCRD)$/ ? $cust_main->payissue : '' ). qq!" SIZE=3 MAXLENGTH=2 $disabled></TD></TR>!.
%
%        qq!<TR><TD ALIGN="right" WIDTH="200">${r}!.emt('Exact name on card').qq! </TD>!.
%          qq!<TD WIDTH="408"><INPUT TYPE="text" NAME="CARD_payname" VALUE="!. ( $payby =~ /^(CARD|DCRD)$/ ? $cust_main->payname : '' ). qq!"></TD></TR>!.
%
%        qq!<TR><TD COLSPAN=2 WIDTH="608">!.
%           qq!<INPUT TYPE="checkbox" onchange="payauto_changed(this);" ID="CARD_payauto" NAME="CARD_payauto" $CARD_payauto_checked> !.
%           emt('Charge future payments to this [_1] automatically','credit card').'</TD></TR>'.
%
%      ( $conf->exists('cust_main-select-billday') ?
%        qq!<TR><TD ALIGN="RIGHT" id="card_billday" $card_billday_style>
%                    Charge on this day of each month</TD><TD> &nbsp; 
%                   <SELECT id="select_card_billday" $card_billday_select_disabled NAME="billday">!
%                . billday_options($cust_main->billday) . qq!</SELECT> </TD></TR>!
%        : ''
%      ).
%
%      '</TABLE>',
%
%    'CHEK' => 
%
%      '<TABLE BGCOLOR="#cccccc" BORDER=0 CELLSPACING=0 HEIGHT=192>'.
%
%        qq!<TR><TD ALIGN="right" WIDTH="200">${r}!.emt('Account number').qq! </TD>!.
%          qq!<TD><INPUT TYPE="text" SIZE=12 NAME="CHEK_payinfo1" VALUE="!. ( $payby =~ /^(CHEK|DCHK)$/ ? $account : '' ). '"></TD>'.
%          qq!<TD ALIGN="right">!.emt('Type').qq!</TD><TD><SELECT NAME="CHEK_paytype">!.
%            join('', map { qq!<OPTION VALUE="$_" !.($paytype eq $_ ? 'SELECTED' : '').">$_</OPTION>" } @FS::cust_main::paytypes).
%          qq!</SELECT></TD></TR>!.
%
%        qq!<TR><TD ALIGN="right" WIDTH="200">${r}!.emt('ABA/Routing number').qq! </TD>!.
%          qq!<TD COLSPAN="3" WIDTH="408"><INPUT TYPE="text" SIZE=10 MAXLENGTH=9 NAME="CHEK_payinfo2" VALUE="!. ( $payby =~ /^(CHEK|DCHK)$/ ? $aba : '' ). qq!" SIZE=10 MAXLENGTH=9> !.
%          qq!(<A HREF="javascript:void(0);" onClick="overlib( OLiframeContent('../docs/ach.html', 380, 240, 'ach_popup' ), CAPTION, 'ACH Help', STICKY, AUTOSTATUSCAP, CLOSECLICK, DRAGGABLE ); return false;">!.emt('help').qq!</A>)!.
%          qq!</TD></TR>!.
%
%        qq!<INPUT TYPE="hidden" NAME="CHEK_exp_month" VALUE="12">!.
%        qq!<INPUT TYPE="hidden" NAME="CHEK_exp_year" VALUE="2037">!.
%
%        ( $conf->exists('cust_main-require-bank-branch') ? 
%               qq!<TR><TD ALIGN="right">$r !.emt('Branch number').qq!</TD><TD COLSPAN="3">
%                   <INPUT TYPE="text" name="CHEK_payinfo3" VALUE=$branch></TD></TR>! : '' ).
%   
%        qq!<TR><TD ALIGN="right" WIDTH="200">${r}!.emt('Bank name').qq! </TD>!.
%          qq!<TD COLSPAN="3" WIDTH="408"><INPUT TYPE="text" NAME="CHEK_payname" VALUE="!. ( $payby =~ /^(CHEK|DCHK)$/ ? $cust_main->payname : '' ). qq!"></TD></TR>!.
%      ( $conf->exists('show_bankstate') ?
%          qq!<TR><TD ALIGN="right" WIDTH="200">$paystate_label</TD>!.
%          qq!<TD COLSPAN="3" WIDTH="408">!.
%          include('/elements/select-state.html',
%                    'empty'   => emt('(choose)'),
%                    'state'   => $cust_main->paystate,
%                    'country' => $cust_main->country,
%                    'prefix'  => 'CHEK_pay',
%                 ). "</TD></TR>"
%         : '<INPUT TYPE="hidden" NAME="CHEK_paystate" VALUE="'.
%            $cust_main->paystate. '">'
%       ).
%
%
%        qq!<TR><TD COLSPAN=4 WIDTH="608">!.
%           qq!<INPUT TYPE="checkbox" onchange="payauto_changed(this);" ID="CHEK_payauto" NAME="CHEK_payauto" $CHEK_payauto_checked> !.
%           emt('Charge future payments to this [_1] automatically','electronic check').'</TD></TR>'.
%
%      ( $conf->exists('cust_main-select-billday') ?
%        qq!<TR><TD ALIGN="RIGHT" id="chek_billday" $chek_billday_style>
%                    Charge on this day of each month</TD><TD> &nbsp;
%                   <SELECT id="select_chek_billday" $chek_billday_select_disabled NAME="billday">!
%                . billday_options($cust_main->billday) . qq!</SELECT> </TD></TR>!
%        : ''
%      ).
%
%      '</TABLE>',
%
%    'LECB' =>  
%
%      '<TABLE BGCOLOR="#cccccc" BORDER=0 CELLSPACING=0 HEIGHT=192>'.
%
%        qq!<TR><TD ALIGN="right" WIDTH="200">${r}!.emt('Phone number').qq! </TD>!.
%          qq!<TD WIDTH="408"><INPUT TYPE="text" NAME="LECB_payinfo" VALUE="!. ( $payby eq 'LECB' ? $cust_main->payinfo : '' ). qq!" MAXLENGTH=15 SIZE=16></TD></TR>!.
%
%        qq!<INPUT TYPE="hidden" NAME="LECB_exp_month" VALUE="12">!.
%        qq!<INPUT TYPE="hidden" NAME="LECB_exp_year" VALUE="2037">!.
%        qq!<INPUT TYPE="hidden" NAME="LECB_payname" VALUE="">!.
%
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%
%      '</TABLE>',
%
%    'BILL' =>  
%
%      '<TABLE BGCOLOR="#cccccc" BORDER=0 CELLSPACING=0 HEIGHT=192>'.
%
%        qq!<TR><TD ALIGN="right" WIDTH="200">!.emt('P.O.').qq! </TD>!.
%          qq!<TD WIDTH="408"><INPUT TYPE="text" NAME="BILL_payinfo" VALUE="!. ( $payby eq 'BILL' ? $cust_main->payinfo : '' ). qq!"></TD></TR>!.
%
%        qq!<INPUT TYPE="hidden" NAME="BILL_exp_month" VALUE="12">!.
%        qq!<INPUT TYPE="hidden" NAME="BILL_exp_year" VALUE="2037">!.
%
%        qq!<TR><TD ALIGN="right" WIDTH="200">!.emt('Attention').qq! </TD>!.
%          qq!<TD WIDTH="408"><INPUT TYPE="text" NAME="BILL_payname" VALUE="!. encode_entities( $payby eq 'BILL' ? $cust_main->payname : '' ). qq!"></TD></TR>!.
%
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%
%      '</TABLE>',
%
%    'COMP' =>   
%
%      '<TABLE BGCOLOR="#cccccc" BORDER=0 CELLSPACING=0 HEIGHT=192>'.
%
%        qq!<TR><TD ALIGN="right" WIDTH="200">${r}!.emt('Approved by').qq! </TD>!.
%          qq!<TD WIDTH="408"><INPUT TYPE="text" NAME="COMP_payinfo" VALUE=""></TD></TR>!.
%
%        qq!<TR><TD ALIGN="right" WIDTH="200">${r}!.emt('Expiration').qq! </TD>!.
%          '<TD WIDTH="408">'.
%
%          include('/elements/select-month_year.html',
%                    'prefix' => 'COMP_exp',
%                    'selected_date' =>
%                      ( $payby eq 'COMP' ? $cust_main->paydate : '' ),
%                 ).
%
%          '</TD></TR>'.
%
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%
%      '</TABLE>',
%
%    'CASH' =>
%
%      '<TABLE BGCOLOR="#cccccc" BORDER=0 CELLSPACING=0 HEIGHT=192>'.
%
%        qq!<TR><TD ALIGN="right" WIDTH="200">${r}!.emt('Amount').qq! </TD>!.
%          qq!<TD WIDTH="408"><INPUT TYPE="text" NAME="CASH_paid" VALUE="!. ( $payby eq 'CASH' ? $cust_main->paid : '' ). qq!"></TD></TR>!.
%
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%
%      '</TABLE>',
%
%    'WEST' =>
%
%      '<TABLE BGCOLOR="#cccccc" BORDER=0 CELLSPACING=0 HEIGHT=192>'.
%
%        qq!<TR><TD ALIGN="right" WIDTH="200">${r}!.emt('Amount').qq! </TD>!.
%          qq!<TD WIDTH="408"><INPUT TYPE="text" NAME="WEST_paid" VALUE="!. ( $payby eq 'WEST' ? $cust_main->paid : '' ). qq!"></TD></TR>!.
%
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%
%      '</TABLE>',
%
%    'MCRD' =>
%
%      '<TABLE BGCOLOR="#cccccc" BORDER=0 CELLSPACING=0 HEIGHT=192>'.
%
%        qq!<TR><TD ALIGN="right" WIDTH="200">${r}!.emt('Amount').qq! </TD>!.
%          qq!<TD WIDTH="408"><INPUT TYPE="text" NAME="MCRD_paid" VALUE="!. ( $payby eq 'MCRD' ? $cust_main->paid : '' ). qq!"></TD></TR>!.
%
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%        '<TR><TD>&nbsp;</TD></TR>'.
%
%      '</TABLE>',
%
%  );
%
%  #this should use FS::payby
%  my @allopt = qw( CARD CHEK LECB BILL CASH WEST MCRD COMP );
%
%  my %allopt = map { $_ => FS::payby->shortname($_) } @allopt;
%
%  if ( $cust_main->custnum ) {
%    #don't offer CASH/WEST/MCRD initial payment types when editing customer
%    delete $allopt{$_} for qw(CASH WEST MCRD);
%  }
%  
%  my @options = grep exists( $allopt{$_} ), @payby;
%
%  my %payby2option = (
%    ( map { $_ => $_ } @options ),
%    'DCRD' => 'CARD',
%    'DCHK' => 'CHEK',
%  );

  <TD WIDTH="408">
    <& /elements/selectlayers.html,
                  'field'      => 'payby',
                  'curr_value' => $payby2option{$payby || $payby_default || $payby[0] },
                  'options'    => \@options,
                  'labels'     => \%allopt,
                  'html_between' => '</TD></TR></TABLE>',
                  'layer_callback' => sub { my $layer = shift; $payby{$layer}; },
                  'onchange'    => 'init_payauto_changed();',
    &>

  <% &ntable("#cccccc") %>

    <TR><TD>&nbsp;</TD></TR>

%   my @exempt_groups = grep /\S/, $conf->config('tax-cust_exempt-groups');

    <TR>
      <TD WIDTH="608" COLSPAN="2"><INPUT TYPE="checkbox" NAME="tax" VALUE="Y" <% $cust_main->tax eq "Y" ? 'CHECKED' : '' %>> Tax Exempt<% @exempt_groups ? ' (all taxes)' : '' %></TD>
    </TR>

%   foreach my $exempt_group ( @exempt_groups ) {
%     #escape $exempt_group for NAME
      <TR>
        <TD WIDTH="608" COLSPAN="2">&nbsp;&nbsp;<INPUT TYPE="checkbox" NAME="tax_<% $exempt_group %>" VALUE="Y" <% $cust_main->tax_exemption($exempt_group) ? 'CHECKED' : '' %>> Tax Exempt (<% $exempt_group %> taxes)<TD>
      </TR>
%   }

% unless ( $conf->exists('emailinvoiceonly') ) {

    <TR>
      <TD WIDTH="608" COLSPAN="2"><INPUT TYPE="checkbox" NAME="invoicing_list_POST" VALUE="POST" <%

        ( grep { $_ eq 'POST' } @invoicing_list )

          ? 'CHECKED'
          : ''

        %>> <% mt('Postal mail invoice') |h %> 

      </TD>
    </TR>

    <TR>
      <TD WIDTH="608" COLSPAN="2"><INPUT TYPE="checkbox" NAME="invoicing_list_FAX" VALUE="FAX" <%

        ( grep { $_ eq 'FAX' } @invoicing_list )
          ? 'CHECKED'
          : ''

        %>> <% mt('Fax invoice') |h %> 

      </TD>
    </TR>

% }

% unless ( $conf->exists('cust-email-high-visibility')) {
    <TR>
      <TD ALIGN="right" WIDTH="200">
        <% $conf->exists('cust_main-require_invoicing_list_email') ? $r : '' %>Email address(es)
      </TD>
      <TD WIDTH="408"><INPUT TYPE="text" NAME="invoicing_list" VALUE="<% join(', ', grep { $_ !~ /^(POST|FAX)$/ } @invoicing_list ) %>"></TD>
    </TR>
% }

    <TR>
      <TD ALIGN="right" WIDTH="200"><% mt('Invoice terms') |h %> </TD>
      <TD WIDTH="408">
        <& /elements/select-terms.html,
                     'curr_value' => $cust_main->invoice_terms,
        &>
      </TD>
    </TR>

    <TR>
      <TD ALIGN="right" WIDTH="200"><% mt('Credit limit') |h %> </TD>
      <TD WIDTH="408">
        <SCRIPT TYPE="text/javascript">
function toggle(obj) {
  obj.form.credit_limit.disabled = obj.checked;
}
        </SCRIPT>
        <INPUT TYPE="text" NAME="credit_limit" VALUE=<% sprintf('"%.2f"', $cust_main->credit_limit) %><% length($cust_main->credit_limit) ? '' : ' DISABLED' %>>
        <INPUT TYPE="checkbox" NAME="no_credit_limit" VALUE=1 onclick="toggle(this)"<% length($cust_main->credit_limit) ? '' : ' CHECKED'%>> <% mt('Unlimited') |h %> 
      </TD>
    </TR>

% if ( $conf->exists('voip-cust_cdr_spools') ) { 
      <TR>
       <TD COLSPAN="2"><INPUT TYPE="checkbox" NAME="spool_cdr" VALUE="Y" <% $cust_main->spool_cdr eq "Y" ? 'CHECKED' : '' %>> <% mt('Spool CDRs') |h %></TD>
      </TR>
% } else { 
      <INPUT TYPE="hidden" NAME="spool_cdr" VALUE="<% $cust_main->spool_cdr %>">
% }

% if ( $conf->exists('voip-cust_cdr_squelch') ) { 
      <TR>
       <TD COLSPAN="2"><INPUT TYPE="checkbox" NAME="squelch_cdr" VALUE="Y" <% $cust_main->squelch_cdr eq "Y" ? 'CHECKED' : '' %>> <% mt('Omit CDRs from printed invoices') |h %></TD>
      </TR>
% } else { 
      <INPUT TYPE="hidden" NAME="squelch_cdr" VALUE="<% $cust_main->squelch_cdr %>">
% }

% if ( $conf->exists('voip-cust_email_csv_cdr') ) { 
      <TR>
       <TD COLSPAN="2"><INPUT TYPE="checkbox" NAME="email_csv_cdr" VALUE="Y" <% $cust_main->email_csv_cdr eq "Y" ? 'CHECKED' : '' %>> <% mt('Attach CDRs as CSV to emailed invoices') |h %></TD>
      </TR>
% } else { 
      <INPUT TYPE="hidden" NAME="email_csv_cdr" VALUE="<% $cust_main->email_csv_cdr %>">
% }

% if ( $conf->exists('voip-cust_accountcode_cdr') ) { 
       <TR>
        <TD COLSPAN="2">
            <INPUT TYPE="checkbox" 
                   NAME="accountcode_cdr" 
                   VALUE="Y" 
                   <% $cust_main->accountcode_cdr eq "Y" ? 'CHECKED' : '' %>
            > <% mt('Breakdown CDRs by accountcode') |h %></TD>
       </TR>
% } else { 
       <INPUT TYPE="hidden" NAME="accountcode_cdr" VALUE="<% $cust_main->accountcode_cdr %>">
% }

% if ( $show_term || $cust_main->cdr_termination_percentage ) {
      <TR>
       <TD ALIGN="right"><% mt('CDR termination settlement') |h %></TD>
       <TD><INPUT TYPE  = "text"
                  NAME  = "cdr_termination_percentage"
                  SIZE  = 6
                  VALUE = "<% $cust_main->cdr_termination_percentage %>"
                  STYLE = "text-align:right;"
        ><B>%</B></TD>
      </TR>
% } else {
      <INPUT TYPE="hidden" NAME="cdr_termination_percentage" VALUE="<% $cust_main->cdr_termination_percentage %>">
% }

  </TABLE>

  <% $r %> <% mt('required fields') |h %> 
% } 

<script type="text/javascript">
    init_payauto_changed();
</script>

<%once>

my $paystate_label = FS::Msgcat::_gettext('paystate');
$paystate_label = 'Bank state' if $paystate_label =~/^paystate$/;

</%once>
<%init>

my( $cust_main, %options ) = @_;
my @invoicing_list = @{ $options{'invoicing_list'} };
my $payinfo = $options{'payinfo'};
my $conf = new FS::Conf;
my $payby_default = $conf->config('payby-default');

my @payby = grep /\w/, $conf->config('payby');
#@payby = (qw( CARD DCRD CHEK DCHK LECB BILL CASH WEST COMP ))
@payby = (qw( CARD DCRD CHEK DCHK LECB BILL CASH COMP ))
  unless @payby;

my $show_term = '';
if ( $cust_main->custnum ) {
  #false laziness w/view/cust_main/billing.html
  my $term_sql = "SELECT COUNT(*) FROM cust_pkg LEFT JOIN part_pkg USING ( pkgpart ) WHERE custnum = ? AND plan = 'cdr_termination' LIMIT 1";
  my $term_sth = dbh->prepare($term_sql)  or die dbh->errstr;
  $term_sth->execute($cust_main->custnum) or die $term_sth->errstr;
  $show_term = $term_sth->fetchrow_arrayref->[0];
}

</%init>
