%  my $r = qq!<font color="#ff0000">*</font>&nbsp;!;

  <SCRIPT>

    function tax_changed(what) {
      var num = document.getElementById(what.id + '_num'); 
      if ( what.checked ) {
        num.disabled = false;
      } else {
        num.disabled = true;
      }
    }
    
  </SCRIPT>

  <BR><FONT CLASS="fsinnerbox-title"><% mt('Billing information') |h %></FONT>

  <% &ntable("#cccccc") %>

%   my $curuser = $FS::CurrentUser::CurrentUser;

%   ###
%   # complimentry flag
%   ###

%   if ( $curuser->access_right('Complimentary customer') ) {

      <TR>
        <TD COLSPAN="2"><INPUT TYPE="checkbox" NAME="complimentary" VALUE="Y" <% $cust_main->complimentary eq "Y" ? 'CHECKED' : '' %>>Complimentary customer
      </TR>

%   } else {

      <INPUT TYPE="hidden" NAME="complimentary" VALUE="<% $cust_main->complimentary eq 'Y' ? 'Y' : '' %>">

%   }

%   ###
%   # tax exemptions
%   ###

%   my @exempt_groups = grep /\S/, $conf->config('tax-cust_exempt-groups');
%   if (    $conf->exists('cust_class-tax_exempt')
%        || $conf->exists('tax-cust_exempt-groups-require_individual_nums')
%        || $conf->config('tax-cust_exempt-groups-num_req') =~ /\w/
%        || ! $curuser->access_right('Edit customer tax exemptions')
%      )
%   {

      <INPUT TYPE="hidden" NAME="tax" VALUE="<% $cust_main->tax eq 'Y' ? 'Y' : '' %>">

%   } else {

      <TR>
        <TD COLSPAN="2"><INPUT TYPE="checkbox" NAME="tax" VALUE="Y" <% $cust_main->tax eq "Y" ? 'CHECKED' : '' %>> Tax Exempt<% @exempt_groups ? ' (all taxes)' : '' %></TD>
      </TR>

%   }

%   if ( $curuser->access_right('Edit customer tax exemptions') ) {
%     foreach my $exempt_group ( @exempt_groups ) {
%       my $cust_main_exemption = $cust_main->tax_exemption($exempt_group);
%       #escape $exempt_group for NAME etc.
%       my $checked = ($cust_main_exemption || $cgi->param("tax_$exempt_group"));
        <TR>
          <TD>&nbsp;&nbsp;<INPUT TYPE="checkbox" NAME="tax_<% $exempt_group %>" ID="tax_<% $exempt_group %>" VALUE="Y" <% $checked ? 'CHECKED' : '' %> onChange="tax_changed(this)"> Tax Exempt (<% $exempt_group %> taxes)</TD>
          <TD> - Exemption number <INPUT TYPE="text" NAME="tax_<% $exempt_group %>_num" ID="tax_<% $exempt_group %>_num" VALUE="<% $cgi->param("tax_$exempt_group".'_num') || ( $cust_main_exemption ? $cust_main_exemption->exempt_number : '' ) |h %>" <% $checked ? '' : 'DISABLED' %>></TD>
        </TR>
%     }
%   }

%   ###
%   # postal invoices
%   ###

% unless ( $conf->exists('emailinvoiceonly') ) {

    <TR>
      <TD COLSPAN="2"><INPUT TYPE="checkbox" NAME="invoicing_list_POST" VALUE="POST" <%

        ( grep { $_ eq 'POST' } @invoicing_list )

          ? 'CHECKED'
          : ''

        %>> <% mt('Postal mail invoices') |h %> 

      </TD>
    </TR>

% }

%   ###
%   # email invoices
%   ###

    <TR>
      <TD COLSPAN="2"><INPUT TYPE="checkbox" NAME="invoice_email" VALUE="Y" <%

        ( $cust_main->invoice_noemail eq 'Y' )
          ? ''
          : 'CHECKED'

        %>> <% mt('Email invoices') |h %> 

      </TD>
    </TR>

% unless ( $conf->exists('cust-email-high-visibility')) {
   <TR>
      <TD ALIGN="right" WIDTH="200">
        <% $conf->exists('cust_main-require_invoicing_list_email', $agentnum) 
            ? $r : '' %>Email address(es)
      </TD>
      <TD WIDTH="408"><INPUT TYPE="text" NAME="invoicing_list" VALUE="<% join(', ', grep { $_ !~ /^(POST|FAX)$/ } @invoicing_list ) %>">
      <INPUT TYPE="checkbox" NAME="message_noemail" VALUE="Y" <%
        ( $cust_main->message_noemail eq 'Y' )
          ? 'CHECKED'
          : ''
        %>> <% emt('Do not send notices') %>
      </TD>
    </TR>
% }

%   ###
%   # prorate_day
%   ###

% if ( $conf->exists('cust_main-select-prorate_day') ) {
    <TR>
      <TD ALIGN="right" WIDTH="200"><% mt('Prorate day (1-28)') |h %> </TD>
      <TD>
        <INPUT TYPE="text" NAME="prorate_day" VALUE="<% $cust_main->prorate_day %>" SIZE=3 MAXLENGTH=2>
      </TD>
    </TR>
% } else {
    <INPUT TYPE="hidden" NAME="prorate_day" VALUE="<% $cust_main->prorate_day %>">
% }

%   ###
%   # billday
%   ###

    <TR>
      <TD ALIGN="right" WIDTH="200"><% mt('Charge card/e-check on this day of the month') |h %> </TD>
      <TD>
        <SELECT NAME="billday">
          <% billday_options($cust_main->billday) %>
        </SELECT>
      </TD>
    </TR>

%  sub billday_options {
%   my $curr_value = shift;
%   my $ret = '';
%   for my $billday ( 1 .. 28 ) {
%       my $sel = '';
%       $sel = "SELECTED='SELECTED'" if $curr_value == $billday;
%       $ret .= "<OPTION VALUE='$billday' $sel>$billday</OPTION>";
%   }
%   $ret;
%  }

%   ###
%   # invoice_terms
%   ###

    <TR>
      <TD ALIGN="right" WIDTH="200"><% mt('Invoice terms') |h %> </TD>
      <TD WIDTH="408">
        <& /elements/select-terms.html,
             'curr_value' => $cust_main->invoice_terms,
             'agentnum'   => $cust_main->agentnum,
        &>
      </TD>
    </TR>

%   ###
%   # credit_limit
%   ###

    <TR>
      <TD ALIGN="right" WIDTH="200"><% mt('Credit limit') |h %> </TD>
      <TD WIDTH="408">
        <SCRIPT TYPE="text/javascript">
function toggle(obj) {
  obj.form.credit_limit.disabled = obj.checked;
}
        </SCRIPT>
        <INPUT TYPE  = "text"
               NAME  = "credit_limit"
               VALUE = "<% sprintf('%.2f', $cust_main->credit_limit) %>"
               <% length($cust_main->credit_limit) ? '' : ' DISABLED' %>
        >
%       my $default_credit_limit = $conf->config('default_credit_limit');
        <INPUT TYPE  = "checkbox"
               NAME  = "no_credit_limit"
               VALUE = 1
               onClick="toggle(this)"
               <% length($cust_main->credit_limit) ? '' : ' CHECKED'%>
        > <% $default_credit_limit
               ? "Default ($money_char". sprintf("%.2f", $default_credit_limit).
                 ")"
               : mt('Unlimited')
            |h
          %> 
      </TD>
    </TR>

%   ###
%   # CDR flags / options
%   ###

% if ( $conf->exists('voip-cust_cdr_spools') ) { 
      <TR>
       <TD COLSPAN="2"><INPUT TYPE="checkbox" NAME="spool_cdr" VALUE="Y" <% $cust_main->spool_cdr eq "Y" ? 'CHECKED' : '' %>> <% mt('Spool CDRs') |h %></TD>
      </TR>
% } else { 
      <INPUT TYPE="hidden" NAME="spool_cdr" VALUE="<% $cust_main->spool_cdr %>">
% }

% if ( $conf->exists('voip-cust_cdr_squelch') ) { 
      <TR>
       <TD COLSPAN="2"><INPUT TYPE="checkbox" NAME="squelch_cdr" VALUE="Y" <% $cust_main->squelch_cdr eq "Y" ? 'CHECKED' : '' %>> <% mt($conf->exists('voip-cdr_email') ? 'Omit CDRs from printed invoices' : 'Omit CDRs from invoices') |h %></TD>
      </TR>
% } else { 
      <INPUT TYPE="hidden" NAME="squelch_cdr" VALUE="<% $cust_main->squelch_cdr %>">
% }

% if ( $conf->exists('voip-cust_email_csv_cdr') ) { 
      <TR>
       <TD COLSPAN="2"><INPUT TYPE="checkbox" NAME="email_csv_cdr" VALUE="Y" <% $cust_main->email_csv_cdr eq "Y" ? 'CHECKED' : '' %>> <% mt('Attach CDRs as CSV to emailed invoices') |h %></TD>
      </TR>
% } else { 
      <INPUT TYPE="hidden" NAME="email_csv_cdr" VALUE="<% $cust_main->email_csv_cdr %>">
% }

% if ( $conf->exists('voip-cust_accountcode_cdr') ) { 
       <TR>
        <TD COLSPAN="2">
            <INPUT TYPE="checkbox" 
                   NAME="accountcode_cdr" 
                   VALUE="Y" 
                   <% $cust_main->accountcode_cdr eq "Y" ? 'CHECKED' : '' %>
            > <% mt('Breakdown CDRs by accountcode') |h %></TD>
       </TR>
% } else { 
       <INPUT TYPE="hidden" NAME="accountcode_cdr" VALUE="<% $cust_main->accountcode_cdr %>">
% }

% if ( $show_term || $cust_main->cdr_termination_percentage ) {
      <TR>
       <TD ALIGN="right"><% mt('CDR termination settlement') |h %></TD>
       <TD><INPUT TYPE  = "text"
                  NAME  = "cdr_termination_percentage"
                  SIZE  = 6
                  VALUE = "<% $cust_main->cdr_termination_percentage %>"
                  STYLE = "text-align:right;"
        ><B>%</B></TD>
      </TR>
% } else {
      <INPUT TYPE="hidden" NAME="cdr_termination_percentage" VALUE="<% $cust_main->cdr_termination_percentage %>">
% }

%   ###
%   # Invoicing currency
%   ###

%my @currencies = $conf->config('currencies');
%if ( scalar(@currencies) ) {
%  unshift @currencies, ''; #default
%  my %currency_labels = map { $_ => "$_: ". code2currency($_) } @currencies;
%  $currency_labels{''} =
%    'Default: '. code2currency( $conf->config('currency') || 'USD' );

    <& /elements/tr-select.html, 
         'label'         => emt('Invoicing currency'),
         'field'         => 'currency',
         'options'       => \@currencies,
         'labels'        => \%currency_labels,
         'curr_value'    => $cust_main->currency,
    &>
% }

%   ###
%   # Invoicing locale
%   ###

%my @available_locales = $conf->config('available-locales');
%if ( scalar(@available_locales) ) {
%  push @available_locales, ''
%    unless $cust_main->locale && $conf->exists('cust_main-require_locale');
%  my %locale_labels = map { 
%    my %ll;
%    my %info = FS::Locales->locale_info($_);
%    $ll{$_} = $info{name} . " (" . $info{country} . ")";
%    %ll;
%  } FS::Locales->locales;
%    
%  my $label = ( $conf->exists('cust_main-require_locale') ? $r : '' ).
%              emt('Invoicing locale');

    <& /elements/tr-select.html, 
         'label'         => $label,
         'field'         => 'locale',
         'options'       => \@available_locales,
         'labels'        => \%locale_labels,
         'curr_value'    => $cust_main->locale,
    &>
% }

  </TABLE>
  <BR>

  <FONT CLASS="fsinnerbox-title"><% mt('Payment information') |h %></FONT>
  <& cust_payby.html, 'cust_main'=>$cust_main, &>  

<%init>

my( $cust_main, %options ) = @_;
my @invoicing_list = @{ $options{'invoicing_list'} };
my $payinfo = $options{'payinfo'};
my $conf = new FS::Conf;

my $money_char = $conf->config('money_char') || '$';

my $show_term = '';
if ( $cust_main->custnum ) {
  #false laziness w/view/cust_main/billing.html
  my $term_sql = "SELECT COUNT(*) FROM cust_pkg LEFT JOIN part_pkg USING ( pkgpart ) WHERE custnum = ? AND plan = 'cdr_termination' LIMIT 1";
  my $term_sth = dbh->prepare($term_sql)  or die dbh->errstr;
  $term_sth->execute($cust_main->custnum) or die $term_sth->errstr;
  $show_term = $term_sth->fetchrow_arrayref->[0];
}

my $agentnum = $cust_main->agentnum if $cust_main->custnum;

</%init>
