% if ( scalar(@attachments) ) {

  <% include('/elements/init_overlib.html') %>

  <% include("/elements/table-grid.html") %>

  <TR>
    <TH CLASS="grid" BGCOLOR="#cccccc">Date</TH>
%   if ( $conf->exists('cust_main_note-display_times') ) {
      <TH CLASS="grid" BGCOLOR="#cccccc">Time</TH>
%   }
    <TH CLASS="grid" BGCOLOR="#cccccc">Person</TH>
    <TH CLASS="grid" BGCOLOR="#cccccc">Filename</TH>
    <TH CLASS="grid" BGCOLOR="#cccccc">Description</TH>
    <TH CLASS="grid" BGCOLOR="#cccccc">Type</TH>
    <TH CLASS="grid" BGCOLOR="#cccccc">Size</TH>
    <TH CLASS="grid" BGCOLOR="#cccccc"></TH>
  </TR>

% my $bgcolor1 = '#eeeeee';
% my $bgcolor2 = '#ffffff';
% my $bgcolor = '';
% if($cgi->param('show_deleted')) {
%   if ($curuser->access_right('View deleted attachments')) {
%     @attachments = grep { $_->disabled } @attachments;
%   }
%   else {
%     @attachments = ();
%   }
% }
% else {
%   @attachments = grep { not $_->disabled } @attachments;
% }
%
% foreach my $attach (@attachments) {
%
%   if ( $bgcolor eq $bgcolor1 ) {
%     $bgcolor = $bgcolor2;
%   } else {
%     $bgcolor = $bgcolor1;
%   }
%
%   my $pop = popurl(3);
%   my $attachnum = $attach->attachnum;
%   my $edit = '';
%   if($attach->disabled) { # then you can undelete it or purge it.
%     if ($curuser->access_right('Undelete attachment')) {
%       my $clickjs = popup('edit/process/cust_main_attach.cgi?'.
%                           "custnum=$custnum;attachnum=$attachnum;".
%                           "undelete=1",
%                           'Undelete attachment');
%       $edit .= qq!&nbsp; <A HREF="javascript:void(0);" $clickjs>(undelete)</A>!;
%     }
%     if ($curuser->access_right('Purge attachment')) {
%       my $clickjs = popup('edit/process/cust_main_attach.cgi?'.
%                           "custnum=$custnum;attachnum=$attachnum;".
%                           "purge=1",
%                           'Purge attachment',
%                           'Permanently remove this file?');
%       $edit .= qq!&nbsp; <A HREF="javascript:void(0);" $clickjs>(purge)</A>!;
%     }
%   }
%   else { # you can download or edit it
%     if ($curuser->access_right('Edit attachment') ) {
%       my $clickjs = popup('edit/cust_main_attach.cgi?'.
%                           "custnum=$custnum;attachnum=$attachnum",
%                           'Edit attachment properties');
%       $edit .= qq!&nbsp; <A HREF="javascript:void(0);" $clickjs>(edit)</A>!;
%     }
%     if($curuser->access_right('Delete attachment') ) {
%       my $clickjs = popup('edit/process/cust_main_attach.cgi?'.
%                           "custnum=$custnum;attachnum=$attachnum;delete=1",
%                           'Delete attachment',
%                           'Delete this file?');
%       $edit .= qq!&nbsp; <A HREF="javascript:void(0);" $clickjs>(delete)</A>!;
%     }
%     if ($curuser->access_right('Download attachment') ) {
%       $edit .= qq!&nbsp; <A HREF="!.popurl(1).'attachment.html?'.$attachnum.qq!">(download)</A>!;
%     }
%   }

    <TR>
      <% note_datestr($attach,$conf,$bgcolor) %>
      <TD CLASS="grid" BGCOLOR="<% $bgcolor %>">
        &nbsp;<% $attach->otaker%>
      </TD>
      <TD CLASS="grid" BGCOLOR="<% $bgcolor %>">
       &nbsp;<% $attach->filename %>
      </TD>
      <TD CLASS="grid" BGCOLOR="<% $bgcolor %>">
       &nbsp;<% $attach->title %>
      <TD CLASS="grid" BGCOLOR="<% $bgcolor %>">
       &nbsp;<% $attach->mime_type %>
      </TD>
      <TD CLASS="grid" BGCOLOR="<% $bgcolor %>">
       &nbsp;<% size_units( $attach->size ) %>
      </TD>
      <TD CLASS="grid" BGCOLOR="<% $bgcolor %>">
       <% $edit %>
      </TD>
    </TR>

% } #end display notes

</TABLE>

% }
<%init>

my $conf = new FS::Conf;
my $curuser = $FS::CurrentUser::CurrentUser;

my(%opt) = @_;

my $custnum = $opt{'custnum'};

my $cust_main = qsearchs('cust_main', {'custnum' => $custnum} );
die "Customer not found!" unless $cust_main;

my (@attachments) = qsearch('cust_attachment', {'custnum' => $custnum});

#subroutines

sub note_datestr {
  my($note, $conf, $bgcolor) = @_ or return '';
  my $td = qq{<TD CLASS="grid" BGCOLOR="$bgcolor" ALIGN="right">};
  my $format = "$td%b&nbsp;%o,&nbsp;%Y</TD>";
  $format .= "$td%l:%M%P</TD>"
    if $conf->exists('cust_main_note-display_times');
  ( my $strip = time2str($format, $note->_date) ) =~ s/ (\d)/$1/g;
  $strip;
}

sub size_units {
  my $bytes = shift;
  return $bytes if $bytes < 1024;
  return int($bytes / 1024)."K" if $bytes < 1048576;
  return int($bytes / 1048576)."M";
}

sub popup {
  my ($url, $label, $confirm) = @_;
  my $onclick = 
    include('/elements/popup_link_onclick.html',
      'action'     => popurl(2).$url,
      'actionlabel' => $label,
      'width'       => 510,
      'height'      => 315,
      'frame'       => 'top',
    );
  $onclick = qq!if(confirm('$confirm')) { $onclick }! if $confirm;
  return qq!onclick="$onclick"!;
}


</%init>
