<FONT CLASS="fsinnerbox-title"><% mt('Billing information') |h %></FONT>
% my $yes = emt('yes');
% my $no = emt('no');

<TABLE CLASS="fsinnerbox">

% if ( $cust_main->complimentary ) {
  <TR>
    <TH ALIGN="right"><% mt('Complimentary') |h %></TH>
    <TD><% $yes %></TD>
  </TR>
% }

%( my $balance = $cust_main->balance )
%  =~ s/^(\-?)(.*)$/<FONT SIZE=+1>$1<\/FONT>$money_char$2/;

<TR>
  <TH ALIGN="right"><% mt('Balance due') |h %></TH>
  <TD><B><% $balance %></B></TD>
</TR>

% #54: just an arbitrary number i pulled out of my goober.  in reality we'd want
% # to consider e.g. a histogram of num_ncancelled_packages for the entire
% # customer base, and compare it to a graph of the overhead for generating this
% # information.  (and optimize it better, we could get it more from SQL)
% if ( $cust_main->num_ncancelled_pkgs < 54 ) {
%   my $sth = dbh->prepare("
%     SELECT DISTINCT freq FROM cust_pkg LEFT JOIN part_pkg USING (pkgpart)
%       WHERE freq IS NOT NULL AND freq != '0'
%         AND ( cancel IS NULL OR cancel = 0 )
%         AND custnum = ?
%   ") or die $DBI::errstr;
% 
%   $sth->execute($cust_main->custnum) or die $sth->errstr;

%   #not really a numeric sort because freqs can actually be all sorts of things
%   # but good enough for the 99% cases of ordering monthly quarterly annually
%   my @freqs = sort { $a <=> $b } map { $_->[0] } @{ $sth->fetchall_arrayref };
% 
%   foreach my $freq (@freqs) {
%     my @cust_pkg = qsearch({
%       'table'     => 'cust_pkg',
%       'addl_from' => 'LEFT JOIN part_pkg USING (pkgpart)',
%       'hashref'   => { 'custnum' => $cust_main->custnum, },
%       'extra_sql' => 'AND ( cancel IS NULL OR cancel = 0 )
%                       AND freq = '. dbh->quote($freq),
%     }) or next;
% 
%     my $freq_pretty = $cust_pkg[0]->part_pkg->freq_pretty;
%
%     my $amount = 0;
%     foreach my $cust_pkg (@cust_pkg) {
%       my $part_pkg = $cust_pkg->part_pkg;
%       next if $cust_pkg->susp
%            && ! $cust_pkg->option('suspend_bill')
%            && ( ! $part_pkg->option('suspend_bill')
%                 || $cust_pkg->option('no_suspend_bill')
%               );
%
%       #add recurring amounts for this package and its billing add-ons
%       foreach my $l_part_pkg ( $part_pkg->self_and_bill_linked ) {
%         $amount += $l_part_pkg->option('recur_fee');
%       }
%
%       #subtract amounts for any active discounts
%       #(there should only be one at the moment, otherwise this makes no sense)
%       foreach my $cust_pkg_discount ( $cust_pkg->cust_pkg_discount_active ) {
%         my $discount = $cust_pkg_discount->discount;
%         #and only one of these for each
%         $amount -= $discount->amount;
%         $amount -= $amount * $discount->percent/100;
%       }
%
%     }
   
      <TR>
        <TH ALIGN="right"><% emt( ucfirst($freq_pretty). ' recurring' ) %></TH>
        <TD><% $money_char. sprintf('%.2f', $amount) %></TD>
        </TD>
      </TR>
%   }

% }

% if ( $conf->exists('cust_main-select-prorate_day') ) {
<TR>
  <TH ALIGN="right"><% mt('Prorate day of month') |h %></TH>
  <TD><% $cust_main->prorate_day %>
  </TD>
</TR>
% }

% if ( $conf->exists('cust_main-select-billday') 
%        && qsearch({ 'table'     => 'cust_payby',
%                     'hashref'   => { 'custnum' => $cust_main->custnum, },
%                     'extra_sql' => "AND payby IN ( 'CARD', 'CHEK' )",
%                     'order_by'  => 'LIMIT 1',
%                  })
%    )
% {
    <TR>
      <TH ALIGN="right"><% mt('Payment day of month') |h %></TH>
      <TD><% $cust_main->billday %>
      </TD>
    </TR>
% }

% if ( $cust_main->po_number ) { 
    <TR>
      <TH ALIGN="right"><% mt('Purchase Order #') |h %></TH>
      <TD><% $cust_main->po_number %></TD>
    </TR>
% } 

% my @exempt_groups = grep /\S/, $conf->config('tax-cust_exempt-groups');

% unless (    $conf->exists('cust_class-tax_exempt')
%          || $conf->exists('tax-cust_exempt-groups-require_individual_nums')
%        )
% {
    <TR>
      <TH ALIGN="right"><% mt('Tax exempt') |h %><% @exempt_groups ? ' ('.emt('all taxes').')' : '' %></TH>
      <TD><% $cust_main->tax ? $yes : $no %></TD>
    </TR>
% }

% foreach my $exempt_group ( @exempt_groups ) {
%   my $cust_main_exemption = $cust_main->tax_exemption($exempt_group);
    <TR>
      <TH ALIGN="right"><% mt('Tax exempt') |h %> (<% $exempt_group %> taxes)</TH>
      <TD><% $cust_main_exemption ? $yes : $no %>
        <% $cust_main_exemption ? $cust_main_exemption->exempt_number : '' |h %>
      </TD>
    </TR>
% }

% if ( $conf->config('tax_data_vendor') eq 'cch' ) {
<TR>
  <TH ALIGN="right"><% mt('Tax location') |h %></TH>
% my $tax_location = $conf->exists('tax-ship_address')
%                    ? $cust_main->ship_location
%                    : $cust_main->bill_location;
  <TD><% $tax_location->geocode('cch') %></TD>
</TR>
% }
<TR>
  <TH ALIGN="right"><% mt('Postal mail invoices') |h %></TH>
  <TD>
    <% ( grep { $_ eq 'POST' } @invoicing_list )
         ? $yes. ( $cust_main->invoice_attn
                     ? ', attn: '. $cust_main->invoice_attn
                     : ''
                 )
         : $no
    %>
  </TD>
</TR>
<TR>
  <TH ALIGN="right"><% mt('Email invoices') |h %></TH>
  <TD>
    <% $cust_main->invoice_noemail ? $no : $yes %>
  </TD>
</TR>
% unless ( $conf->exists('cust-email-high-visibility')) {
<TR>
  <TH ALIGN="right"><% mt('Email address(es)') |h %></TH>
  <TD>
    <% join(', ', grep { $_ !~ /^(POST|FAX)$/ } @invoicing_list ) || $no %>
%   if ( $cust_main->message_noemail ) {
    <BR>
    <SPAN STYLE="font-size: small"><% emt('(do not send notices)') %></SPAN>
%   }
  </TD>
</TR>
% }
<TR>
  <TH ALIGN="right"><% mt('Invoice terms') |h %></TH>
  <TD>
    <% $cust_main->invoice_terms
         || emt('Default').' ('. ( $conf->config('invoice_default_terms', $cust_main->agentnum)
                                     || emt('Payable upon receipt')
                                 ).
                           ')'
    %>
  </TD>
</TR>
<TR>
  <TH ALIGN="right"><% mt('Credit limit') |h %></TH>
  <TD>
%   my $default_credit_limit = $conf->config('default_credit_limit');
    <% length($cust_main->credit_limit)
         ? $money_char. sprintf("%.2f", $cust_main->credit_limit)
         : $default_credit_limit
           ? "Default ($money_char". sprintf("%.2f", $default_credit_limit). ")"
           : emt('Unlimited')
    %>
%   if ( $cust_main->num_cust_main_credit_limit ) {
      <A HREF="<% $p %>search/cust_main_credit_limit.html?custnum=<% $cust_main->custnum %>">(incidents)</A>
%   }
  </TD>
</TR>

% if ( $conf->exists('voip-cust_cdr_spools') ) { 
  <TR>
    <TH ALIGN="right"><% mt('Spool CDRs') |h %></TH>
    <TD><% $cust_main->spool_cdr ? $yes : $no %></TD>
  </TR>
% } 

% if ( $conf->exists('voip-cust_cdr_squelch') ) { 
  <TR>
    <TH ALIGN="right"><% mt($conf->exists('voip-cdr_email') ? 'Print CDRs' : 'Show CDRs') |h %></TH>
    <TD><% $cust_main->squelch_cdr ? $no : $yes %></TD>
  </TR>
% } 

% if ( $conf->exists('voip-cust_accountcode_cdr') ) { 
   <TR>
     <TH ALIGN="right"><% mt('Breakdown CDRs by accountcode') |h %></TH>
     <TD><% $cust_main->accountcode_cdr ? $yes : $no %></TD>
   </TR>
% }

% if ( $conf->exists('voip-cust_email_csv_cdr') ) { 
  <TR>
    <TH ALIGN="right"><% mt('Email CDRs as CSV') |h %></TH>
    <TD><% $cust_main->email_csv_cdr ? $yes : $no %></TD>
  </TR>
% } 

% if ( $show_term || $cust_main->cdr_termination_percentage ) {
  <TR>
    <TH ALIGN="right"><% mt('CDR termination settlement') |h %></TH>
    <TD><% $cust_main->cdr_termination_percentage %><% $cust_main->cdr_termination_percentage =~ /\d/ ? '%' : '' %></TD>
  </TR>
% }

% if ( $cust_main->currency ) {
  <TR>
    <TH ALIGN="right"><% mt('Invoicing currency') |h %></TH>
    <TD><% $cust_main->currency. ': '. code2currency($cust_main->currency) %></TD>
  </TR>
% }

% if ( $cust_main->locale ) {
% my %locale_info = FS::Locales->locale_info($cust_main->locale);
  <TR>
    <TH ALIGN="right"><% mt('Invoicing locale') |h %></TH>
    <TD><% $locale_info{name} . " (" . $locale_info{country} .")" %></TD>
  </TR>
% }


</TABLE>
<%init>

my( $cust_main ) = @_;
my @invoicing_list = $cust_main->invoicing_list;
my $conf = new FS::Conf;
my $money_char = $conf->config('money_char') || '$';

#false laziness w/edit/cust_main/billing.html
my $term_sql = "SELECT COUNT(*) FROM cust_pkg LEFT JOIN part_pkg USING ( pkgpart ) WHERE custnum = ? AND plan = 'cdr_termination' LIMIT 1";
my $term_sth = dbh->prepare($term_sql)  or die dbh->errstr;
$term_sth->execute($cust_main->custnum) or die $term_sth->errstr;
my $show_term = $term_sth->fetchrow_arrayref->[0];

</%init>
