<% mt('Billing information') |h %> 
%# If we can't see the unencrypted card, then bill now is an exercise in
%# frustration (without some sort of job queue magic to send it to a secure
%# machine, anyway)
%if (  $FS::CurrentUser::CurrentUser->access_right('Bill customer now')
%      && ! $cust_main->is_encrypted($cust_main->payinfo)
%   ) { 
%#  (<A HREF="<% $p %>misc/bill.cgi?<% $cust_main->custnum %>"><% mt('Bill now') |h %></A>)
  (<& /elements/bill.html,
                custnum   => $cust_main->custnum,
                label     => emt('Bill now'),
                url       => $p.'view/cust_main.cgi?'.$cust_main->custnum,
   &>)
% } 

<% ntable("#cccccc") %><TR><TD><% ntable("#cccccc",2) %>

%( my $balance = $cust_main->balance )
%  =~ s/^(\-?)(.*)$/<FONT SIZE=+1>$1<\/FONT>$money_char$2/;

<TR>
  <TD ALIGN="right"><% mt('Balance due') |h %></TD>
  <TD BGCOLOR="#ffffff"><B><% $balance %></B></TD>
</TR>

% if ( $conf->exists('cust_main-select-billday') 
%    && ($cust_main->payby eq 'CARD' || $cust_main->payby eq 'CHEK') ) {
<TR>
  <TD ALIGN="right"><% mt('Billing day of month') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $cust_main->billday %>
  </TD>
</TR>
% }

<TR>
  <TD ALIGN="right"><% mt('Billing type') |h %></TD>
  <TD BGCOLOR="#ffffff">
% if ( $cust_main->payby eq 'CARD' || $cust_main->payby eq 'DCRD' ) { 

%   my $autodemand = $cust_main->payby eq 'CARD' ? 'automatic' : 'on-demand';
    <% mt("Credit card ([_1])",$autodemand) |h %>
  </TD>
</TR>
<TR>
  <TD ALIGN="right"><% mt('Card number') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $cust_main->paymask %></TD>
</TR>
%
%#false laziness w/elements/select-month_year.html & edit/cust_main/billing.html
%my( $mon, $year );
%my $date = $cust_main->paydate || '12-2037';
%if ( $date  =~ /^(\d{4})-(\d{1,2})-\d{1,2}$/ ) { #PostgreSQL date format
%  ( $mon, $year ) = ( $2, $1 );
%} elsif ( $date =~ /^(\d{1,2})-(\d{1,2}-)?(\d{4}$)/ ) {
%  ( $mon, $year ) = ( $1, $3 );
%} else {
%  warn "unrecognized expiration date format: $date";
%  ( $mon, $year ) = ( '', '' );
%}
%

<TR>
  <TD ALIGN="right"><% mt('Expiration') |h %></TD>
  <TD BGCOLOR="#ffffff"><% "$mon/$year" %></TD>
</TR>
% if ( $cust_main->paystart_month ) { 

  <TR>
    <TD ALIGN="right"><% mt('Start date') |h %></TD>
    <TD BGCOLOR="#ffffff"><% $cust_main->paystart_month. '/'. $cust_main->paystart_year %>
  </TR>
% } elsif ( $cust_main->payissue ) { 

  <TR>
    <TD ALIGN="right"><% mt('Issue #') |h %></TD>
    <TD BGCOLOR="#ffffff"><% $cust_main->payissue %>
  </TR>
% } 


<TR>
  <TD ALIGN="right"><% mt('Name on card') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $cust_main->payname %></TD>
</TR>
% } elsif ( $cust_main->payby eq 'CHEK' || $cust_main->payby eq 'DCHK') {
%     my( $account, $aba ) = split('@', $cust_main->paymask );
%  my $branch = '';
%  ($branch,$aba) = split('\.',$aba) if $conf->exists('cust_main-require-bank-branch');


% my $autodemand = $cust_main->payby eq 'CHEK' ? 'automatic' : 'on-demand';
    <% mt("Electronic check ([_1])",$autodemand) |h %>
  </TD>
</TR>
<TR>
  <TD ALIGN="right"><% mt('ABA/Routing code') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $aba %></TD>
</TR>

% if ( $conf->exists('cust_main-require-bank-branch') ) {
<TR>
  <TD ALIGN="right"><% mt('Branch number') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $branch %></TD>
<TR>
% }

  <TD ALIGN="right"><% mt('Account number') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $account %></TD>
</TR>
<TR>
  <TD ALIGN="right"><% mt('Account type') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $cust_main->paytype %></TD>
</TR>
<TR>
  <TD ALIGN="right"><% mt('Bank name') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $cust_main->payname %></TD>
</TR>
% if ( $conf->exists('show_bankstate') ) {
<TR>
  <TD ALIGN="right"><% $paystate_label %></TD>
  <TD BGCOLOR="#ffffff"><% $cust_main->paystate || '&nbsp;&nbsp;&nbsp;' %></TD>
</TR>
% }
% } elsif ( $cust_main->payby eq 'LECB' ) {
%     $cust_main->payinfo =~ /^(\d{3})(\d{3})(\d{4})$/;
%     my $payinfo = "$1-$2-$3";

    <% mt('Phone bill billing') |h %> 
  </TD>
</TR>
<TR>
  <TD ALIGN="right"><% mt('Phone number') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $payinfo %></TD>
</TR>
% } elsif ( $cust_main->payby eq 'BILL' ) { 

    <% mt('Billing') |h %> 
  </TD>
</TR>
% if ( $cust_main->payinfo ) { 

<TR>
  <TD ALIGN="right"<% mt('>P.O.') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $cust_main->payinfo %></TD>
</TR>
% } 


<TR>
  <TD ALIGN="right"><% mt('Attention') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $cust_main->payname |h %></TD>
</TR>
% } elsif ( $cust_main->payby eq 'COMP' ) { 

    <% mt('Complimentary') |h %> 
  </TD>
</TR>
<TR>
  <TD ALIGN="right"><% mt('Authorized by') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $cust_main->payinfo %></TD>
</TR>
%
%#false laziness w/above etc.
%my( $mon, $year );
%my $date = $cust_main->paydate || '12-2037';
%if ( $date  =~ /^(\d{4})-(\d{1,2})-\d{1,2}$/ ) { #PostgreSQL date format
%  ( $mon, $year ) = ( $2, $1 );
%} elsif ( $date =~ /^(\d{1,2})-(\d{1,2}-)?(\d{4}$)/ ) {
%  ( $mon, $year ) = ( $1, $3 );
%} else {
%  warn "unrecognized expiration date format: $date";
%  ( $mon, $year ) = ( '', '' );
%}
%

<TR>
  <TD ALIGN="right"><% mt('Expiration') |h %></TD>
  <TD BGCOLOR="#ffffff"><% "$mon/$year" %></TD>
</TR>
% } 

% my $yes = emt('yes');
% my $no = emt('no');

% my @exempt_groups = grep /\S/, $conf->config('tax-cust_exempt-groups');
<TR>
  <TD ALIGN="right"><% mt('Tax exempt') |h %><% @exempt_groups ? ' ('.emt('all taxes').')' : '' %></TD>
  <TD BGCOLOR="#ffffff"><% $cust_main->tax ? $yes : $no %></TD>
</TR>
% foreach my $exempt_group ( @exempt_groups ) {
<TR>
  <TD ALIGN="right"><% mt('Tax exempt') |h %> (<% $exempt_group %> taxes)</TD>
  <TD BGCOLOR="#ffffff"><% $cust_main->tax_exemption($exempt_group) ? $yes : $no %></TD>
</TR>
% }

% if ( $conf->exists('enable_taxproducts') ) {
<TR>
  <TD ALIGN="right"><% mt('Tax location') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $cust_main->geocode('cch') %></TD>
</TR>
% }
<TR>
  <TD ALIGN="right"><% mt('Postal invoices') |h %></TD>
  <TD BGCOLOR="#ffffff">
    <% ( grep { $_ eq 'POST' } @invoicing_list ) ? $yes : $no %>
  </TD>
</TR>
<TR>
  <TD ALIGN="right"><% mt('FAX invoices') |h %></TD>
  <TD BGCOLOR="#ffffff">
    <% ( grep { $_ eq 'FAX' } @invoicing_list ) ? $yes : $no %>
  </TD>
</TR>
% unless ( $conf->exists('cust-email-high-visibility')) {
<TR>
  <TD ALIGN="right"><% mt('Email invoices') |h %></TD>
  <TD BGCOLOR="#ffffff">
    <% join(', ', grep { $_ !~ /^(POST|FAX)$/ } @invoicing_list ) || $no %>
  </TD>
</TR>
% }
<TR>
  <TD ALIGN="right"><% mt('Invoice terms') |h %></TD>
  <TD BGCOLOR="#ffffff">
    <% $cust_main->invoice_terms || emt('Default').' ('. ( $conf->config('invoice_default_terms') || emt('Payable upon receipt') ). ')' %>
  </TD>
</TR>
<TR>
  <TD ALIGN="right"><% mt('Credit limit') |h %></TD>
  <TD BGCOLOR="#ffffff">
    <% length($cust_main->credit_limit) ? 
        $money_char.sprintf("%.2f", $cust_main->credit_limit) :
        emt('Unlimited') %>
  </TD>
</TR>

% if ( $conf->exists('voip-cust_cdr_spools') ) { 
  <TR>
    <TD ALIGN="right"><% mt('Spool CDRs') |h %></TD>
    <TD BGCOLOR="#ffffff"><% $cust_main->spool_cdr ? $yes : $no %></TD>
  </TR>
% } 

% if ( $conf->exists('voip-cust_cdr_squelch') ) { 
  <TR>
    <TD ALIGN="right"><% mt($conf->exists('voip-cdr_email') ? 'Print CDRs' : 'Show CDRs') |h %></TD>
    <TD BGCOLOR="#ffffff"><% $cust_main->squelch_cdr ? $no : $yes %></TD>
  </TR>
% } 

% if ( $conf->exists('voip-cust_accountcode_cdr') ) { 
   <TR>
     <TD ALIGN="right"><% mt('Breakdown CDRs by accountcode') |h %></TD>
     <TD BGCOLOR="#ffffff"><% $cust_main->accountcode_cdr ? $yes : $no %></TD>
   </TR>
% }

% if ( $conf->exists('voip-cust_email_csv_cdr') ) { 
  <TR>
    <TD ALIGN="right"><% mt('Email CDRs as CSV') |h %></TD>
    <TD BGCOLOR="#ffffff"><% $cust_main->email_csv_cdr ? $yes : $no %></TD>
  </TR>
% } 

% if ( $show_term || $cust_main->cdr_termination_percentage ) {
  <TR>
    <TD ALIGN="right"><% mt('CDR termination settlement') |h %></TD>
    <TD BGCOLOR="#ffffff"><% $cust_main->cdr_termination_percentage %><% $cust_main->cdr_termination_percentage =~ /\d/ ? '%' : '' %></TD>
  </TR>
% }

</TABLE></TD></TR></TABLE>
<%once>

my $paystate_label = FS::Msgcat::_gettext('paystate');
$paystate_label = 'Bank state' if $paystate_label =~/^paystate$/;

</%once>
<%init>

my( $cust_main ) = @_;
my @invoicing_list = $cust_main->invoicing_list;
my $conf = new FS::Conf;
my $money_char = $conf->config('money_char') || '$';

#false laziness w/edit/cust_main/billing.html
my $term_sql = "SELECT COUNT(*) FROM cust_pkg LEFT JOIN part_pkg USING ( pkgpart ) WHERE custnum = ? AND plan = 'cdr_termination' LIMIT 1";
my $term_sth = dbh->prepare($term_sql)  or die dbh->errstr;
$term_sth->execute($cust_main->custnum) or die $term_sth->errstr;
my $show_term = $term_sth->fetchrow_arrayref->[0];

</%init>
