% if ( int( time - (keys %years)[0] * 31556736 ) > $start ) {
    Show:
%   my $chy = $cgi->param('change_history-years');
%   foreach my $y (keys %years) {
%     if ( $y == $years ) {
        <FONT SIZE="+1"><% $years{$y} %></FONT>
%     } else {
%       $cgi->param('change_history-years', $y);
        <A HREF="<% $cgi->self_url %>"><% $years{$y} %></A>
%     }
%     last if int( time - $y * 31556736 ) < $start;
%   }
%   $cgi->param('change_history-years', $chy);
% }

<% include("/elements/change_history_common.html",
        'history'   => \@history,
        'tables'    => \%tables,
        'single_cust'   => 1,
    ) %>

<%init>

tie my %years, 'Tie::IxHash',
    .5 => '6 months',
   1  => '1 year',
   2  => '2 years',
   5  => '5 years',
  39  => 'all history',
;

tie my %tables, 'Tie::IxHash',
  'cust_main'         => 'Customer',
  'cust_main_invoice' => 'Invoice destination',
  'cust_pkg'          => 'Package',
  #? or just svc_* ? 'cust_svc' => 
  'svc_acct'          => 'Account',
  'radius_usergroup'  => 'RADIUS group',
  'svc_domain'        => 'Domain',
  'svc_www'           => 'Hosting',
  'svc_forward'       => 'Mail forward',
  'svc_broadband'     => 'Broadband',
  'svc_external'      => 'External service',
  'svc_phone'         => 'Phone',
  'phone_device'      => 'Phone device',
  #? it gets provisioned anyway 'phone_avail'         => 'Phone',
;

my $svc_join = 'JOIN cust_svc USING ( svcnum ) JOIN cust_pkg USING ( pkgnum )';

my %table_join = (
  'svc_acct'         => $svc_join,
  'radius_usergroup' => $svc_join,
  'svc_domain'       => $svc_join,
  'svc_www'          => $svc_join,
  'svc_forward'      => $svc_join,
  'svc_broadband'    => $svc_join,
  'svc_external'     => $svc_join,
  'svc_phone'        => $svc_join,
  'phone_device'     => $svc_join,
);


# cust_main
# cust_main_invoice

# cust_pkg
# cust_pkg_option?
# cust_pkg_detail
# cust_pkg_reason?  no

#cust_svc
#cust_svc_option?
#svc_*
# svc_acct
#  radius_usergroup
#  acct_snarf?  is this even used? it is now, for communigate RPOP
# svc_domain
#  domain_record
#  registrar
# svc_forward
# svc_www
# svc_broadband
#  (virtual fields?  eh... maybe when they're real)
# svc_external
# svc_phone
#  phone_device
#  phone_avail

# future:

# inventory_item (from services)
# pkg_referral? (changed?)

#random others:

# cust_location?
# cust_main-exemption?? (295.ca named tax exemptions)


my( $cust_main ) = @_;

my $conf = new FS::Conf;

my $curuser = $FS::CurrentUser::CurrentUser;

die "access deined"
  unless $curuser->access_right('View customer history');

# find out the beginning of this customer history, if possible
my $h_insert = qsearchs({
  'table'     => 'h_cust_main',
  'hashref'   => { 'custnum'        => $cust_main->custnum,
                   'history_action' => 'insert',
                 },
  'extra_sql' => 'ORDER BY historynum LIMIT 1',
});
my $start = $h_insert ? $h_insert->history_date : 0;

# retreive the history

my @history = ();

my $years = $conf->config('change_history-years') || .5;
if ( $cgi->param('change_history-years') =~ /^([\d\.]+)$/ ) {
  $years = $1;
}
my $newer_than = int( time - $years * 31556736 ); #60*60*24*365.24

local($FS::Record::nowarn_classload) = 1;

foreach my $table ( keys %tables ) {
  my @items = qsearch({
    'table'     => "h_$table",
    'addl_from' => $table_join{$table},
    'hashref'   => { 'history_date' =>  { op=>'>=', value=>$newer_than }, },
    'extra_sql' => ' AND custnum = '. $cust_main->custnum,
  });
  push @history, @items;

}

</%init>
