% my %addr_label = ('bill' => 'Billing address', 'ship' => 'Service address');

%# Locations (possibly break this out)
% my @which = ('bill');
% push @which, 'ship' if $cust_main->has_ship_address;
% while (@which) {
%   my $this = shift @which;
%   my $method = $this.'_location';
%   my $location = $cust_main->$method;
<FONT CLASS="fsinnerbox-title"><% mt( $addr_label{$this} ) |h %></FONT>
<TABLE CLASS="fsinnerbox">

% if ( $this eq 'bill' ) {
%   #billing contact fields
  <TR>
    <TD ALIGN="right"><% mt('Contact name') |h %></TD>
    <TD COLSPAN=5 BGCOLOR="#ffffff"><% $cust_main->contact |h %></TD>
%   if ( $conf->exists('show_ss') ) {
    <TD ALIGN="right"><% mt('SS#') |h %></TD>
    <TD BGCOLOR="#ffffff"><% $conf->exists('unmask_ss')
                              ? $cust_main->ss
                              : $cust_main->masked('ss') || '&nbsp;' %></TD>
%   }
  </TR>
%   if ( $conf->exists('cust-email-high-visibility') ) {
  <TR>
    <TD ALIGN="right"><% mt('Email address(es)') |h %></TD>
    <TD BGCOLOR="#ffff00">
      <% $cust_main->invoicing_list_emailonly_scalar || $no %>
    </TD>
  </TR>
%   }
%   if ( $cust_main->company ) {
  <TR>
    <TD ALIGN="right"><% mt('Company') |h %></TD>
    <TD COLSPAN=7 BGCOLOR="#ffffff"><% $cust_main->company |h %></TD>
  </TR>
%   }
% } # if $this eq 'bill'
% # now the actual address
<TR>
  <TD ALIGN="right"><% mt('Address') |h %></TD>
  <TD COLSPAN=7 BGCOLOR="#ffffff"><% $location->address1 |h %></TD>
</TR>

% if ( $location->get('address2') ) {
%   my $address2_label = $conf->exists('cust_main-require_address2') 
%                        ? emt('Unit #')
%                        : ' ';

<TR>
  <TD ALIGN="right"><% $address2_label %></TD>
  <TD COLSPAN=7 BGCOLOR="#ffffff"><% $location->address2 |h %></TD>
</TR>

% } 

<TR>
  <TD ALIGN="right"><% mt('City') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $location->city |h %></TD>
% if ( $location->county ) {
    <TD ALIGN="right"><% mt('County') |h %></TD>
    <TD BGCOLOR="#ffffff"><% $location->county |h %></TD>
% }
  <TD ALIGN="right"><% mt('State') |h %></TD>
  <TD BGCOLOR="#ffffff"><% state_label( $location->state, $location->country ) |h %></TD>
  <TD ALIGN="right"><% mt('Zip') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $location->zip %></TD>
</TR>
<TR>
  <TD ALIGN="right"><% mt('Country') |h %></TD>
  <TD BGCOLOR="#ffffff"><% code2country( $location->country ) %></TD>
</TR>

% if ( $location->latitude && $location->longitude ) {
  <& /elements/tr-coords.html, $location->latitude,
                               $location->longitude,
                               $cust_main->name_short,
                               $cust_main->agentnum,
  &>
% }
  
% if ( $this eq 'bill' ) {
%   # billing contact phone numbers
%   foreach my $phone (qw(daytime night mobile)) {
%     next if !$cust_main->get($phone);
<TR>
  <TD ALIGN="right"><% $phone_label{$phone} %></TD>
  <TD COLSPAN=3 BGCOLOR="#ffffff">
    <& /elements/phonenumber.html,
        $cust_main->get($phone),
        callable => 1,
        calling_list_exempt => $cust_main->calling_list_exempt,
    &>
  </TD>
</TR>

%   } #foreach $phone
%   if ( $cust_main->get('fax') ) {

  <TR>
    <TD ALIGN="right"><% mt('Fax') |h %></TD>
    <TD COLSPAN=3 BGCOLOR="#ffffff">
      <% $cust_main->get('fax') || '&nbsp;' %>
    </TD>
  </TR>

%   }
%
%   if ( $conf->exists('show_stateid') ) { 

<TR>
    <TD ALIGN="right"><% $stateid_label %></TD>
    <TD BGCOLOR="#ffffff"><% $cust_main->masked('stateid') || '&nbsp' %></TD>
    <TD ALIGN="right"><% $stateid_state_label %></TD>
    <TD BGCOLOR="#ffffff"><% $cust_main->stateid_state || '&nbsp' %></TD>
  </TR>

%   }
% } #if $this eq 'bill'
</TABLE>
% if ( @which ) {
<BR>
% }
% } #while @which
<%once>

my %phone_label = (

  'daytime' => ( FS::Msgcat::_gettext('daytime') =~ /^(daytime)?$/
                   ? 'Day&nbsp;Phone'
                   : FS::Msgcat::_gettext('daytime')
               ),

  'night'   => ( FS::Msgcat::_gettext('night') =~ /^(night)?$/
                   ? 'Night&nbsp;Phone'
                   : FS::Msgcat::_gettext('night')
               ),

  'mobile'  => ( FS::Msgcat::_gettext('mobile') =~ /^(mobile)?$/
                   ? 'Mobile&nbsp;Phone'
                   : FS::Msgcat::_gettext('Mobile')
               ),
);

my $stateid_label = FS::Msgcat::_gettext('stateid') =~ /^(stateid)?$/
                      ? 'Driver&rsquo;s&nbsp;License'
                      : FS::Msgcat::_gettext('stateid');
my $stateid_state_label = FS::Msgcat::_gettext('stateid_state') =~ /^(stateid_state)?$/
                      ? 'Driver&rsquo;s&nbsp;License State'
                      : FS::Msgcat::_gettext('stateid_state');

</%once>
<%init>

my $cust_main = shift;
my $conf = new FS::Conf;
my @invoicing_list = $cust_main->invoicing_list;
my $no = emt('no');

</%init>

