%if ( @cust_contacts ) {
<BR>
<FONT CLASS="fsinnerbox-title">Contacts</FONT>

<& /elements/table-grid.html &>
<THEAD>
% my $th = '<TH CLASS="grid" ALIGN="left">';
<TR>
  <%$th%>Type</TH>
  <%$th%>Contact</TH>
  <%$th%>Email</TH>
  <%$th%>Self-service</TH>
% foreach my $phone_type (@phone_type) {
    <%$th%><% $phone_type->typename |h %></TH>
% }
  <%$th%>Comment</TH>
</TR>
</THEAD>

%   my $bgcolor1 = '#ffffff';
%   my $bgcolor2 = '#eeeeee';
%   my $bgcolor = $bgcolor2;
%   foreach my $cust_contact ( @cust_contacts ) {
%     my $contact = $cust_contact->contact;
%     my $td = qq(<TD CLASS="grid" BGCOLOR="$bgcolor">);

      <TR>
        <%$td%><% $cust_contact->contact_classname |h %></TD>
        <%$td%><% $contact->line |h %></TD>

%       my @contact_email = $contact->contact_email;
        <%$td%><% join(', ', map $_->emailaddress, @contact_email) %></TD>

        <%$td%>
%         if ( $cust_contact->selfservice_access ) {
            Enabled
%#            <FONT SIZE="-1"><A HREF="XXX">disable</A>
%#                            <A HREF="XXX">re-email</A></FONT>
%         } else {
            Disabled
%#            <FONT SIZE="-1"><A HREF="XXX">enable</A></FONT>
%        }
       </TD>

%       foreach my $phone_type (@phone_type) {
%         my $contact_phone =
%           qsearchs('contact_phone', {
%                      'contactnum'   => $contact->contactnum,
%                      'phonetypenum' => $phone_type->phonetypenum,
%                   });
          <%$td%><% $contact_phone ? $contact_phone->phonenum_pretty : '' |h %></TD>
%       }

        <%$td%><% $cust_contact->comment |h %></TD>

      </TR>

%     if ( $bgcolor eq $bgcolor1 ) {
%        $bgcolor = $bgcolor2;
%      } else {
%        $bgcolor = $bgcolor1;
%      }
%   }
</TABLE>
%}
<%once>

my @phone_type = qsearch({table=>'phone_type', order_by=>'weight'});

</%once>
<%init>

my( $cust_main ) = @_;
#my $conf = new FS::Conf;

my @cust_contacts = $cust_main->cust_contact;

</%init>
