% my %addr_label = ('bill' => 'Billing address', 'ship' => 'Service address');

%# Locations (possibly break this out)
% my @which = ('bill', 'ship');
% while (@which) {
%   my $this = shift @which;
%   my $method = $this.'_location';
%   my $location = $cust_main->$method;
<FONT CLASS="fsinnerbox-title"><% mt( $addr_label{$this} ) |h %>
%   if ( $this eq 'ship' and 
%       $cust_main->bill_locationnum == $cust_main->ship_locationnum )
%   {
 (<% mt('same as billing') %>)
%   }
</FONT>
%   if (
%     ($this eq 'ship')
%     && $cust_main->invoice_ship_address 
%     && !$conf->exists('invoice-ship_address') #it's always on, so hide per-cust config
%    ) {
<SPAN STYLE="padding-left: .25em;">(<% emt('included on invoices') %>)</SPAN>
%   }
<TABLE CLASS="fsinnerbox">

% if ( $this eq 'bill' ) {
%   #billing contact fields
  <TR>
    <TH ALIGN="right"><% mt('Contact name') |h %></TH>
    <TD COLSPAN=5><% $cust_main->contact |h %></TD>
%   if ( $conf->exists('show_ss') ) {
    <TH ALIGN="right"><% mt('SS#') |h %></TH>
    <TD><% $conf->exists('unmask_ss')
                              ? $cust_main->ss
                              : $cust_main->masked('ss') || '&nbsp;' %></TD>
%   }
  </TR>
%   if ( $conf->exists('cust_main-enable_spouse') and
%        ($cust_main->spouse_last or $cust_main->spouse_first) ) {
  <TR>
    <TH ALIGN="right"><% mt('Spouse') |h %></TH>
    <TD COLSPAN=5>
      <% join(', ', grep $_, 
                    $cust_main->spouse_last, $cust_main->spouse_first) %>
    </TD>
  </TR>
% }
%   if ( $conf->exists('cust-email-high-visibility') ) {
  <TR>
    <TH ALIGN="right"><% mt('Email address(es)') |h %></TH>
    <TD BGCOLOR="#ffff00">
      <% $cust_main->invoicing_list_emailonly_scalar || $no %>
    </TD>
  </TR>
%   }
%   if ( $cust_main->company ) {
  <TR>
    <TH ALIGN="right"><% mt('Company') |h %></TH>
    <TD COLSPAN=7><% $cust_main->company |h %></TD>
  </TR>
%   }
% } elsif ( $this eq 'ship' ) {
%   if ( $cust_main->ship_company ) { # mostly obsolete these days...
  <TR>
    <TD ALIGN="right"><% mt('Company') |h %></TD>
    <TD COLSPAN=7><% $cust_main->ship_company |h %></TD>
  </TR>
%   }
% }


% if ( $location ) { # now the actual address

%   if ( $location->locationname ) {
      <TR>
        <TD ALIGN="right"><% mt('Location ID') |h %></TD>
        <TD COLSPAN=7><% $location->locationname |h %></TD>
      </TR>
%   }

<TR>
  <TH ALIGN="right"><% mt('Address') |h %></TH>
  <TD COLSPAN=7><% $location->address1 |h %></TD>
</TR>

% if ( $location->get('address2') ) {
%   my $address2_label = $conf->exists('cust_main-require_address2') 
%                        ? emt('Unit #')
%                        : ' ';

<TR>
  <TH ALIGN="right"><% $address2_label %></TH>
  <TD COLSPAN=7><% $location->address2 |h %></TD>
</TR>

% } 

<TR>
  <TH></TH>
  <TD COLSPAN=5><% $location->city |h %>\
% if ( $location->county ) {
 (<% $location->county |h %> county)\
% }
<% ($location->city || $location->county) ? ', ' : ''%><% state_label( $location->state, $location->country ) |h %>
  <% $location->zip %>
</TD>
</TR>
<TR>
  <TH></TH>
  <TD><% code2country( $location->country ) %></TD>
</TR>

% if ( $location->latitude && $location->longitude ) {
  <& /elements/tr-coords.html, $location->latitude,
                               $location->longitude,
                               $cust_main->name_short,
                               $cust_main->agentnum,
  &>
% }
<& /elements/tr-censustract.html, $location &>

% }
  
% if ( $this eq 'bill' ) {
%   # billing contact phone numbers
%   foreach my $phone (qw(daytime night mobile)) {
%     next if !$cust_main->get($phone);
<TR>
  <TH ALIGN="right"><% $phone_label{$phone} %></TD>
  <TD COLSPAN=3>
    <& /elements/phonenumber.html,
        $cust_main->get($phone),
        callable => 1,
        calling_list_exempt => $cust_main->calling_list_exempt,
    &>
  </TD>
</TR>

%   } #foreach $phone
%   if ( $cust_main->get('fax') ) {

  <TR>
    <TD ALIGN="right"><% mt('Fax') |h %></TD>
    <TD COLSPAN=3>
      <% $cust_main->get('fax') || '&nbsp;' %>
    </TD>
  </TR>

%   }
%
%   if ( $conf->exists('show_stateid') ) { 

<TR>
    <TD ALIGN="right"><% $stateid_label %></TD>
    <TD><% $cust_main->masked('stateid') || '&nbsp' %></TD>
    <TD ALIGN="right"><% $stateid_state_label %></TD>
    <TD><% $cust_main->stateid_state || '&nbsp' %></TD>
  </TR>

%   }
% } #if $this eq 'bill'
</TABLE>
% if ( @which ) {
<BR>
% }
% } #while @which
<%once>

my %phone_label = (

  'daytime' => ( FS::Msgcat::_gettext('daytime') =~ /^(daytime)?$/
                   ? 'Day&nbsp;Phone'
                   : FS::Msgcat::_gettext('daytime')
               ),

  'night'   => ( FS::Msgcat::_gettext('night') =~ /^(night)?$/
                   ? 'Night&nbsp;Phone'
                   : FS::Msgcat::_gettext('night')
               ),

  'mobile'  => ( FS::Msgcat::_gettext('mobile') =~ /^(mobile)?$/
                   ? 'Mobile&nbsp;Phone'
                   : FS::Msgcat::_gettext('Mobile')
               ),
);

my $stateid_label = FS::Msgcat::_gettext('stateid') =~ /^(stateid)?$/
                      ? 'Driver&rsquo;s&nbsp;License'
                      : FS::Msgcat::_gettext('stateid');
my $stateid_state_label = FS::Msgcat::_gettext('stateid_state') =~ /^(stateid_state)?$/
                      ? 'Driver&rsquo;s&nbsp;License State'
                      : FS::Msgcat::_gettext('stateid_state');

</%once>
<%init>

my $cust_main = shift;
my $conf = new FS::Conf;
my @invoicing_list = $cust_main->invoicing_list;
my $no = emt('no');

</%init>

