<% ntable("#cccccc") %><TR><TD><% &ntable("#cccccc",2) %>

<TR>
  <TD ALIGN="right"><% mt('Customer number') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $cust_main->display_custnum %></TD>
</TR>

<TR>
  <TD ALIGN="right"><% mt('Status') |h %></TD>
  <TD BGCOLOR="#ffffff"><FONT COLOR="#<% $cust_main->statuscolor %>"><B><% ucfirst($cust_main->status) %></B></FONT></TD>
</TR>

% my @part_tag = $cust_main->part_tag;
% if ( $conf->config('cust_tag-location') =~ /^(cust_misc|)$/ && @part_tag ) {
<TR>
  <TD ALIGN="right"><% mt('Tags') |h %></TD>
  <TD BGCOLOR="#ffffff">
%   foreach my $part_tag ( @part_tag ) {
      <FONT <% length($part_tag->tagcolor)
                 ? 'STYLE="background-color:#'.$part_tag->tagcolor.'"'
                 : '' %>
      ><% $part_tag->tagname.': '. $part_tag->tagdesc |h %></FONT>
      <BR>
%   }
  </TD>
</TR>
% }

%unless ( scalar(@agentnums) == 1
%         && !$curuser->access_right('View customers of all agents')  ) {
%  my $agent = qsearchs('agent',{ 'agentnum' => $cust_main->agentnum } );
   <TR>
     <TD ALIGN="right"><% mt('Agent') |h %></TD>
     <TD BGCOLOR="#ffffff"><% $agent->agentnum %>: <% $agent->agent %></TD>
   </TR>
% }

%  if ( $cust_main->agent_custid
%       && ! $conf->exists('cust_main-default_agent_custid') ) {

<TR>
  <TD ALIGN="right"><% mt('Agent customer ref#') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $cust_main->agent_custid %></TD>
</TR>
%
%  }

%  #if ( $cust_main->classnum ) {
     <TR>
       <TD ALIGN="right"><% mt('Class') |h %></TD>
       <TD BGCOLOR="#ffffff"><% $cust_main->classname || '('.emt('none').')' %></TD>
     </TR>
%  #}

%  unless ( FS::part_referral->num_part_referral == 1 ) {
%    my $referral = qsearchs('part_referral', {
%      'refnum' => $cust_main->refnum
%    } );

<TR>
  <TD ALIGN="right"><% mt('Advertising source') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $referral->refnum %>: <% $referral->referral%></TD>
</TR>
% } 


<TR>
  <TD ALIGN="right"><% mt('Referring Customer') |h %></TD>
  <TD BGCOLOR="#ffffff">
%
%  my $referring_cust_main = '';
%  if ( $cust_main->referral_custnum
%       && ( $referring_cust_main =
%            qsearchs('cust_main', { custnum => $cust_main->referral_custnum } )
%          )
%     ) {
%


<A HREF="<% popurl(1) %>cust_main.cgi?<% $cust_main->referral_custnum %>"><%$referring_cust_main->display_custnum %>: 
<%
  ( $referring_cust_main->company
      ? $referring_cust_main->company. ' ('.
          $referring_cust_main->last. ', '. $referring_cust_main->first.
          ')'
      : $referring_cust_main->last. ', '. $referring_cust_main->first
  )
%></A>
% } 


  </TD>
</TR>

<TR>
  <TD ALIGN="right"><% mt('Order taker') |h %></TD>
  <TD BGCOLOR="#ffffff"><% $cust_main->otaker %></TD>
</TR>

  <TR>
    <TD ALIGN="right"><% mt('Signup Date') |h %></TD>
    <TD BGCOLOR="#ffffff"><% $cust_main->signupdate ? time2str($date_format, $cust_main->signupdate) : '' %></TD>
  </TR>

% if ( $conf->exists('cust_main-enable_birthdate') ) {
%   my $dt = $cust_main->birthdate ne ''
%              ? DateTime->from_epoch( 'epoch'     => $cust_main->birthdate,
%                                      'time_zone' =>'floating',
%                                    )
%              : '';

  <TR>
    <TD ALIGN="right"><% mt('Date of Birth') |h %></TD>
    <TD BGCOLOR="#ffffff"><% $dt ? $dt->strftime($date_format) : '' %></TD>
  </TR>

% }

% if ( $conf->exists('cust_main-enable_spouse_birthdate') ) {
%   my $dt = $cust_main->spouse_birthdate ne ''
%              ? DateTime->from_epoch( 'epoch'  => $cust_main->spouse_birthdate,
%                                      'time_zone' =>'floating',
%                                    )
%              : '';

  <TR>
    <TD ALIGN="right"><% mt('Spouse Date of Birth') |h %></TD>
    <TD BGCOLOR="#ffffff"><% $dt ? $dt->strftime($date_format) : '' %></TD>
  </TR>

% }

% if ( $conf->exists('cust_main-require_censustract') ) {

  <TR>
    <TD ALIGN="right">
      <% mt('Census tract ([_1])', $cust_main->censusyear) |h %>
    </TD>
    <TD BGCOLOR="#ffffff"><% $cust_main->censustract  %></TD>
  </TR>

% }

% if ( $cust_main->district ) {

  <TR>
    <TD ALIGN="right"><% mt('Tax district') |h %></TD>
    <TD BGCOLOR="#ffffff"><% $cust_main->district %></TD>
  </TR>

% }


% if ( $conf->exists('ticket_system-selfservice_edit_subject') ) {

  <TR>
    <TD ALIGN="right"><% mt('Edit ticket subjects') %></TD>
    <TD BGCOLOR="#ffffff"><% $cust_main->edit_subject ? 'yes' : 'no' %></TD>
  </TR>

% }

</TABLE></TD></TR></TABLE>
<%init>

my( $cust_main ) = @_;
my $conf = new FS::Conf;
my $date_format = ($conf->config('date_format') || "%m/%d/%Y");

my $curuser = $FS::CurrentUser::CurrentUser;

my @agentnums = $curuser->agentnums;

</%init>
