% # Customer comments
% if ( $cust_main->comments =~ /[^\s\n\r]/ ) {
<BR><% mt('Comments') |h %>
<% ntable("#cccccc") %><TR><TD><% ntable("#cccccc",2) %>
<TR>
  <TD BGCOLOR="#ffffff">
    <PRE><% encode_entities($cust_main->comments) %></PRE>
  </TD>
</TR>
</TABLE></TABLE>
<BR><BR>
% }

% # Notes, if any
<A NAME="notes">
% my $notecount = scalar($cust_main->notes(0));
% if ( ! $conf->exists('cust_main-disable_notes') || $notecount) {

% # actually display notes
<& notes/notes.html, 'cust_main' => $cust_main &>
<BR>
% } # end of notes

% # Attachments
% # XXX at some point move all of this into notes/attachments.html
% if( $curuser->access_right('View attachments') ) {
% # List attachments
<& notes/attachments.html, 'cust_main' => $cust_main &>
%   if ($cgi->param('show_deleted')) {
<A HREF="<% $p.'view/cust_main.cgi?custnum=' . $cust_main->custnum .
           ($view ? ";show=$view" : '') . '#notes' 
           %>"><I>(<% mt('Show active attachments') |h %>)</I></A>
%   } elsif($curuser->access_right('View deleted attachments')) {
<A HREF="<% $p.'view/cust_main.cgi?custnum=' . $cust_main->custnum .
           ($view ? ";show=$view" : '') . ';show_deleted=1#notes'
           %>"><I>(<% mt('Show deleted attachments') |h %>)</I></A>
%   }
% }

<BR>
% if ( $curuser->access_right('View email logs')
%      and FS::cust_msg->count("custnum = $custnum")) {
<BR>
<& notes/email.html, 'cust_main' => $cust_main &>
<BR>
% }
<%init>

use HTML::Defang;

my $conf = new FS::Conf;
my $curuser = $FS::CurrentUser::CurrentUser;

my(%opt) = @_;

my $cust_main = $opt{'cust_main'};
my $custnum = $cust_main->custnum;

my $view =  $cgi->param('show') || $curuser->default_customer_view;

</%init>
