%
% my $conf = new FS::Conf;
% my $curuser = $FS::CurrentUser::CurrentUser;
%
% $cgi->param('custnum') =~ /^(\d+)$/
%   or die "No customer specified (bad URL)!";
% my $custnum = $1;
%
% my $cust_main = qsearchs('cust_main', {'custnum' => $custnum} );
% die "Custimer not found!" unless $cust_main;
%

<STYLE TYPE="text/css">

body { background: #e8e8e8 }
.inv table { border: none }
.inv TH { border: none }
.inv TD { border: none }

</STYLE>

% my (@notes) = $cust_main->notes();
% if ( scalar(@notes) ) { 

<SCRIPT TYPE="text/javascript" SRC="<%$fsurl%>elements/overlibmws.js"></SCRIPT>
<SCRIPT TYPE="text/javascript" SRC="<%$fsurl%>elements/overlibmws_iframe.js"></SCRIPT>
<SCRIPT TYPE="text/javascript" SRC="<%$fsurl%>elements/overlibmws_crossframe.js"></SCRIPT>
<SCRIPT TYPE="text/javascript" SRC="<%$fsurl%>elements/iframecontentmws.js"></SCRIPT>

<TABLE CLASS="inv" CELLSPACING=0 CELLPADDING=0 BORDER=0 >

%   my $bgcolor1 = '#eeeeee';
%   my $bgcolor2 = '#ffffff';
%   my $bgcolor = '';
%
%   foreach my $note (@notes) {
%
%   if ( $bgcolor eq $bgcolor1 ) {
%     $bgcolor = $bgcolor2;
%   } else {
%     $bgcolor = $bgcolor1;
%   }
%
%   my $pop = popurl(3);
%   my $notenum = $note->notenum;
%   my $clickjs = qq!onclick="overlib( OLiframeContent('${pop}edit/! .
%                 qq!cust_main_note.cgi?custnum=$custnum&! .
%                 qq!notenum=$notenum', 616, ! .
%                 qq!386, 'cust_main_note_popup' ), CAPTION, 'Edit customer ! .
%                 qq!note', STICKY, AUTOSTATUSCAP, MIDX, 0, MIDY, 0, ! .
%                 qq!CLOSECLICK, FRAME, top); return false;"!;
%
%   my ($el, $eel);
%   if ($curuser->access_right('Edit customer note') ) {
%     $el  = qq!<A HREF="javascript:void(0);" $clickjs>!;
%     $eel = qq!</A>!;
%   }else{
%     $el = $eel = '';
%   }

<TR>
  <% note_datestr($note,$conf,$bgcolor, $el, $eel) %>
  <TD CLASS="inv" BGCOLOR="<% $bgcolor %>">
    <% $el %> &nbsp;<%$note->otaker%>&nbsp; <% $eel %>
  </TD>
  <TD CLASS="inv" BGCOLOR="<% $bgcolor %>">
    &nbsp;<%$note->comments%>
  </TD>
</TR>

% } #end display notes

</TABLE>

% } 
%
%#subroutines
%
%sub note_datestr {
% my($note, $conf, $bgcolor, $el, $eel) = @_ or return '';
% my $format=qq{<TD class="inv" bgcolor="$bgcolor" align="left">$el<B>%b</B>$eel</TD>}.
%            qq{<TD class="inv" bgcolor="$bgcolor" align="right">$el<B>&nbsp;%o,</B>$eel</TD>}.
%            qq{<TD class="inv" bgcolor="$bgcolor" align="right">$el<B>&nbsp;%Y&nbsp;</B>$eel</TD>};
% $format .= qq{<TD class="inv" bgcolor="$bgcolor" ALIGN="right">$el<B>&nbsp;%l$eel</TD>}.
%            qq{<TD class="inv" bgcolor="$bgcolor" ALIGN="center">$el<B>:</B>$eel</TD>}.
%            qq{<TD class="inv" bgcolor="$bgcolor" ALIGN="left">$el<B>%M</B>$eel</TD>}.
%            qq{<TD class="inv" bgcolor="$bgcolor" ALIGN="left">$el<B>&nbsp;%P&nbsp;</B>$eel</TD>}
%     if $conf->exists('cust_main_note-display_times');
%   ( my $strip = time2str($format, $note->_date) ) =~ s/ (\d)/$1/g;
%   $strip;
% }
%

