<& /elements/popup_link-cust_main.html,
          'action'      => $p. 'misc/order_pkg.html',
          'label'       => $opt{'label'} || emt('Order new package'),
          'actionlabel' => emt('Order new package'),
          'color'       => '#333399',
          'cust_main'   => $cust_main,
          'closetext'   => emt('Close'),
          'width'       => 960, #763,
          'height'      => $height,
          %optional,
&>
<%init>

my($cust_main, %opt) = @_;

my %optional = map { $_ => $opt{$_} }
                 grep $opt{$_},
                   qw( lock_pkgpart lock_locationnum qualnum svcpart );

my $height = $opt{'lock_locationnum'} ? 336 : 576;

</%init>
