<STYLE TYPE="text/css">
td.package {
  vertical-align: top;
  border-width: 0;
  border-style: solid;
}
table.package {
  border: none;
  padding: 0;
  border-spacing: 0;
  width: 100%;
}
table.usage {
  border: 1px solid black;
  margin: auto;
  width: 60%;
  border-spacing: 0px;
}
.shared > * {
  background-color: #ffffaa;
}
.row0 { background-color: #eeeeee; }
.row1 { background-color: #ffffff; }

table.hiddenrows {
  width: 80%;
  margin-left: 100px;
  border: 1px solid #7E0079;
  background-color: #cccccc;
}

.hiddenrows td {
  text-align: center;
}

.rolldown_button {
  min-width: 80px;
  margin-left: 100px;
  min-height: 20px;
  background-color: #efefef;
  border: 1px solid #7e0079;
  z-index: 1;
  text-align: center;
}

</STYLE>
% # activate rolldown buttons for hidden package blocks
<SCRIPT TYPE="text/javascript">
function toggle_rolldown() {
  var up_arrow = <% decode_entities('&#x2b06') |js_string %>;
  var dn_arrow = <% decode_entities('&#x2b07') |js_string %>;
  var pkgnum = this.id.replace('rolldown_', '');
  var hidden = document.getElementById('cust_pkg'+pkgnum+'_block');
  if (hidden.style.display == 'none') {
    hidden.style.display = '';
    this.textContent = this.textContent.replace(dn_arrow, up_arrow);
  } else {
    hidden.style.display = 'none';
    this.textContent = this.textContent.replace(up_arrow, dn_arrow);
  }
}
<&| /elements/onload.js &>
var el;
% if ( $cgi->param('fragment') =~ /^cust_pkg(\d+)$/ ) {
% # IE-specific hack, but also unhide the row if it's in a hidden block
el = document.getElementById('cust_pkg<% $1 %>');
% }
var all_buttons = document.getElementsByClassName('rolldown_button');
for (var i = 0; i < all_buttons.length; i++) {
  all_buttons[i].onclick = toggle_rolldown;
  var block_id = all_buttons[i].id.replace('rolldown_', '');
  if ( el && document.getElementById('cust_pkg'+block_id+'_block')
                     .contains(el)
     ) {
    // then toggle it now
    all_buttons[i].click();
  }
}
if ( el ) el.scrollIntoView(true);
</&>
</SCRIPT>
<TABLE>
  <TR>
    <TD ALIGN="left" VALIGN="top">

% if ( $cust_main->num_cancelled_pkgs ) {
%     if ( $cgi->param('showcancelledpackages') eq '0' #see if it was set by me
%          || ( $conf->exists('hidecancelledpackages')
%               && ! $cgi->param('showcancelledpackages')
%             )
%        )
%     {
%       my $prev = $cgi->param('showcancelledpackages');
%       $cgi->param('showcancelledpackages', 1);
  ( <a href="<% $cgi->self_url %>"><% mt('show') |h %> 
%       $cgi->param('showcancelledpackages', $prev);
%   } else {
%       $cgi->param('showcancelledpackages', 0);
  ( <a href="<% $cgi->self_url %>"><% mt('hide') |h %> 
%       $cgi->param('showcancelledpackages', 1);
%   } 

 <% mt('cancelled packages') |h %></a> )
% } 

% if ( $cgi->param('showoldpackages') ) {
%   $cgi->param('showoldpackages', 0);
    ( <a href="<% $cgi->self_url %>"><% mt('hide old packages') |h %></a> )
%   $cgi->param('showoldpackages', 1);
% } else {
%   $cgi->param('showoldpackages', 1);
    ( <a href="<% $cgi->self_url %>"><% mt('show old packages') |h %></a> )
%   $cgi->param('showoldpackages', 0);
% }

    </TD>

  </TR>

% my $pager = include('/elements/pager.html',
%                       offset     => $offset,
%                       num_rows   => scalar(@packages),
%                       total      => $num_pkgs,
%                       maxrecords => $maxrecords,
%             );
% if ( $num_pkgs > $maxrecords ) {
  <TR>
    <TD COLSPAN=2>
      <% $pager %>
    </TD>
  </TR>
% }

  <TR>
    <TD COLSPAN=2>

%     $opt{cust_main} = $cust_main;
%     $opt{packages}  = \@packages;
%     $opt{cust_location_cache} = {};
%     if ( $conf->exists('cust_pkg-group_by_location') ) {
        <& locations.html, %opt &>
%     } else { # in this format, put all packages in one section
        <& /elements/table-grid.html &>
        <& packages/section.html, %opt &>
        </TABLE>
%     }

    </TD>
  </TR>

% if ( $num_pkgs > $maxrecords ) {
  <TR>
    <TD COLSPAN=2>
      <% $pager %>
    </TD>
  </TR>
% }

</TABLE>
<%init>

my $cust_main = shift;
my %opt = @_;
my $conf = new FS::Conf;

my $curuser = $FS::CurrentUser::CurrentUser;

my $countrydefault = scalar($conf->config('countrydefault')) || 'US';

my $hide_cancelled = 0;
if (  $cgi->param('showcancelledpackages') eq '0' #see if it was set by me
   || ( $conf->exists('hidecancelledpackages')
         && ! $cgi->param('showcancelledpackages') )
   )
{
  $hide_cancelled = 1;
}

my $cust_pkg_fields =
  join(', ', map { "cust_pkg.$_ AS $_"          } fields('cust_pkg') );

my $part_pkg_fields =
  join(', ', ( map { "part_pkg.$_ AS part_pkg_$_" } fields('part_pkg') ),
             'setup_option.optionvalue AS part_pkg__setup_fee',
             'recur_option.optionvalue AS part_pkg__recur_fee',
      );

my $group_by =
  join(', ', map "cust_pkg.$_", fields('cust_pkg') ). ', '.
  join(', ', map "part_pkg.$_", fields('part_pkg') );

my $num_svcs = '( SELECT COUNT(*) FROM cust_svc '.
               '    WHERE cust_svc.pkgnum = cust_pkg.pkgnum ) AS num_svcs';

my $addl_from = '
  LEFT JOIN part_pkg USING ( pkgpart )
  LEFT JOIN cust_pkg AS chgto   ON ( chgto.change_to_pkgnum = cust_pkg.pkgnum )
  LEFT JOIN cust_pkg AS chgfrom ON ( chgfrom.change_pkgnum  = cust_pkg.pkgnum )
';

my $extra_sql =
  ' AND cust_pkg.main_pkgnum IS NULL '. # supplemental package of something else
  ' AND chgto.pkgnum IS NULL '. # ordered, not-yet-active change target
  ' AND chgfrom.pkgnum IS NULL ';    # canceled package changed into another

unless ( $cgi->param('showoldpackages') ) {
  my $years = $conf->config('cust_main-packages-years') || 2;
  my $then = time - $years * 31556926; #60*60*24*365.2422 is close enough

  $extra_sql .= " AND (
       ( part_pkg.freq  =  '0'
           AND ( cust_pkg.setup  IS NULL OR cust_pkg.setup  > $then )
       )
    OR ( part_pkg.freq != '0'
          AND ( cust_pkg.cancel IS NULL OR cust_pkg.cancel > $then )
       )
    OR EXISTS ( SELECT 1 FROM cust_svc WHERE cust_svc.pkgnum = cust_pkg.pkgnum )
  )";
}

my $num_method = $hide_cancelled ? 'ncancelled_pkgs' : 'all_pkgs';
my $num_pkgs = $cust_main->$num_method({ 
  'addl_from' => $addl_from,
  'extra_sql' => $extra_sql,
});

my $maxrecords = 10;
my $offset = $cgi->param('offset') =~ /^(\d+)$/ ? $1 : 0;

my @packages = $cust_main->all_pkgs( {
  'select'    => "$cust_pkg_fields, $part_pkg_fields, $num_svcs",
  'addl_from' => $addl_from. "
    LEFT JOIN part_pkg_option AS setup_option
      ON (     cust_pkg.pkgpart = setup_option.pkgpart
           AND setup_option.optionname = 'setup_fee' )
    LEFT JOIN part_pkg_option AS recur_option
      ON (     cust_pkg.pkgpart = recur_option.pkgpart
           AND recur_option.optionname = 'recur_fee' )
  ",
  'extra_sql' => $extra_sql,
  'order_by'  => "ORDER BY pkgnum ASC LIMIT $maxrecords OFFSET $offset",
} );

foreach my $cust_pkg ( @packages ) {

  my %hash = $cust_pkg->hash;
  my %part_pkg = map  { /^part_pkg_(.+)$/ or die; ( $1 => $hash{$_} ); }
                 grep { /^part_pkg_/ } keys %hash;
  $cust_pkg->{'_pkgpart'} = new FS::part_pkg \%part_pkg;

  #arrayref of supplementals
  $cust_pkg->set('_supplemental', [
    qsearch('cust_pkg', { main_pkgnum=>$cust_pkg->pkgnum })
  ] );

  #for future changes
  if ( $cust_pkg->change_to_pkgnum ) {
    my $change_to =
      qsearchs('cust_pkg', { pkgnum=>$cust_pkg->change_to_pkgnum });
    $cust_pkg->set('change_to_pkg', $change_to);
    $change_to->set('change_from_pkg', $cust_pkg);
  }

  #for past changes
  setfrom($cust_pkg);

  $cust_pkg->{'_cust_pkg_discount_active'} =
   [ $cust_pkg->cust_pkg_discount_active ];

}

sub setfrom {
  my $cust_pkg = shift;

  if ( $cust_pkg->change_pkgnum ) {
    my $changed_from =
      qsearchs('cust_pkg', { pkgnum=>$cust_pkg->change_pkgnum });
    $cust_pkg->set('changed_from_pkg', $changed_from);
    $changed_from->set('changed_to_pkg', $cust_pkg);

    setfrom($changed_from);

  }

}

</%init>
