<BR><BR><A NAME="history"><FONT SIZE="+2">Payment History</FONT></A><BR>

%# payment links

% my $s = 0;
% if ( $payby{'BILL'} && $curuser->access_right('Post payment') ) { 
  <% $s++ ? ' | ' : '' %>
  <% include('/elements/popup_link-cust_main.html',
               'label'       => 'Enter check payment',
               'action'      => "${p}edit/cust_pay.cgi?popup=1;payby=BILL",
               'cust_main'   => $cust_main,
               'actionlabel' => 'Enter check payment',
               'width'       => 392,
               #default# 'height' => 336,
            )
  %>
% } 

% if ( $payby{'CASH'} && $curuser->access_right('Post payment') ) { 
  <% $s++ ? ' | ' : '' %>
  <% include('/elements/popup_link-cust_main.html',
               'label'       => 'Enter cash payment',
               'action'      => "${p}edit/cust_pay.cgi?popup=1;payby=CASH",
               'cust_main'   => $cust_main,
               'actionlabel' => 'Enter cash payment',
               'width'       => 392,
               #default# 'height' => 336,
            )
  %>
% } 

% if ( $payby{'WEST'} && $curuser->access_right('Post payment') ) { 
  <% $s++ ? ' | ' : '' %>
  <A HREF="<% $p %>edit/cust_pay.cgi?payby=WEST;custnum=<% $custnum %>">Enter Western Union payment</A>
% } 

% if ( ( $payby{'CARD'} || $payby{'DCRD'} )
%        && $curuser->access_right('Process payment')
%        && ! $cust_main->is_encrypted($cust_main->payinfo)
%      ) {
  <% $s++ ? ' | ' : '' %>
  <A HREF="<% $p %>misc/payment.cgi?payby=CARD;custnum=<% $custnum %>">Process credit card payment</A>
% } 

% if ( ( $payby{'CHEK'} || $payby{'DCHK'} )
%        && $curuser->access_right('Process payment')
%        && ! $cust_main->is_encrypted($cust_main->payinfo)
%      ) {
  <% $s++ ? ' | ' : '' %>
  <A HREF="<% $p %>misc/payment.cgi?payby=CHEK;custnum=<% $custnum %>">Process electronic check (ACH) payment</A>
% } 

% if ( $payby{'MCRD'} && $curuser->access_right('Post payment') ) { 
  <% $s++ ? ' | ' : '' %>
  <A HREF="<% $p %>edit/cust_pay.cgi?payby=MCRD;custnum=<% $custnum %>">Post manual (offline/POS) credit card payment</A>
% } 

<BR>

%# credit link

% if ( $curuser->access_right('Post credit') ) { 
  <% include('/elements/popup_link-cust_main.html',
               'label'       => 'Enter credit',
               'action'      => "${p}edit/cust_credit.cgi",
               'cust_main'   => $cust_main,
               'actionlabel' => 'Enter credit',
               'width'       => 392,
               #default# 'height' => 336,
            )
  %>
  <BR>
% } 

%# refund links

% $s = 0;
% if ( $payby{'BILL'} && $curuser->access_right('Post refund') ) { 
  <% $s++ ? ' | ' : '' %>
  <% include('/elements/popup_link-cust_main.html',
               'label'       => 'Enter check refund',
               'action'      => "${p}edit/cust_refund.cgi?popup=1;payby=BILL",
               'cust_main'   => $cust_main,
               'actionlabel' => 'Enter check refund',
               'width'       => 392,
               #default# 'height' => 336,
            )
  %>
% } 

% if ( $payby{'CASH'} && $curuser->access_right('Post refund') ) { 
  <% $s++ ? ' | ' : '' %>
  <% include('/elements/popup_link-cust_main.html',
               'label'       => 'Enter cash refund',
               'action'      => "${p}edit/cust_refund.cgi?popup=1;payby=CASH",
               'cust_main'   => $cust_main,
               'actionlabel' => 'Enter cash refund',
               'width'       => 392,
               #default# 'height' => 336,
            )
  %>
% } 

%# someday, perhaps.  very few gateways let you do unlinked refunds at all.
%# Authorize.net makes you sign a special form
%#
%#    % if ( ( $payby{'CARD'} || $payby{'DCRD'} )
%#    %        && $curuser->access_right('Process refund')
%#    %        && ! $cust_main->is_encrypted($cust_main->payinfo)
%#    %      ) {
%#      <% $s++ ? ' | ' : '' %>
%#      <A HREF="<% $p %>misc/refund.cgi?payby=CARD;custnum=<% $custnum %>">Process credit card refund</A>
%#    % } 
%#    
%#    % if ( ( $payby{'CHEK'} || $payby{'DCHK'} )
%#    %        && $curuser->access_right('Process refund')
%#    %        && ! $cust_main->is_encrypted($cust_main->payinfo)
%#    %      ) {
%#      <% $s++ ? ' | ' : '' %>
%#      <A HREF="<% $p %>misc/refund.cgi?payby=CHEK;custnum=<% $custnum %>">Process electronic check (ACH) refund</A>
%#    % } 

% if ( $payby{'MCRD'} && $curuser->access_right('Post refund') ) { 
  <% $s++ ? ' | ' : '' %>
  <A HREF="<% $p %>edit/cust_refund.cgi?payby=MCRD;custnum=<% $custnum %>">Post manual (offline/POS) credit card refund</A>
% } 

<BR>

%# tax exemption link

% if ( $curuser->access_right('View customer tax exemptions') ) { 
  <A HREF="<% $p %>search/cust_tax_exempt_pkg.cgi?custnum=<% $custnum %>">View tax exemptions</A>
  <BR>
% } 

%# batched payment links

% if ( ( $conf->exists('batch-enable') || $conf->config('batch-enable_payby') )
%      && $curuser->access_right('View customer batched payments')
%    )
% { 
    View batched payments:
%   foreach my $status (qw( Queued In-transit Complete All )) {
      <A HREF="<% $p %>search/cust_pay_batch.cgi?status=<% $status{$status} %>;custnum=<% $custnum %>"><% $status %></A> 
      <% $status ne 'All' ? '|' : '' %>
%   }
    <BR>
% } 

%# pending payment links

% if ( $curuser->access_right('View customer pending payments')
%      && scalar($cust_main->cust_pay_pending)
%    )
% {
    <A HREF="<% $p %>search/cust_pay_pending.html?magic=_date;statusNOT=done;custnum=<% $custnum %>">View pending payments</A><BR>
% }

%# and now the table

<% include("/elements/table-grid.html") %>
% my $bgcolor1 = '#eeeeee';
%   my $bgcolor2 = '#ffffff';
%   my $bgcolor = '';

<TR>
  <TH CLASS="grid" BGCOLOR="#cccccc">Date</TH>
  <TH CLASS="grid" BGCOLOR="#cccccc">Description</TH>
  <TH CLASS="grid" BGCOLOR="#cccccc"><FONT SIZE=-1>Invoice</FONT></TH>
  <TH CLASS="grid" BGCOLOR="#cccccc"><FONT SIZE=-1>Payment</FONT></TH>
  <TH CLASS="grid" BGCOLOR="#cccccc"><FONT SIZE=-1>In-house<BR>Credit</FONT></TH>
  <TH CLASS="grid" BGCOLOR="#cccccc"><FONT SIZE=-1>Refund</FONT></TH>
  <TH CLASS="grid" BGCOLOR="#cccccc"><FONT SIZE=-1>Balance</FONT></TH>
</TR>

%#display payment history

%my $money_char = $conf->config('money_char') || '$';
%
%sub balance_forward_row {
%  my( $b, $date, $money_char ) = @_;
%  ( my $balance_forward = $money_char. $b ) =~ s/^\$\-/-&nbsp;\$/;

   <TR ID="balance_forward_row">
     <TD CLASS="grid" BGCOLOR="#dddddd">
       <% time2str("%D",$date) %>
     </TD>

     <TD CLASS="grid" BGCOLOR="#dddddd">
       <I>Starting balance on <% time2str("%D",$date) %></I>
       (<A HREF="javascript:void(0);" onClick="show_history();">show prior history</A>)
     </TD>

     <TD CLASS="grid" BGCOLOR="#dddddd"></TD>
     <TD CLASS="grid" BGCOLOR="#dddddd"></TD>
     <TD CLASS="grid" BGCOLOR="#dddddd"></TD>
     <TD CLASS="grid" BGCOLOR="#dddddd"></TD>
     <TD CLASS="grid" BGCOLOR="#dddddd" ALIGN="right"><I><% $balance_forward %></I></TD>

   </TR>
%}
%
%my $balance = 0;
%my %target = ();
%
%my $years =  $conf->config('payment_history-years') || 2;
%my $older_than = time - $years * 31556736; #60*60*24*365.24
%my $hidden = 0;
%my $seen = 0;
%my $old_history = 0;
%my $lastdate = 0;
%
%foreach my $item ( sort { $a->{'date'} <=> $b->{'date'} } @history ) {
%
%  $lastdate = $item->{'date'};
%
%  my $display;
%  if ( $item->{'date'} < $older_than ) {
%    $display = ' STYLE="display:none" ';
%    $hidden = 1;
%  } else {
%
%    $display = '';
%
%    if ( $hidden && ! $seen++ ) {
%      balance_forward_row($balance, $item->{'date'}, $money_char);
%    }
%
%  }
%
%  if ( $bgcolor eq $bgcolor1 ) {
%    $bgcolor = $bgcolor2;
%  } else {
%    $bgcolor = $bgcolor1;
%  }
%
%  my $charge  = exists($item->{'charge'})
%                  ? sprintf("$money_char\%.2f", $item->{'charge'})
%                  : '';
%
%  my $payment = exists($item->{'payment'})
%                  ? sprintf("-&nbsp;$money_char\%.2f", $item->{'payment'})
%                  : '';
%
%  $payment ||= sprintf( "<DEL>-&nbsp;$money_char\%.2f</DEL>",
%                        $item->{'void_payment'}
%                      )
%    if exists($item->{'void_payment'});
%
%  my $credit  = exists($item->{'credit'})
%                  ? sprintf("-&nbsp;$money_char\%.2f", $item->{'credit'})
%                  : '';
%
%  my $refund  = exists($item->{'refund'})
%                  ? sprintf("$money_char\%.2f", $item->{'refund'})
%                  : '';
%
%  my $target = exists($item->{'target'}) ? $item->{'target'} : '';
%
%  $balance += $item->{'charge'}  if exists $item->{'charge'};
%  $balance -= $item->{'payment'} if exists $item->{'payment'};
%  $balance -= $item->{'credit'}  if exists $item->{'credit'};
%  $balance += $item->{'refund'}  if exists $item->{'refund'};
%  $balance = sprintf("%.2f", $balance);
%  $balance =~ s/^\-0\.00$/0.00/; #yay ieee fp
%  ( my $showbalance = $money_char. $balance ) =~ s/^\$\-/-&nbsp;\$/;
%
%


  <TR <% $display ? $display.' ID="old_history'.$old_history++.'"'  : ''%>>
    <TD CLASS="grid" BGCOLOR="<% $bgcolor %>">
% unless ( !$target || $target{$target}++ ) { 

        <A NAME="<% $target %>">
% } 

      <% time2str("%D",$item->{'date'}) %>
% if ( $target && $target{$target} == 1 ) { 

        </A>
% } 

      </FONT>
    </TD>
    <TD CLASS="grid" BGCOLOR="<% $bgcolor %>">
      <% $item->{'desc'} %>
    </TD>
    <TD ALIGN="right" CLASS="grid" BGCOLOR="<% $bgcolor %>">
      <% $charge  %>
    </TD>
    <TD ALIGN="right" CLASS="grid" BGCOLOR="<% $bgcolor %>">
      <% $payment %>
    </TD>
    <TD ALIGN="right" CLASS="grid" BGCOLOR="<% $bgcolor %>">
      <% $credit  %>
    </TD>
    <TD ALIGN="right" CLASS="grid" BGCOLOR="<% $bgcolor %>">
      <% $refund  %>
    </TD>
    <TD ALIGN="right" CLASS="grid" BGCOLOR="<% $bgcolor %>">
      <% $showbalance %>
    </TD>
  </TR>
% } 

%if ( scalar(@history) && $hidden && ! $seen++ ) {
%  balance_forward_row($balance, $lastdate, $money_char);
%}

</TABLE>

<SCRIPT TYPE="text/javascript">

function show_history () {
  //alert('showing history!');

  var balance_forward_row = document.getElementById('balance_forward_row');

  balance_forward_row.style.display = 'none';
  for ( var i = 0; i < <% $old_history %>; i++ ) {
    var oldRow = document.getElementById('old_history'+i);
    oldRow.style.display = '';
  }

}

</SCRIPT>

<%init>

my( $cust_main ) = @_;
my $custnum = $cust_main->custnum;

my $conf = new FS::Conf;

my $curuser = $FS::CurrentUser::CurrentUser;

my @payby = grep /\w/, $conf->config('payby');
#@payby = (qw( CARD DCRD CHEK DCHK LECB BILL CASH WEST COMP ))
@payby = (qw( CARD DCRD CHEK DCHK LECB BILL CASH COMP ))
  unless @payby;
my %payby = map { $_=>1 } @payby;

my %status = (
  'Queued'     => 'O', #Open
  'In-transit' => 'I',
  'Complete'   => 'R', #Resolved
  'All'        => '',
);

#get payment history
my @history = ();

my %opt =
  ( map { $_ => scalar($conf->config($_)) }
        qw( card_refund-days )
  ),
  ( map { $_ => $conf->exists($_) } 
        qw( deletepayments deleterefunds )
  );

#invoices
foreach my $cust_bill ($cust_main->cust_bill) {
  push @history, {
    'date'   => $cust_bill->_date,
    'desc'   => include('payment_history/invoice.html', $cust_bill, %opt ),
    'charge' => $cust_bill->charged,
  };
}

#payments (some false laziness w/credits)
foreach my $cust_pay ($cust_main->cust_pay) {
  push @history, {
    'date'    => $cust_pay->_date,
    'desc'    => include('payment_history/payment.html', $cust_pay, %opt ),
    'payment' => $cust_pay->paid,
    #'target'  => $target, #XXX
  };
}

#voided payments
foreach my $cust_pay_void ($cust_main->cust_pay_void) {
  push @history, {
    'date'   => $cust_pay_void->_date,
    'desc'   => include('payment_history/voided_payment.html', $cust_pay_void),
    'void_payment' => $cust_pay_void->paid,
  };

}

#credits (some false laziness w/payments)
foreach my $cust_credit ($cust_main->cust_credit) {
  push @history, {
    'date'   => $cust_credit->_date,
    'desc'   => include('payment_history/credit.html', $cust_credit),
    'credit' => $cust_credit->amount,
  };

}

#refunds
foreach my $cust_refund ($cust_main->cust_refund) {
  push @history, {
    'date'   => $cust_refund->_date,
    'desc'   => include('payment_history/refund.html', $cust_refund),
    'refund' => $cust_refund->refund,
  };

}

</%init>
