<FORM METHOD="GET" ACTION="<% $new_base %>" NAME="CreateTicketForm">
<INPUT TYPE="submit" VALUE="Create new ticket">
in queue
<SELECT NAME="Queue">
% my %queues = FS::TicketSystem->queues();
% foreach my $queueid ( keys %queues ) {
%   #should consider whether the user has ACL to create ticket in each queue
    <OPTION VALUE="<% $queueid %>"
            <% $queueid == $new_param{'Queue'} ? 'SELECTED' : '' %>
    ><% $queues{$queueid} |h %>
% }
</SELECT>
% foreach my $param ( grep { $_ ne 'Queue' } keys %new_param ) {
    <INPUT TYPE="hidden" NAME="<% $param %>" VALUE="<% $new_param{$param} |h %>">
% }
</FORM>
<BR>

(<A HREF="<% $open_link %>">View <% $openlabel %> tickets for this customer</A>)
(<A HREF="<% $res_link  %>">View resolved tickets for this customer</A>)
<BR><BR>

<% include("/elements/table-grid.html") %>
% my $bgcolor1 = '#eeeeee';
%   my $bgcolor2 = '#ffffff';
%   my $bgcolor = '';

<TR>
  <TH CLASS="grid" BGCOLOR="#cccccc">#</TH>
  <TH CLASS="grid" BGCOLOR="#cccccc">Subject</TH>
  <TH CLASS="grid" BGCOLOR="#cccccc">Status</TH>
  <TH CLASS="grid" BGCOLOR="#cccccc">Queue</TH>
  <TH CLASS="grid" BGCOLOR="#cccccc">Owner</TH>
  <TH CLASS="grid" BGCOLOR="#cccccc">Priority</TH>
</TR>

% foreach my $ticket ( @tickets ) {
%     my $href = FS::TicketSystem->href_ticket($ticket->{id});
%     if ( $bgcolor eq $bgcolor1 ) {
%       $bgcolor = $bgcolor2;
%     } else {
%       $bgcolor = $bgcolor1;
%     }

  <TR>
  
    <TD CLASS="grid" BGCOLOR="<% $bgcolor %>">
      <A HREF=<%$href%>><% $ticket->{id} %></A>
    </TD>
  
    <TD CLASS="grid" BGCOLOR="<% $bgcolor %>">
      <A HREF=<%$href%>><% $ticket->{subject} %></A>
    </TD>
  
    <TD CLASS="grid" BGCOLOR="<% $bgcolor %>">
      <% $ticket->{status} %>
    </TD>
  
    <TD CLASS="grid" BGCOLOR="<% $bgcolor %>">
      <% $ticket->{queue} %>
    </TD>
  
    <TD CLASS="grid" BGCOLOR="<% $bgcolor %>">
      <% $ticket->{owner} %>
    </TD>
  
    <TD ALIGN="right" CLASS="grid" BGCOLOR="<% $bgcolor %>">
      <% $ticket->{content}
           ? $ticket->{content}.' ('.$ticket->{priority}.')'
           : $ticket->{priority}
      %>
    </TD>
  
  </TR>

% } 

</TABLE>

<%init>

my( $cust_main ) = @_;
my( @tickets )  = $cust_main->tickets;

my $open_link = FS::TicketSystem->href_customer_tickets($cust_main->custnum);
my $openlabel = join('/', FS::TicketSystem->statuses );

my $res_link  = FS::TicketSystem->href_customer_tickets(
                  $cust_main->custnum,
                  { 'statuses' => [ 'resolved' ] }
                );

my( $new_base, %new_param ) = FS::TicketSystem->href_params_new_ticket(
                 $cust_main,
                 join(', ', $cust_main->invoicing_list_emailonly )               );

my $new_link = FS::TicketSystem->href_new_ticket(
                 $cust_main,
                 join(', ', $cust_main->invoicing_list_emailonly )
               );

</%init>
