<STYLE>
.passwordbox {
  border: 1px solid #7e0079;
  padding: 2px;
  position: absolute;
  font-size: 80%;
  background-color: #ffffff;
  display: none;
}
</STYLE>
<A ID="<%$pre%>link" HREF="#" onclick="<%$pre%>toggle(true)">(<% mt('change') %>)</A>
<DIV ID="<%$pre%>form" CLASS="passwordbox">
  <FORM METHOD="POST" ACTION="<%$fsurl%>misc/process/change-password.html">
    <INPUT TYPE="hidden" NAME="svcnum" VALUE="<% $svc_acct->svcnum |h%>">
    <INPUT TYPE="text" ID="<%$pre%>password" NAME="password" VALUE="<% $curr_value |h%>">
    <& /elements/random_pass.html, $pre.'password', 'randomize' &>
    <INPUT TYPE="submit" VALUE="change">
    <INPUT TYPE="button" VALUE="cancel" onclick="<%$pre%>toggle(false)">
% if ( $error ) {
    <BR><SPAN STYLE="color: #ff0000"><% $error |h %></SPAN>
% }
  </FORM>
</DIV>
<SCRIPT TYPE="text/javascript">
function <%$pre%>toggle(val) {
  document.getElementById('<%$pre%>form').style.display =
    val ? 'inline-block' : 'none';
  document.getElementById('<%$pre%>link').style.display =
    val ? 'none' : 'inline';
}
% if ( $error ) {
<%$pre%>toggle(true);
% }
</SCRIPT>
<%init>
my %opt = @_;
my $svc_acct = $opt{'svc_acct'};
my $curr_value = $opt{'curr_value'} || '';
my $pre = 'changepw'.$svc_acct->svcnum.'_';
my $error = $cgi->param($pre.'error');
</%init>
