% unless ( $opt{'js_only'} ) {

  <INPUT TYPE="hidden" NAME="<%$name%>" ID="<%$id%>" VALUE="<% $curr_value %>">

  <TABLE>
    <TR>
%     if ( @contact_class ) {
        <TD>
          <SELECT NAME="<%$name%>_classnum" <% $onchange %>>
            <OPTION VALUE="">
%           my $classnum = scalar($cgi->param($name.'_classnum'))
%                            || $contact->classnum;
%           foreach my $contact_class (@contact_class) {
              <OPTION VALUE="<% $contact_class->classnum %>"
                 <% ($contact_class->classnum == $classnum) ? 'SELECTED' : '' %>
              ><% $contact_class->classname |h %>
%           }
          <SELECT><BR>
          <FONT SIZE="-1">Type</FONT>
        </TD>
%     } else {
        <INPUT TYPE="hidden" NAME="<%$name%>_classnum" VALUE="">
%     }
%
%     foreach my $field ( @fields ) {
%
%       my $value = '';
%       if ( $field =~ /^phonetypenum(\d+)$/ ) {
%         my $contact_phone = qsearchs('contact_phone', {
%           'contactnum'   => $curr_value,
%           'phonetypenum' => $1,
%         });
%         if ( $contact_phone ) {
%           $value = $contact_phone->phonenum;
%           $value .= 'x'.$contact_phone->extension
%             if $contact_phone->extension;
%           $value = '+'. $contact_phone->countrycode. " $value"
%             if $contact_phone->countrycode
%             && $contact_phone->countrycode ne '1';
%         }
%       } elsif ( $field eq 'emailaddress' ) {
%         $value = join(', ', map $_->emailaddress, $contact->contact_email);
%       } else {
%         $value = $contact->get($field);
%       }

        <TD>
          <INPUT TYPE  = "text"
                 NAME  = "<%$name%>_<%$field%>"
                 ID    = "<%$id%>_<%$field%>"
                 SIZE  = "<% $size{$field} || 15 %>"
                 VALUE = "<% scalar($cgi->param($name."_$field"))
                             || $value |h %>"
                 <% $onchange %>
          ><BR>
          <FONT SIZE="-1"><% $label{$field} %></FONT>
        </TD>
%     }
    </TR>
  </TABLE>

% }
<%init>

my( %opt ) = @_;

my $name = $opt{'element_name'} || $opt{'field'} || 'contactnum';
my $id = $opt{'id'} || 'contactnum';

my $curr_value = $opt{'curr_value'} || $opt{'value'};

my $onchange = '';
if ( $opt{'onchange'} ) {
  $onchange = $opt{'onchange'};
  $onchange .= '(this)' unless $onchange =~ /\(\w*\);?$/;
  $onchange =~ s/\(what\);/\(this\);/g; #ugh, terrible hack.  all onchange
                                        #callbacks should act the same
  $onchange = 'onChange="'. $onchange. '"';
}

my @contact_class = qsearch('contact_class', { 'disabled' => '' });

my $contact;
if ( $curr_value ) {
  $contact = qsearchs('contact', { 'contactnum' => $curr_value } );
} else {
  $contact = new FS::contact {};
}

my %size = ( 'title' => 12 );

tie my %label, 'Tie::IxHash',
  'first'        => 'First name',
  'last'         => 'Last name',
  'title'        => 'Title/Position',
  'emailaddress' => 'Email',
;

my $first = 0;
foreach my $phone_type ( qsearch({table=>'phone_type', order_by=>'weight'}) ) {
  next if $phone_type->typename eq 'Home';
  my $f = 'phonetypenum'.$phone_type->phonetypenum;
  $label{$f} = $phone_type->typename. ' phone';
  $size{$f} = $first++ ? 10 : 15;
}

$label{'comment'} = 'Comment';

my @fields = keys %label;

</%init>
