% unless ( $opt{'js_only'} ) {

  <INPUT TYPE="hidden" NAME="<%$name%>" ID="<%$id%>" VALUE="<% $curr_value %>">

  <TABLE>
    <TR>
%     foreach my $field ( @textfields ) {
%
%       my $value = '';
%         $value = $item->get($field);

        <TD>
          <INPUT TYPE  = "text"
                 NAME  = "<%$name%>_<%$field%>"
                 ID    = "<%$id%>_<%$field%>"
                 SIZE  = "<% $size{$field} || 15 %>"
                 VALUE = "<% scalar($cgi->param($name."_$field"))
                             || $value |h %>"
                 <% $onchange %>
          >
          <BR><FONT SIZE="-1"><% $label{$field} %></FONT>
        </TD>
%     }
%     my $value = '';
%     $value = $item->get('latanum');
      <TD><% include('/elements/select-table.html',
                         'name_col'      => 'description',
                         'table'         => 'lata',
                         'disable_empty' => 0,
                         'empty_label'   => ' ',
                         'label_showkey' => 1,
                         'field'         => "${name}_latanum",
                         'curr_value'    => scalar($cgi->param("${name}_latanum"))
                                             || $value,
                      )
            %>
        <BR><FONT SIZE="-1">LATA #</FONT>
      </TD>
%     $value = $item->get('state');
      <TD><% include('/elements/select-state.html',
                         'disable_empty' => 0,
                         'empty_label'   => ' ',
                         'country'       => 'US',
                         'prefix'        => "${name}_",
                         'state'         => scalar($cgi->param("${name}_state"))
                                            || $value,
                      )
            %>
          <BR><FONT SIZE="-1">State</FONT>
      </TD>
    </TR>
  </TABLE>

% }
<%init>

my( %opt ) = @_;

my $name = $opt{'element_name'} || $opt{'field'} || 'orderitemnum';
my $id = $opt{'id'} || 'orderitemnum';

my $curr_value = $opt{'curr_value'} || $opt{'value'};

my $onchange = '';
if ( $opt{'onchange'} ) {
  $onchange = $opt{'onchange'};
  $onchange .= '(this)' unless $onchange =~ /\(\w*\);?$/;
  $onchange =~ s/\(what\);/\(this\);/g; #ugh, terrible hack.  all onchange
                                        #callbacks should act the same
  $onchange = 'onChange="'. $onchange. '"';
}

my $item;
if ( $curr_value ) {
  $item = qsearchs('did_order_item', { 'orderitemnum' => $curr_value } );
} else {
  $item = new FS::did_order_item {};
}

my %size = ( 'npa' => 3, 
	     'quantity' => 3,);

tie my %label, 'Tie::IxHash',
  'quantity' => 'Quantity',
  'npa'        => 'NPA',
  'ratecenter'        => 'Rate Center',
  'msa'        => 'MSA',
;
my @textfields = keys %label;

</%init>
