* {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  /* font-family: Verdana, Arial, Helvetica, sans-serif; */
}

A:link IMG, A:visited { border-style: none }
/* A:focus {text-decoration: underline } */

a:link, a:visited {
  /* text-decoration: none; */
  color: #000000;
} 

a:hover {
  text-decoration: underline;
  color: #7e0079;
}

textarea, input[type="text"] {
  border: 1px solid #666666;
  padding: 1px;
}

textarea:hover, input[type="text"]:hover {
  border: 1px solid #7e0079;
  padding: 1px;
}

textarea:focus, input[type="text"]:focus {
  background-color: #ffffdd;
  border: 1px solid #7e0079;
}

input[type="reset"]:hover, input[type="submit"]:hover, input[class="button"]:hover {
  /* border: 1px solid #7e0079; */
  color: #7e0079;
}

/* a:focus { background-color: #ccccee } */

