* {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

A:link IMG, A:visited { border-style: none }
/* A:focus {text-decoration: underline } */

a:link, a:visited {
  /* text-decoration: none; */
  color: #000000;
} 
/* a:hover {  text-decoration: underline } */

/* a:focus { background-color: #ccccee } */

