input.fsblackbutton {
	 background-color:#aaaaaa;
	 color: #333333;
	 border:1px solid #888888;

	 -moz-border-radius: 8px;
	 -webkit-border-radius: 8px;
	 border-radius: 8px;

         font-family: Arial, Verdana, Helvetica, sans-serif;
	 font-weight:bold;
	 padding-left:12px;
	 padding-right:12px;
         padding-top:0px;
         padding-bottom:0px;

         margin-bottom:4px;
	 overflow:visible;
}

input.fsblackbutton:hover,input.fsblackbutton:focus,
input.fsblackbuttonselected:hover, input.fsblackbuttonselected:focus {
        background:#aaaaaa;
}

input.fsblackbuttonselected {
	 background-color:#aaaaaa;
	 color: #7e0079;
	 border:1px solid #7e0079;

	 -moz-border-radius: 8px;
	 -webkit-border-radius: 8px;
	 border-radius: 8px;

         font-family: Arial, Verdana, Helvetica, sans-serif;
	 font-weight:bold;
	 padding-left:12px;
	 padding-right:12px;
         padding-top:0px;
         padding-bottom:0px;

         margin-bottom:4px;
	 overflow:visible;
}

input.fstext {
         border: 1px solid #666666;
         padding: 1px;

         vertical-align:bottom;
         text-align:right;
         font-family: Arial,Verdana,Helvetica,sans-serif;
         font-size: 13px;

         margin:0px;
}

input.fstext:focus {
         border: 1px solid #7e0079;
}

a.fslink {
        text-decoration: underline;
}

a:hover.fslink {
        color: #7e0079;
}

a.fsblackbutton {
         background-color:#333333;
         color: #ffffff;
         border:1px solid;
         border-top-color:#cccccc;
         border-left-color:#cccccc;
         border-right-color:#aaaaaa;
         border-bottom-color:#aaaaaa;
         /*font-weight:bold;*/
         /*padding-left:12px;
         padding-right:12px;*/
         padding-left:4px;
         padding-right:4px;
         font-size:16px;
         text-decoration:none;
         overflow:visible;
}

a.fsblackbuttonselected,
a:link:hover.fsblackbutton,
a:visited:hover.fsblackbutton {
         background-color:#7e0079;
         color: #ffffff;
         border:1px solid;
         border-top-color:#cccccc;
         border-left-color:#cccccc;
         border-right-color:#aaaaaa;
         border-bottom-color:#aaaaaa;
         /*font-weight:bold;*/
         /*padding-left:12px;
         padding-right:12px;*/
         padding-left:4px;
         padding-right:4px;
         font-size:16px;
         text-decoration:none;
         overflow:visible;
}

a.fsdarkbutton {
         background-color:#555555;
         color: #ffffff;
         border:1px solid;
         border-top-color:#cccccc;
         border-left-color:#cccccc;
         border-right-color:#aaaaaa;
         border-bottom-color:#aaaaaa;
         /*font-weight:bold;*/
         /*padding-left:12px;
         padding-right:12px;*/
         padding-left:4px;
         padding-right:4px;
         font-size:16px;
         text-decoration:none;
         overflow:visible;
}

a.fsdarkbuttonselected,
a:link:hover.fsdarkbutton,
a:visited:hover.fsdarkbutton {
         background-color:#7e0079;
         color: #ffffff;
         border:1px solid;
         border-top-color:#cccccc;
         border-left-color:#cccccc;
         border-right-color:#aaaaaa;
         border-bottom-color:#aaaaaa;
         /*font-weight:bold;*/
         /*padding-left:12px;
         padding-right:12px;*/
         padding-left:4px;
         padding-right:4px;
         font-size:16px;
         text-decoration:none;
         overflow:visible;
}

