* {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  /* font-family: Verdana, Arial, Helvetica, sans-serif; */
}

A:link IMG, A:visited { border-style: none }
/* A:focus {text-decoration: underline } */

a:link, a:visited {
  /* text-decoration: none; */
  color: #000000;
} 

a[href]:hover {
  text-decoration: underline;
  color: #7e0079;
}

textarea, input[type="text"], input[type="password"] {
  border: 1px solid #666666;
  padding: 1px;
	 -moz-border-radius: 2px;
	 -webkit-border-radius: 2px;
	 border-radius: 2px;
}

textarea:hover, input[type="text"]:hover, input[type="password"]:hover {
  border: 1px solid #7e0079;
  padding: 1px;
	 -moz-border-radius: 2px;
	 -webkit-border-radius: 2px;
	 border-radius: 2px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
  background-color: #ffffdd;
  border: 1px solid #7e0079;
	 -moz-border-radius: 2px;
	 -webkit-border-radius: 2px;
	 border-radius: 2px;
}

input[type="reset"], input[type="submit"], input[type="button"] {
  background-color: #dddddd;
  border: 1px solid #666666;
	 -moz-border-radius: 4px;
	 -webkit-border-radius: 4px;
	 border-radius: 4px;
  -moz-box-shadow: #666666 1px 1px 2px;
  -webkit-box-shadow: #666666 1px 1px 2px;
  box-shadow: #666666 1px 1px 2px;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=2);
}

input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #e4e4e4;
  border: 1px solid #7e0079;
  color: #7e0079;
	 -moz-border-radius: 4px;
	 -webkit-border-radius: 4px;
	 border-radius: 4px;
  -moz-box-shadow: #7e0079 1px 1px 2px;
  -webkit-box-shadow: #7e0079 1px 1px 2px;
  box-shadow: #7e0079 1px 1px 2px;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#7e0079', Direction=135, Strength=2);
}

/*input[type="select"] {
  background-color: #eeeeee;
  border: 1px solid #666666;
	 -moz-border-radius: 4px;
	 -webkit-border-radius: 4px;
	 border-radius: 4px;
}

input[type="select"]:hover {
  background-color: #eeeeee;
  border: 1px solid #7e0079;
  color: #7e0079;
	 -moz-border-radius: 4px;
	 -webkit-border-radius: 4px;
	 border-radius: 4px;
}
*/


/* a:focus { background-color: #ccccee } */

a.fstab {
         background-color:#cccccc;
         color: #666666;
         border:1px solid;
         border-top-color:#666666;
         border-left-color:#666666;
         border-right-color:#666666;
         border-bottom-color:#7e0079;
         -moz-border-radius-topleft:8px;
         -moz-border-radius-topright:8px;
         -webkit-border-radius-topleft:8px;
         -webkit-border-radius-topright:8px;
         border-radius-topleft:8px;
         border-radius-topright:8px;
         /*font-weight:bold;*/
         /*padding-left:12px;
         padding-right:12px;*/
         padding-left:4px;
         padding-right:4px;
         font-size:16px;
         font-weight:bold;
         text-decoration:none;
         overflow:visible;
    margin-left:6px;
    margin-right:6px;
}
a.fstab:hover {
  text-decoration:none;
  border-color:#7e0079;
}

/* a:link:hover.fsblackbutton,
a:visited:hover.fsblackbutton
*/
a.fstabselected {
         background-color:#ffffff;
         color: #000000;
         border-top:1px solid #7e0079;
         border-left:1px solid #7e0079;
         border-right:1px solid #7e0079;
         border-bottom:1px solid #ffffff;
         -moz-border-radius-topleft:8px;
         -moz-border-radius-topright:8px;
         -webkit-border-radius-topleft:8px;
         -webkit-border-radius-topright:8px;
         border-radius-topleft:8px;
         border-radius-topright:8px;
         /*font-weight:bold;*/
         /*padding-left:12px;
         padding-right:12px;*/
         padding-left:4px;
         padding-right:4px;
         font-size:16px;
         font-weight:bold;
         text-decoration:none;
         overflow:visible;
    margin-left:6px;
    margin-right:6px;
}
a.fstabselected:hover {
  text-decoration:none;
  color: #000000;
}

div.fstabs {
  padding-left:8px;
  border-bottom:1px solid #7e0079;
}

div.fstabcontainer {
  background-color:#ffffff;
  padding:8px;
  border-left:1px solid #7e0079;
  border-right:1px solid #7e0079;
  border-bottom:1px solid #7e0079;
         -moz-border-radius-bottomleft:8px;
         -moz-border-radius-bottomright:8px;
         -webkit-border-radius-bottomleft:8px;
         -webkit-border-radius-bottomright:8px;
         border-radius-bottomleft:8px;
         border-radius-bottomright:8px;
  -moz-box-shadow: #666666 1px 1px 2px;
  -webkit-box-shadow: #666666 1px 1px 2px;
  box-shadow: #666666 1px 1px 2px;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=2);
}

.background {
  background-color:#f8f8f8;
}
