<%doc>

Examples:

  <& /elements/header-cust_main.html,
       view      => 'basics', #required
       cust_main => $cust_main, # cust_main or custnum is required
       custnum   => $custnum,   #
  &>

</%doc>
<& /elements/header.html, {
             'title'             => $title,
             'title_noescape'    => $title_noescape,
             'head'              => $head,
             'etc'               => $opt{'etc'},
             'include_selectize' => $opt{include_selectize} ? 1 : 0,
             #'nobr'             => 1,
          }
&>

% my @part_tag = $cust_main->part_tag;
% if ( $conf->config('cust_tag-location') eq 'top' && @part_tag ) {
<TABLE STYLE="margin-bottom:8px" CELLSPACING=2>
%   foreach my $part_tag ( @part_tag ) {
<TR>
  <TD>
      <FONT SIZE="+1"
            <% length($part_tag->tagcolor)
                 ? 'STYLE="background-color:#'.$part_tag->tagcolor.'"'
                 : ''
      %>><% $part_tag->tagname.': '. $part_tag->tagdesc |h %></FONT>
  </TD>
</TR>
%   }
</TABLE>
% }
% if ( scalar @cust_locations_missing_district ) {
  <div style="margin: 0 1em; padding: 1em; border: solid 1px #999; background-color: #fee;">
    <h4 style="margin: 0; border-bottom: solid 1px #aaa; color: red;">Customer will not be billed:</h4>
    <p style="margin: .5em;">
    The following customer locations are missing tax districts for Washington State.<br>
    Sales taxes cannot be calculated for this customer.<br>
    Correct the address information, or enter a tax district number.
    <ul>
%   for my $cust_location ( @cust_locations_missing_district ) {
      <li>
        (<a href="#" onclick="overlib_edit_location(<% $cust_location->locationnum %>);">
          EDIT
        </a>)
        <% $cust_location->address1 %>
        <% $cust_location->city %>
        <% $cust_location->state %>
        <% $cust_location->zip %>
        (<% $cust_location->locationnum %>)
      </li>
%   } # /for my $cust_location
    </ul>
  </div>
  <script>
    function overlib_edit_location(locationnum) {
      overlib(
        OLiframeContent(
          '<% $fsurl %>edit/cust_location.cgi?locationnum=' + locationnum,
          700, 355,
          'popup-1548013977-3901-3256727185.50958',
          0,
          'auto'
        ),
        CAPTION, 'Edit location',
        STICKY,
        AUTOSTATUSCAP,
        MIDX, 0,
        MIDY, 0,
        DRAGGABLE,
        CLOSECLICK,
        TEXTPADDING, 0,
        BASE, 0,
        BGCOLOR, '#333399',
        CGCOLOR, '#333399',
        FGCOLOR, '#f8f8f8',
        CLOSETEXT, 'Close'
      );
      return false;
    }
  </script>
  <br>
% } # /if @cust_locations_missing_district
<& /view/cust_main/menu.html, cust_main => $cust_main, show => $opt{'view'} &>
<BR>

<DIV CLASS="fstabcontainer">

<& /elements/init_overlib.html &>

<SCRIPT TYPE="text/javascript">
function areyousure(href, message) {
  if (confirm(message) == true)
    window.location.href = href;
}
function areyousure_popup(message, action, actionlabel) {
  if (confirm(message) == true) {
<% include('/elements/popup_link_onclick.html',
     'js_action' => 'action',
     'js_actionlabel' => 'actionlabel',
   ) %>
  }
}
</SCRIPT>

<%init>

my $curuser = $FS::CurrentUser::CurrentUser;

my $conf = new FS::Conf;

my %opt = @_;

my $cust_main = $opt{'cust_main'} || qsearchs( {
  'table'     => 'cust_main',
  'hashref'   => { 'custnum' => $opt{'custnum'} },
  'extra_sql' => ' AND '. $curuser->agentnums_sql,
});
die "Customer not found!" unless $cust_main;

my $title = mt("Customer").' #'. $cust_main->display_custnum. ': ';
my $title_noescape = $title. encode_entities($cust_main->name);
$title .= $cust_main->name;

if ( $curuser->num_agents ) {
  $title_noescape =
    encode_entities($cust_main->agent->agent). " $title_noescape";
  $title = $cust_main->agent->agent. " $title";
}

my $status = $cust_main->status_label;
$status .= ' (Cancelled)' if $cust_main->is_status_delay_cancel;
$title_noescape .= ' (<B><FONT COLOR="#'. $cust_main->statuscolor. '">'. $status.  '</FONT></B>)';
$title .= " ($status)";

my $ie_compat = $conf->config('ie-compatibility_mode');
my $head = '';
if ( $ie_compat ) {
  $head = qq(<meta http-equiv="X-UA-Compatible" content="IE=$ie_compat" />);
}

my @cust_locations_missing_district;
my $tax_district_method = $conf->config('tax_district_method');
if ( $tax_district_method && $tax_district_method eq 'wa_sales' ) {
  @cust_locations_missing_district = $cust_main->cust_locations_missing_district();
}

</%init>
