<%doc>

Example:

  include( '/elements/location.html',
             'object'         => $cust_main,  # or $cust_location
             'prefix'         => $pre,        #only for cust_main objects
             'onchange'       => $javascript,
             'disabled'       => $disabled,
             'same_checked'   => $same_checked,
             'geocode'        => $geocode, #passed through
             'censustract'    => $censustract, #passed through
             'no_asterisks'   => 0, #set true to disable the red asterisks next
                                    #to required fields
             'address1_label' => 'Address', #label for address
         )

</%doc>

% if ( $opt{'alt_format'} ) {

<TR>
    <<%$th%> ALIGN="right">Location type</<%$th%>>
    <TD>
    <% include('/elements/select.html',
                 'cgi'        => $cgi,
                 'field'      => 'location_kind',
                 'disabled'   => $disabled,
                 'style'      => $style, 
                 'options'    => \@location_kind_options,
                 'labels'     => $location_kind_labels,
                 'curr_value' => scalar($cgi->param('location_kind'))
                                   || $object->get($pre.'location_kind'),
              )
    %>
    </TD>
  </TR>

% } 

<TR>
  <<%$th%> ALIGN="right"><%$r%><% $opt{'address1_label'} || 'Address' %></<%$th%>>
  <TD COLSPAN=7>
    <INPUT TYPE     = "text"
           NAME     = "<%$pre%>address1"
           ID       = "<%$pre%>address1"
           VALUE    = "<% $object->get($pre.'address1') |h %>"
           SIZE     = 54
           onChange = "<% $onchange %>"
           <% $disabled %>
           <% $style %>
    >
  </TD>
</TR>

% if ( ! $opt{'alt_format'} ) { #regular format

<TR>
      <TD ALIGN="right"><FONT ID="<% $pre %>address2_required" color="#ff0000" <% $address2_label_style %>>*</FONT>&nbsp;<FONT ID="<% $pre %>address2_label" <% $address2_label_style %>><B>Unit&nbsp;#</B></FONT></TD>
      <TD COLSPAN=7>
        <INPUT TYPE     = "text"
               NAME     = "<%$pre%>address2"
               ID       = "<%$pre%>address2"
               VALUE    = "<% $object->get($pre.'address2') |h %>"
               SIZE     = 54
               onChange = "<% $onchange %>"
               <% $disabled %>
               <% $style %>
        >
      </TD>
</TR>

% } else { # alternate format

      <INPUT TYPE  = "hidden"
             NAME  = "<%$pre%>address2"
             VALUE = "<% $object->get($pre.'address2') |h %>"
      >

<TR>
    <<%$th%> ALIGN="right">Unit Type and #</<%$th%>>
    <TD COLSPAN=7>

%     my $location_type = scalar($cgi->param('location_type'))
%                           || $object->get($pre.'location_type');
%     #my $location_number = scalar($cgi->param('location_number'))
%     #                        || $object->get($pre.'location_number');
%
%   if ( $object->get($pre.'address2') && ! $location_type ) {
%   }
%
%     if ( 1 ) { #ikano, switch on via config
%       tie my %location_types, 'Tie::IxHash',
%         FS::part_export::ikano->location_types;
        <% include('/elements/select.html',
                     'cgi'        => $cgi,
                     'field'      => 'location_type',
                     'disabled'   => $disabled,
                     'style'      => $style,
                     'options'    => [ keys %location_types ],
                     'labels'     => \%location_types,
                     'curr_value' => $location_type,
                     'onchange'   => 'location_type_changed',
                  )
        %>
        <SCRIPT TYPE="text/javascript">
          function location_type_changed (what) {
            if ( what.options[what.selectedIndex].value == '' ) {
              what.form.location_number.disabled = true;
              what.form.location_number.style.backgroundColor = '#dddddd';
            } else {
              what.form.location_number.disabled = false;
              what.form.location_number.style.backgroundColor = '#ffffff';
            }
          }
        </SCRIPT>
%     } else {
        <INPUT TYPE  = "text" 
               NAME  = "location_type" 
               ID    = "location_type"
               VALUE = "<% $location_type |h %>"
               SIZE  = "10"
               <% $disabled %>
               <% $style %>
        >
%     }

    <INPUT TYPE="text" 
               NAME="location_number"
               ID="location_number"
               VALUE="<% scalar($cgi->param('location_number')) || $object->get($pre.'location_number') |h %>"
               SIZE="5"
               <% $disabled || ($location_type ? '' : 'DISABLED') %>
               <% $style %>
        >

%   if ( $object->get($pre.'address2') ) {

%     #XXX try to parse first
%     if ( 0 ) {
%     } else {
        Can't parse unit type and number from <B><% $object->get($pre.'address2') |h %></B>
%    }

% }

    </TD>

</TR>

% } 


<TR>
  <<%$th%> ALIGN="right"><%$r%>City</<%$th%>>
  <TD WIDTH="1"><% include('/elements/city.html', %select_hash) %></TD>
  <<%$th%> ALIGN="right" ID="<%$pre%>countylabel" <%$county_style%>><%$r%>County</<%$th%>>
  <TD><% include('/elements/select-county.html', %select_hash ) %></TD>
  <<%$th%> ALIGN="right" WIDTH="1"><%$r%>State</<%$th%>>
  <TD WIDTH="1">
    <% include('/elements/select-state.html', %select_hash ) %>
  </TD>
  <<%$th%>><%$r%>Zip</<%$th%>>
  <TD>
    <INPUT TYPE     = "text"
           NAME     = "<%$pre%>zip"
           ID       = "<%$pre%>zip"
           VALUE    = "<% $object->get($pre.'zip') |h %>"
           SIZE     = 10
           onChange = "<% $onchange %>"
           <% $disabled %>
           <% $style %>
    >
  </TD>
</TR>

<TR>
  <<%$th%> ALIGN="right"><%$r%>Country</<%$th%>>
  <TD COLSPAN=6><% include('/elements/select-country.html', %select_hash ) %></TD>
</TR>

% if ( !$pre ) { 
  <INPUT TYPE="hidden" NAME="geocode" VALUE="<% $opt{geocode} %>">
% } else {
%   if ( $pre eq 'ship_' && $conf->exists('cust_main-require_censustract') ) {
      <TR><<%$th%> ALIGN="right">Census tract<BR>(automatic)</<%$th%>>
        <TD>
          <INPUT TYPE="text" NAME="censustract" VALUE="<% $opt{censustract} %>">
        </TD>
      </TR>
%   } else {
      <INPUT TYPE="hidden" NAME="censustract" VALUE="<% $opt{censustract} %>">
%   } 
% } 

<%init>

my %opt = @_;

my $pre      = $opt{'prefix'};
my $object   = $opt{'object'};
my $onchange = $opt{'onchange'};
my $disabled = $opt{'disabled'};

my $conf = new FS::Conf;

my $r = $opt{'no_asterisks'} ? '' : qq!<font color="#ff0000">*</font>&nbsp;!;

#false laziness with ship state
my $countrydefault = $conf->config('countrydefault') || 'US';
$object->set($pre.'country', $countrydefault )
  unless $object->get($pre.'country');

my $statedefault = $conf->config('statedefault')
                   || ($countrydefault eq 'US' ? 'CA' : '');
$object->set($pre.'state', $statedefault )
  unless $object->get($pre.'state')
         || $object->get($pre.'country') ne $countrydefault;

my @style = ();
push @style, 'background-color: #dddddd' if $disabled;

my @address2_label_style = ();
push @address2_label_style, 'visibility:hidden'
  if $disabled
  || ! $conf->exists('cust_main-require_address2')
  || ( !$pre && !$opt{'same_checked'} );

my @counties = counties( $object->get($pre.'state'),
                         $object->get($pre.'country'),
                       );
my @county_style = ();
push @county_style, 'display:none' # 'visibility:hidden'
  unless scalar(@counties) > 1;

my $style =
  scalar(@style)
    ? 'STYLE="'. join(';', @style). '"'
    : '';
my $address2_label_style =
  scalar(@address2_label_style)
    ? 'STYLE="'. join(';', @address2_label_style). '"'
    : '';
my $county_style = 
  scalar(@county_style)
    ? 'STYLE="'. join(';', @county_style). '"'
    : '';

my %select_hash = (
  'city'     => $object->get($pre.'city'),
  'county'   => $object->get($pre.'county'),
  'state'    => $object->get($pre.'state'),
  'country'  => $object->get($pre.'country'),
  'prefix'   => $pre,
  'onchange' => $onchange,
  'disabled' => $disabled,
  'style'    => \@style,
);

my $th = $opt{'no_bold'} ? 'TD' : 'TH';

my @location_kind_options = ( '', 'R', 'B' );
my $location_kind_labels = { '' => '', 'R' => 'Residential', 'B' => 'Business' };

</%init>
