<& /elements/header-popup.html &>

% #XXX actually, the action needs to repace the top-level window with this
% #$params->{'action'} = $p. 'rt/Search/Schedule.html?'. $query;
<FORM NAME="appointment_form" METHOD="POST" ACTION="<% $p %>elements/schedule-appointment.html">

<INPUT TYPE="hidden" NAME="custnum" VALUE="<% $cgi->param('custnum') |h %>">

% my @sched_item = qsearch('sched_item', { 'disabled' => '', });
% my @username = map $_->access_user->username, @sched_item;
% foreach my $username (@username) { 
  <INPUT TYPE="hidden" NAME="username" VALUE="<% $username |h %>">
% }

Length: 
<SELECT NAME="LengthMin">
%  for ( my $hours = .5; $hours < 10.5; $hours += .5 ) {
     <OPTION VALUE="<% $hours * 60 %>"><% $hours %> hour<% $hours > 1 ? 's' : '' %>
%  }
</SELECT>
<BR>
<BR>

<INPUT TYPE="submit" VALUE="Schedule appointment">

</FORM>

<& /elements/footer-popup.html &>
<%init>

#XXX '&pkgnum=$pkgnum";need to be for specific package/location, not just for a customer... default to active(/ordered) package in a pkg_class w/ticketing_queueid, otherwise, a popup?  (well, we're already a popup now) we're getting complicated like form-creat_ticket.html


</%init>
