<script type="text/javascript" src="<%$fsurl%>elements/cssexpr.js"></script>

% if ( $opt{'position'} eq 'top' ) {

  <script type="text/javascript" src="<%$fsurl%>elements/xmenu.top.js"></script>
  <link href="<%$fsurl%>elements/xmenu.top.css" type="text/css" rel="stylesheet">

% } else {  # elsif ( $opt{'position'} eq 'left' ) {

  <script type="text/javascript" src="<%$fsurl%>elements/xmenu.js"></script>
  <link href="<%$fsurl%>elements/xmenu.css" type="text/css" rel="stylesheet">

% }

<link href="<%$fsurl%>elements/freeside.css" type="text/css" rel="stylesheet">

<SCRIPT TYPE="text/javascript">

  webfxMenuImagePath      = "<%$fsurl%>images/";
  webfxMenuUseHover       = 1;
  webfxMenuShowTime       = 300;
  webfxMenuHideTime       = 500;

  var myBar = new WebFXMenuBar;

% foreach my $item ( keys %menu ) {
%
%     my( $url_or_submenu, $tooltip ) = @{ $menu{$item} };
%
%     if ( ref($url_or_submenu) ) {
%
%         #warn $item;
%
%         my( $subhtml, $submenuname ) = submenu($url_or_submenu, $item);

          <% $subhtml %>
          myBar.add(new WebFXMenuButton("<% $item %>", null, "<% $tooltip %>", <% $submenuname %> ));

%     } else { 
    
          myBar.add(new WebFXMenuButton("<% $item %>", "<% $url_or_submenu %>", "<% $tooltip %>" ));

%     }
%
% }

  myBar.show( null, 'vertical' );
  myBar.width = 154;

</SCRIPT>

<%init>
my( %opt ) = @_;
my $conf = new FS::Conf;
my $fsurl = $opt{'freeside_baseurl'};

my $curuser = $FS::CurrentUser::CurrentUser;

#Active tickets not assigned to a customer

tie my %report_customers_lists, 'Tie::IxHash',
  'by customer number' => [ $fsurl. 'search/cust_main.cgi?browse=custnum', '' ],
  'by last name' => [ $fsurl. 'search/cust_main.cgi?browse=last', '' ],
  'by company name' => [ $fsurl. 'search/cust_main.cgi?browse=company', '' ],
;
$report_customers_lists{'by active trouble tickets'} = [ $fsurl. 'search/cust_main.cgi?browse=tickets', '' ]
  if $conf->config('ticket_system');

tie my %report_customers_search, 'Tie::IxHash';
$report_customers_search{'by ordering employee'} = [ $fsurl. 'search/cust_main-otaker.cgi' ]
  if $curuser->access_right('Configuration');

tie my %report_customers, 'Tie::IxHash';
$report_customers{'List customers'} = [ \%report_customers_lists, 'List customers' ]
  if $curuser->access_right('List customers');
$report_customers{'Search customers'} = [ \%report_customers_search, 'Search customers' ]
  if keys %report_customers_search;
$report_customers{'Zip code distribution'}     = [ $fsurl. 'search/report_cust_main-zip.html', 'Zip codes by number of customers' ];
$report_customers{'Advanced customer reports'} = [ $fsurl. 'search/report_cust_main.html', 'by status, signup date, agent, etc.' ]
  if    $curuser->access_right('List customers')
     && $curuser->access_right('List packages');

tie my %report_invoices_open, 'Tie::IxHash',
  'All open invoices' => [ $fsurl.'search/cust_bill.html?OPEN_date', 'All invoices with an unpaid balance' ],
  '15 day open invoices' => [ $fsurl.'search/cust_bill.html?OPEN15_date', 'Invoices 15 days or older with an unpaid balance' ],
  '30 day open invoices' => [ $fsurl.'search/cust_bill.html?OPEN30_date', 'Invoices 30 days or older with an unpaid balance' ],
  '60 day open invoices' => [ $fsurl.'search/cust_bill.html?OPEN60_date', 'Invoices 60 days or older with an unpaid balance' ],
  '90 day open invoices' => [ $fsurl.'search/cust_bill.html?OPEN90_date', 'Invoices 90 days or older with an unpaid balance' ],
  '120 day open invoices' => [ $fsurl.'search/cust_bill.html?OPEN120_date', 'Invoices 120 days or older with an unpaid balance' ],
;

tie my %report_invoices, 'Tie::IxHash',
  'Open invoices' => [ \%report_invoices_open, 'Open invoices' ],
  'All invoices'  => [ $fsurl. 'search/cust_bill.html?date', 'List all invoices' ],
  'Advanced invoice reports' => [ $fsurl.'search/report_cust_bill.html', 'by agent, date range, etc.' ],
;

tie my %report_services, 'Tie::IxHash';
if ( $curuser->access_right('Configuration') ) {
  $report_services{'Service definitions'} =  [ $fsurl.'browse/part_svc.cgi?orderby=active', 'Service definitions by number of active packages' ];
  $report_services{'separator'} =  '';
}
foreach my $svcdb ( FS::part_svc->svc_tables() ) {

  my $name =        "FS::$svcdb"->table_info->{'name_plural'}
             || PL( "FS::$svcdb"->table_info->{'name'}        );
  my $lcname = lc($name);
  my $lcsname = lc("FS::$svcdb"->table_info->{'name'});
  my $longname = "FS::$svcdb"->table_info->{'longname_plural'} || $name;
  my $lclongname = lc($longname);
  my $sorts = "FS::$svcdb"->table_info->{'sorts'} || [ 'svcnum' ];
  $sorts = [ $sorts ] unless ref($sorts);
  my %svc_url = ( 'm'      => $m,
		  'action' => 'search',
		  'svcdb'  => $svcdb,
		);

  tie my %report_svc, 'Tie::IxHash';

  foreach my $sort ( @$sorts ) {

    my $field_info = FS::part_svc->svc_table_fields($svcdb)->{$sort};
    my $label = $field_info->{'label_sort'} || 'by '.$field_info->{'label'};

    my $title = "All $lcname";
    $title .= " $label"
      if scalar(@$sorts) > 1;

    $report_svc{$title} =
      [ svc_url( %svc_url, 'query' => "magic=all;sortby=$sort" ),
        '',
      ];
  }

  if ( $svcdb eq 'svc_acct' ) {
    $report_svc{"All $lcname never logged in"} = 
      [ svc_url( %svc_url, 'query' => "magic=nologin;sortby=svcnum" ),
        '',
      ];
  }

  if ( $curuser->access_right('View/link unlinked services') ) {
    $report_svc{"Unlinked $lcname"} = 
      [ svc_url( %svc_url, 'query' => "magic=unlinked;sortby=". $sorts->[0] ),
        "Pre-Freeside $lcname without a customer record",
      ];
  }

  if ( $svcdb eq 'svc_acct' ) {
    $report_svc{"Advanced $lcsname reports"} = 
      [ $fsurl."search/report_$svcdb.html", '' ];
  }

  $report_services{$name} = [ \%report_svc, $longname ];

}

tie my %report_packages, 'Tie::IxHash';
if (    $curuser->access_right('Edit package definitions')
     || $curuser->access_right('Edit global package definitions')
   )
{
  $report_packages{'Package definitions'} =  [ $fsurl.'browse/part_pkg.cgi?active=1', 'Package definitions by number of active packages' ];
  $report_packages{'separator'} =  '';
}
if ( $curuser->access_right('Financial reports') ) {
  $report_packages{'Package churn'} =  [ $fsurl.'graph/report_cust_pkg.html', 'Orders, suspensions and cancellations summary graph' ];
  $report_packages{'separator2'} =  '';
}
$report_packages{'All customer packages'} =  [ $fsurl.'search/cust_pkg.cgi?pkgnum', 'List all customer packages', ];
$report_packages{'Suspended customer packages'} =  [ $fsurl.'search/cust_pkg.cgi?magic=suspended', 'List suspended packages' ];
$report_packages{'Customer packages with unconfigured services'} =  [ $fsurl.'search/cust_pkg.cgi?APKG_pkgnum', 'List packages which have provisionable services' ];
$report_packages{'Advanced package reports'} =  [ $fsurl.'search/report_cust_pkg.html', 'by agent, date range, status, package definition' ];

tie my %report_rating, 'Tie::IxHash',
  'RADIUS sessions' => [ $fsurl.'search/sqlradius.html', '' ],
  'Call Detail Records (CDRs)' => [ $fsurl.'search/report_cdr.html', '' ],
  'Time worked' => [ $fsurl.'search/report_rt_transaction.html', '' ],
;

tie my %report_bill_event, 'Tie::IxHash',
  'All billing events' => [ $fsurl.'search/report_cust_event.html', 'All billing events for a date range' ],
  'Billing event errors' => [ $fsurl.'search/report_cust_event.html?failed=1', 'Failed credit cards, processor or printer problems, etc.' ],
  'All invoice events' => [ $fsurl.'search/cust_bill_event.html', 'Reports on deprecated, old-style invoice events for a date range' ],
  'Invoice event errors' => [ $fsurl.'search/cust_bill_event.html?failed=1', 'Reports on deprecated, old-style events for failed credit cards, processor or printer problems, etc.' ],
;

tie my %report_financial, 'Tie::IxHash', 
  'Sales, Credits and Receipts' => [ $fsurl.'graph/report_money_time.html', 'Sales, credits and receipts summary graph' ],
  'Sales Report' => [ $fsurl.'graph/report_cust_bill_pkg.html', 'Sales report and graph (by agent, package class and/or date range)' ],
  'Credit Report' => [ $fsurl.'search/report_cust_credit.html', 'Credit report (by employee and/or date range)' ],
  'Payment Report' => [ $fsurl.'search/report_cust_pay.html', 'Payment report (by type and/or date range)' ],
;
$report_financial{'Payment Batch Report'} = [ $fsurl.'search/pay_batch.html', 'Payment batches (by status and/or date range)' ]
  if $conf->exists('batch-enable');
$report_financial{'A/R Aging'} = [ $fsurl.'search/report_receivables.html', 'Accounts Receivable Aging report' ];
$report_financial{'Prepaid Income'} = [ $fsurl.'search/report_prepaid_income.html', 'Prepaid income (unearned revenue)  report' ];
$report_financial{'Sales Tax Liability'} = [ $fsurl.'search/report_tax.html', 'Sales tax liability report' ];
;

tie my %report_menu, 'Tie::IxHash';
$report_menu{'Customers'}   = [ \%report_customers, 'Customer reports'  ]
  if $curuser->access_right('List customers');
$report_menu{'Invoices'}    =  [ \%report_invoices,  'Invoice reports'   ]
  if $curuser->access_right('List invoices');
$report_menu{'Packages'}    =  [ \%report_packages,  'Package reports'   ]
  if $curuser->access_right('List packages');
$report_menu{'Services'}    =  [ \%report_services,  'Services reports'  ]
  if $curuser->access_right('List services');
$report_menu{'Usage'} =  [ \%report_rating,    'Usage reports'  ]
  if $curuser->access_right('List rating data');
$report_menu{'Billing events'} =  [ \%report_bill_event, 'Billing events' ]
  if $curuser->access_right('Billing event reports');
$report_menu{'Financial'}  = [ \%report_financial, 'Financial reports' ]
  if $curuser->access_right('Financial reports');
$report_menu{'SQL Query'}  = [ $fsurl.'search/report_sql.html', 'SQL Query' ]
  if $curuser->access_right('Raw SQL');

tie my %tools_importing, 'Tie::IxHash',
  'Import customers' => [ $fsurl.'misc/cust_main-import.cgi', '' ],
  'Import customer comments from CSV file' => [ $fsurl.'misc/cust_main_note-import.html', '' ],
  'Import one-time charges from CSV file' => [ $fsurl.'misc/cust_main-import_charges.cgi', '' ],
  'Import payments from CSV file' => [ $fsurl.'misc/cust_pay-import.cgi', '' ],
  'Import Call Detail Records (CDRs) from CSV file' => [ $fsurl.'misc/cdr-import.html', '' ],
  'Import tax rates from CSV files' => [ $fsurl.'misc/tax-import.cgi', '' ],
;

tie my %tools_exporting, 'Tie::IxHash',
  'Download database dump' => [ $fsurl. 'misc/dump.cgi', '' ],
;

#    <!-- <BR>View active NAS ports: 
#      <A HREF="browse/nas.cgi">session server</A> -->
#      <!-- or <A HREF="browse/nas-sqlradius.cgi">RADIUS</A>
#    <BR> -->

tie my %tools_menu, 'Tie::IxHash', ();
$tools_menu{'Quick payment entry'} =  [ $fsurl.'misc/batch-cust_pay.html', 'Enter multiple payments in a batch' ]
  if $curuser->access_right('Post payment batch');
$tools_menu{'Process payment batches'} = [ $fsurl.'search/pay_batch.cgi?magic=_date;open=1;intransit=1', 'Process credit card and electronic check batches' ]
  if $conf->exists('batch-enable') && $curuser->access_right('Process batches');
$tools_menu{'Job Queue'} =  [ $fsurl.'search/queue.html', 'View pending job queue' ]
  if $curuser->access_right('Job queue');
$tools_menu{'Time Queue'} =  [ $fsurl.'search/timeworked.html', 'View pending support time' ]
  if $curuser->access_right('Time queue');
$tools_menu{'Importing'} =  [ \%tools_importing, 'Import tools' ]
  if $curuser->access_right('Import');
$tools_menu{'Exporting'} =  [ \%tools_exporting, 'Export tools' ]
  if $curuser->access_right('Export');

tie my %config_employees, 'Tie::IxHash',
  'View/Edit employees' => [ $fsurl.'browse/access_user.html', 'Setup internal users' ],
  'View/Edit employee groups' => [ $fsurl.'browse/access_group.html', 'Employee groups allow you to control access to the backend' ],
;

tie my %config_export_svc_pkg, 'Tie::IxHash', ();
if ( $curuser->access_right('Configuration') ) {
  $config_export_svc_pkg{'View/Edit exports'} = [ $fsurl.'browse/part_export.cgi', 'Provisioning services to external machines, databases and APIs' ];
  $config_export_svc_pkg{'View/Edit service definitions'} = [ $fsurl.'browse/part_svc.cgi', 'Services are items you offer to your customers' ];
}
$config_export_svc_pkg{'View/Edit package definitions'} = [ $fsurl.'browse/part_pkg.cgi', 'One or more services are grouped together into a package and given pricing information. Customers purchase packages, not services' ]
  if    $curuser->access_right('Edit package definitions')
     || $curuser->access_right('Edit global package definitions');
if ( $curuser->access_right('Configuration') ) {
  $config_export_svc_pkg{'View/Edit package categories'} =  [ $fsurl.'browse/pkg_category.html', 'Package categories define groups of package classes, for reporting and convenience purposes.' ];
  $config_export_svc_pkg{'View/Edit package classes'} =  [ $fsurl.'browse/pkg_class.html', 'Package classes define groups of packages, for reporting and convenience purposes.' ];
  $config_export_svc_pkg{'View/Edit cancel reason types'} = [ $fsurl.'browse/reason_type.html?class=C', 'Cancel reason types define groups of reasons, for reporting and convenience purposes.' ];
  $config_export_svc_pkg{'View/Edit cancel reasons'} = [ $fsurl.'browse/reason.html?class=C', 'Cancel reasons explain why a service was cancelled.' ];
  $config_export_svc_pkg{'View/Edit suspend reason types'} = [ $fsurl.'browse/reason_type.html?class=S', 'Suspend reason types define groups of reasons, for reporting and convenience purposes.' ];
  $config_export_svc_pkg{'View/Edit suspend reasons'} = [ $fsurl.'browse/reason.html?class=S', 'Suspend reasons explain why a service was suspended.' ];
}

tie my %config_agent, 'Tie::IxHash',
  'View/Edit agent types' => [ $fsurl.'browse/agent_type.cgi', 'Agent types define groups of package definitions that you can then assign to particular agents' ],
  'View/Edit agents'      => [ $fsurl.'browse/agent.cgi', 'Agents are resellers of your service. Agents may be limited to a subset of your full offerings (via their type)' ],
  'View/Edit agent payment gateways'         => [ $fsurl.'browse/payment_gateway.html', 'Credit card and electronic check processors for agent overrides' ];
;

tie my %config_billing_rates, 'Tie::IxHash',
  'View/Edit rate plans' => [ $fsurl.'browse/rate.cgi', 'Manage rate plans' ],
  'View/Edit regions and prefixes' => [ $fsurl.'browse/rate_region.html', 'Manage regions and prefixes' ],
;

tie my %config_billing, 'Tie::IxHash';
#  'View/Edit payment gateways'         => [ $fsurl.'browse/payment_gateway.html', 'Credit card and electronic check processors' ];
$config_billing{'View/Edit billing events'} = [ $fsurl.'browse/part_event.html', 'Billing actions for customers, invoices and packages' ]
    if $curuser->access_right('Edit billing events')
    || $curuser->access_right('Edit global billing events');
if ( $curuser->access_right('Configuration') ) {
  $config_billing{'View/Edit invoice events'}         = [ $fsurl.'browse/part_bill_event.cgi', 'Deprecated, old-style actions for overdue invoices' ];
  $config_billing{'View/Edit invoice templates'}      = [ $fsurl.'browse/invoice_template.html', 'Edit templates for HTML, plaintext and typeset invoices' ];
  $config_billing{'View/Edit prepaid cards'}          = [ $fsurl.'search/prepay_credit.html', 'View outstanding cards, generate new cards' ];
  $config_billing{'View/Edit call rates and regions'} = [ \%config_billing_rates, 'Manage rate plans, regions and prefixes for VoIP and call billing' ];
  $config_billing{'View/Edit locales and tax rates (old tax class system)'}  = [ $fsurl.'browse/cust_main_county.cgi', 'Change tax rates, or break down a country into states, or a state into counties and assign different tax rates to each' ];
  $config_billing{'View/Edit tax rates (new tax products system)'}  = [ $fsurl.'browse/tax_rate.cgi', 'Edit tax rates for the new tax products system' ];
  $config_billing{'View/Edit credit reason types'}  = [ $fsurl.'browse/reason_type.html?class=R', 'Credit reason types define groups of reasons, for reporting and convenience purposes.' ];
  $config_billing{'View/Edit credit reasons'}  = [ $fsurl.'browse/reason.html?class=R', 'Credit reasons explain why a credit was issued.' ];
}

tie my %config_dialup, 'Tie::IxHash',
  'View/Edit access numbers' => [ $fsurl.'browse/svc_acct_pop.cgi', 'Points of Presence' ],
;

tie my %config_broadband, 'Tie::IxHash',
  'View/Edit routers'        => [ $fsurl.'browse/router.cgi', 'Broadband access routers' ],
  'View/Edit address blocks' => [ $fsurl.'browse/addr_block.cgi', 'Manage address blocks and block assignments to broadband routers' ],
;

tie my %config_misc, 'Tie::IxHash';
$config_misc{'View/Edit advertising sources'} = [ $fsurl.'browse/part_referral.html', 'Where a customer heard about your service.  Tracked for informational purposes' ]
  if $curuser->access_right('Edit advertising sources')
  || $curuser->access_right('Edit global advertising sources');
if ( $curuser->access_right('Configuration') ) {
  $config_misc{'View/Edit virtual fields'} = [ $fsurl.'browse/part_virtual_field.cgi', 'Locally defined fields', ];
  $config_misc{'View/Edit message catalog'} = [ $fsurl.'browse/msgcat.cgi', 'Change error messages and other customizable labels' ];
  $config_misc{'View/Edit inventory classes and inventory'} = [ $fsurl.'browse/inventory_class.html', 'Setup inventory classes and stock inventory' ];
}

tie my %config_menu, 'Tie::IxHash';
if ( $curuser->access_right('Configuration' ) ) {
  %config_menu = (
    'Settings'      => [ $fsurl.'config/config-view.cgi', '' ],
    'separator'     => '', #its a separator!
    'Employees'     => [ \%config_employees, '' ],
  );
}
$config_menu{'Provisioning, services and packages'} =
    [ \%config_export_svc_pkg, ''    ]
  if    $curuser->access_right('Configuration' )
     || $curuser->access_right('Edit package definitions')
     || $curuser->access_right('Edit global package definitions');
$config_menu{'Resellers'} = [ \%config_agent, ''    ]
  if $curuser->access_right('Configuration');
$config_menu{'Billing'} = [ \%config_billing, ''    ]
  if $curuser->access_right('Edit billing events')
  || $curuser->access_right('Edit global billing events');
if ( $curuser->access_right('Engineering configuration') ) {
  $config_menu{'Dialup'}  = [ \%config_dialup, ''    ];
  $config_menu{'Fixed (username-less) broadband'} = 
                            [ \%config_broadband, ''    ];
}
$config_menu{'Miscellaneous'} = [ \%config_misc, ''    ]
  if $curuser->access_right('Edit advertising sources')
  || $curuser->access_right('Edit global advertising sources');

tie my %menu, 'Tie::IxHash',
  'Billing Main'   => [ $fsurl, 'Billing start page', ],
;
if ( $conf->config('ticket_system') ) {
  $menu{'Ticketing Main'} =
    [ 
      ( $conf->config('ticket_system') eq 'RT_External'
        ? FS::TicketSystem->baseurl()
        : $fsurl.'rt/'
      ),
      'Ticketing start page',
    ],
}
$menu{'Reports'} = [ \%report_menu, 'Lists, reporting and graphing' ]
  if keys %report_menu;
$menu{'Tools'} = [ \%tools_menu, 'Tools' ]
  if keys %tools_menu;
$menu{'Configuration'} = [ \%config_menu, 'Configuraiton and setup' ]
  if $curuser->access_right('Edit advertising sources')
  || $curuser->access_right('Edit global advertising sources');

use vars qw($gmenunum);
$gmenunum = 0;

sub submenu {
  my($submenu, $title) = @_;
  my $menunum = $gmenunum++;

  #return two args: html, menuname

  "var myMenu$menunum = new WebFXMenu;\n".
  #"myMenu$menunum.useAutoPosition = true;\n".
  "myMenu$menunum.emptyText = '$title';\n".

  (
    join("\n", map {

      if ( !ref( $submenu->{$_} ) ) {

        "myMenu$menunum.add(new WebFXMenuSeparator());";

      } else {

        my($url_or_submenu, $tooltip ) = @{ $submenu->{$_} };
        if ( ref($url_or_submenu) ) {

          my($subhtml, $submenuname ) = submenu($url_or_submenu, $_); #mmm, recursion

          "$subhtml\n".
          "myMenu$menunum.add(new WebFXMenuItem(\"$_\", null, \"$tooltip\", $submenuname ));";

        } else {

          "myMenu$menunum.add(new WebFXMenuItem(\"$_\", \"$url_or_submenu\", \"$tooltip\" ));";

        }

      }

    } keys %$submenu )
  ). "\n".
  "myMenu$menunum.width = 280;\n",

  "myMenu$menunum";

}

</%init>

