<%doc>

Example:

  include( '/elements/menubar.html',
           
           #options hashref (optional)
           { 'newstyle' => 1,  #may become the default at some point
             'url_base' => '', #prepended to menubar URLs, for convenience
             'selected' => '', #currently selected label
           },

           #menubar entries (required)
           'label'  => $url,
           'label2' => $url2,
           #etc.

         );

</%doc>
%if ( $opt->{'newstyle'} ) {
%  my $s = '<FONT STYLE="border-bottom:1px solid #7e0079">';

   <% join("$s &nbsp; </FONT>", ( '', @html, '' ) ) %>
   <BR>

%} else {

   <% join(' | ', @html) %>

%}
<%init>

my $opt = ref($_[0]) ? shift : {};

my $url_base = $opt->{'url_base'};

my @html;
while (@_) {

  my ($item, $url) = splice(@_,0,2);
  next if $item =~ /^\s*Main\s+Menu\s*$/i;

  my $style = '';
  if ( $opt->{'newstyle'} ) {

    my $dclass = $item eq $opt->{'selected'}
                   ? 'fstabselected'
                   : 'fstab';

    $style = qq( CLASS="$dclass" );

  }

  push @html, qq!<A HREF="$url_base$url" $style>$item</A>!;

}

</%init>
