<%doc>

Example:

  include('/elements/init_overlib.html')

  include( '/elements/popup_link.html', { #hashref or a list, either way is fine

    #required
    'action'         => 'content.html', # uri for content of popup
    'label'          => 'click me',     # text of <A> tag
   
    #strongly recommended
    'actionlabel     => 'You clicked',  # popup title
   
    #opt
    'width'          => 540,
    'height'         => 336,
    'color'          => '#ff0000',
    'closetext'      => 'Go Away',      # the value '' removes the link

    #uncommon opt
    'aname'          => "target", # link NAME= value, useful for #targets
    'target'         => '_parent',
    'style'          => 'css-attribute:value',
  } )

</%doc>
% if ($params->{'action'} && $label) {
<A HREF="javascript:void(0);"
   onClick="<% $onclick |n %>"
   <% $params->{'aname'}  ? 'NAME="'.   $params->{'aname'}.  '"' : '' |n %>
   <% $params->{'target'} ? 'TARGET="'. $params->{'target'}. '"' : '' |n %>
   <% $params->{'style'}  ? 'STYLE="'.  $params->{'style'}.  '"' : '' |n %>
><% $label %></A>\
% }
<%init>

my $params;
if (ref($_[0]) eq 'HASH') {
  #$params = { %$params, %{ $_[0] } };
  $params = shift;
} else {
  #$params = { %$params, @_ };
  $params = { @_ };
}

my $label = $params->{'label'};
my $onclick = include('/elements/popup_link_onclick.html', $params);

</%init>
