<% $opt{'prefix'} %><INPUT TYPE  = "radio"
                           NAME  = "<% $opt{field} %>"
                           ID    = "<% $opt{id}.'_'.$opt{value} %>"
                           VALUE = "<% $opt{value} %>"
                           <% $opt{curr_value} eq $opt{value}
                                ? ' CHECKED'
                                : ''
                           %>
                           <% $onchange %>
                    ><% $opt{'postfix'} %>
<%init>

my %opt = @_;

my $onchange = $opt{'onchange'}
                 ? 'onChange="'. $opt{'onchange'}. '(this)"'
                 : '';

</%init>
