<%doc>

Example:

  include( '/elements/search-cust_main.html,
             'field'       => 'custnum',
             #slightly deprecated old synonym for field#'field_name'=>'custnum',
             'find_button' => 1, #add a "find" button to the field
             'curr_value'  => 54, #current value
             'value        => 32, #deprecated synonym for curr_value
  );

</%doc>
<INPUT TYPE="hidden" NAME="<% $field %>" ID="<% $field %>" VALUE="<% $value %>">

<!-- some false laziness w/ misc/batch-cust_pay.html, though not as bad as i'd thought at first... -->

<INPUT TYPE = "text"
       NAME = "<% $field %>_search"
       ID   = "<% $field %>_search"
       SIZE = "32"
       VALUE="<% $cust_main ? $cust_main->name : '(cust #, name or company)' %>"
       onFocus="clearhint_<% $field %>_search(this);"
       onClick="clearhint_<% $field %>_search(this);"
       onChange="smart_<% $field %>_search(this);"
>

% if ( $opt{'find_button'} ) {
    <INPUT TYPE    = "button"
           VALUE   = 'Find',
           NAME    = "<% $field %>_findbutton"
           onClick = "smart_<% $field %>_search(this.form.<% $field %>_search);"
    >
% }

<SELECT NAME="<% $field %>_select" ID="<% $field %>_select" STYLE="color:#ff0000; display:none" onChange="select_<% $field %>(this);">
</SELECT>

<% include('/elements/xmlhttp.html',
              'url'  => $p. 'misc/xmlhttp-cust_main-search.cgi',
              'subs' => [ 'smart_search' ],
           )
%>

<SCRIPT TYPE="text/javascript">

  function clearhint_<% $field %>_search (what) {

    what.style.color = '#000000';

    if ( what.value == '(cust #, name or company)' )
      what.value = '';

    if ( what.value.indexOf('Customer not found: ') == 0 )
      what.value = what.value.substr(20);

  }

  var <% $field %>_search_active = false;

  function smart_<% $field %>_search(what) {

    if ( <% $field %>_search_active )
      return;

    var customer = what.value;

    if ( customer == 'searching...' || customer == ''
         || customer.indexOf('Customer not found: ') == 0 )
      return;

    if ( what.getAttribute('magic') == 'nosearch' ) {
      what.setAttribute('magic', '');
      return;
    }

    //what.value = 'searching...'
    what.disabled = true;
    what.style.color= '#000000';
    what.style.backgroundColor = '#dddddd';

    var customer_select = document.getElementById('<% $field %>_select');

    //alert("search for customer " + customer);

    function <% $field %>_search_update(customers) {

      //alert('customers returned: ' + customers);

      var customerArray = eval('(' + customers + ')');

      what.disabled = false;
      what.style.backgroundColor = '#ffffff';

      if ( customerArray.length == 0 ) {

        what.form.<% $field %>.value = '';

        what.value = 'Customer not found: ' + what.value;
        what.style.color = '#ff0000';

        what.style.display = '';
        customer_select.style.display = 'none';

      } else if ( customerArray.length == 1 ) {

        //alert('one customer found: ' + customerArray[0]);

        what.form.<% $field %>.value = customerArray[0][0];
        what.value = customerArray[0][1];

        what.style.display = '';
        customer_select.style.display = 'none';

      } else {

        //alert('multiple customers found, have to create select dropdown');

        //blank the current list
        for ( var i = customer_select.length; i >= 0; i-- )
          customer_select.options[i] = null;

        opt(customer_select, '', 'Multiple customers match "' + customer + '" - select one', '#ff0000');

        //add the multiple customers
        for ( var s = 0; s < customerArray.length; s++ )
          opt(customer_select, customerArray[s][0], customerArray[s][1], '#000000');

        opt(customer_select, 'cancel', '(Edit search string)', '#000000');

        what.style.display = 'none';
        customer_select.style.display = '';

      }

      <% $field %>_search_active = false;

    }

    <% $field %>_search_active = true;

    smart_search( customer, <% $field %>_search_update );


  }

  function select_<% $field %> (what) {

    var custnum = what.options[what.selectedIndex].value;
    var customer = what.options[what.selectedIndex].text;

    var customer_obj = document.getElementById('<% $field %>_search');

    if ( custnum == '' ) {
      //what.style.color = '#ff0000';

    } else if ( custnum == 'cancel' ) {

      customer_obj.style.color = '#000000';

      what.style.display = 'none';
      customer_obj.style.display = '';
      customer_obj.focus();

    } else {
    
      what.form.<% $field %>.value = custnum;

      customer_obj.value = customer;
      customer_obj.style.color = '#000000';

      what.style.display = 'none';
      customer_obj.style.display = '';

    }

  }

  function opt(what,value,text,color) {
    var optionName = new Option(text, value, false, false);
    optionName.style.color = color;
    var length = what.length;
    what.options[length] = optionName;
  }

</SCRIPT>
<%init>

my( %opt ) = @_;

my $field = $opt{'field'} || $opt{'field_name'} || 'custnum';

my $value = $opt{'curr_value'} || $opt{'value'};

my $cust_main = '';
if ( $value ) {
  $cust_main = qsearchs({
    'table'     => 'cust_main',
    'hashref'   => { 'custnum' => $value },
    'extra_sql' => " AND ". $FS::CurrentUser::CurrentUser->agentnums_sql,
  });
}

</%init>
