%# if ( $cgi->param('clone') ) { #XXX
% if ( $opt{'disabled'} ) { 

    <INPUT TYPE="hidden" NAME="agent_type" VALUE="">

% } elsif ( scalar(@all_agent_types) == 1) {

    <INPUT TYPE="hidden" NAME="agent_type" VALUE="<% $all_agent_types[0] %>">

% } else {

    <% include( 'select-table.html',
                  'element_name' => 'agent_type',
                  'table'        => 'agent_type',
                  'name_col'     => 'atype',
                  #'value'        => \@agent_type,
                  'element_etc'  => 'size="10"',
                  %opt,
                  'multiple'     =>  '1', #cause edit.html is dum
              )
    %>

% }
<%init>

my %opt = @_;

my @all_agent_types = map {$_->typenum} qsearch('agent_type',{});

</%init>
