<%doc>

Example:

  include('/elements/select-did.html',
            #can't actuall change from phonenum yet# 'field'   => 'phonenum',

            'svcpart' => 5,
            #OR
            'object' => $svc_phone,
         );

</%doc>
% if ( $use_selector ) {

%   if ( $export->exporttype eq 'vitelity' && 
%		( $export->option('restrict_selection') eq 'non-tollfree'
%		    || !$export->option('restrict_selection')) ) {
    <TABLE>

      <TR>
        <TD>
          <% include('/elements/select-state.html',
                       'prefix'        => 'phonenum_', #$field.'_',
                       'country'       => $country,
                       'disable_empty' => 0,
                       'empty_label'   => 'Select state',
                    )
          %>
        </TD>
        <TD>
          <% include('/elements/select-areacode.html',
                       'state_prefix' => 'phonenum_', #$field.'_',
                       'svcpart'      => $svcpart,
                       'empty'        => 'Select area code',
                    )
          %>
        </TD>
        <TD>
          <% include('/elements/select-exchange.html',
                       'svcpart' => $svcpart,
                       'empty'   => 'Select exchange',
                    )
          %>
        </TD>
        <TD>
          <% include('/elements/select-phonenum.html',
                       'svcpart' => $svcpart,
                       'empty'   => 'Select phone number',
		       'bulknum' => $bulknum,
                    )
          %>
        </TD>
      </TR>

      <TR>
        <TD><FONT SIZE="-1">State</FONT></TD>
        <TD><FONT SIZE="-1">Area code</FONT></TD>
        <TD><FONT SIZE="-1">City / Exchange</FONT></TD>
        <TD><FONT SIZE="-1">Phone number</FONT></TD>
      </TR>

    </TABLE>

% } 
%	if ( $export->exporttype eq 'vitelity' && 
%		( $export->option('restrict_selection') eq 'tollfree'
%		    || !$export->option('restrict_selection')) ) {
	    <font size="-1">Toll-free</font>
	    <% include('/elements/select-phonenum.html',
                       'svcpart' => $svcpart,
                       'empty'   => 'Select phone number',
		       'tollfree' => 1,
		       'prefix' => 'tollfree',
		       'bulknum' => 0,
                    )
	    %>
%	}

% 	if ( $bulknum ) {
	    <div id="bulkdid" style="padding-top: 11px">
%		my $i;
%		for($i=0; $i < $bulknum; $i++) {
		    <div id="bulkdid_<%$i%>" style="display: none">
			<input type="checkbox" id="checkbox_bulkdid_<%$i%>"
			    name="bulkdid" value="">
			<label for="checkbox_bulkdid_<%$i%>" 
			    id="label_bulkdid_<%$i%>"></label>
		    </div>
%		}
	    </div>
%	}

% } else {

    <% include( '/elements/input-text.html', %opt, 'type'=>'text' ) %>

% }
<%init>

my %opt = @_;

my $conf = new FS::Conf;
my $country = $conf->config('countrydefault') || 'US';

#false laziness w/tr-select-did.html
#XXX make sure this comes through on errors too
my $svcpart  = $opt{'svcpart'}
            || $opt{'object'}->svcpart
            || $opt{'object'}->cust_svc->svcpart;

my $part_svc = qsearchs('part_svc', { 'svcpart'=>$svcpart } );
die "unknown svcpart $svcpart" unless $part_svc;

my @exports = $part_svc->part_export_did;
if ( scalar(@exports) > 1 ) {
  die "more than one DID-providing export attached to svcpart $svcpart";
}

my $use_selector = scalar(@exports) ? 1 : 0;

my $export;
$export = $exports[0] if scalar(@exports);

my $bulknum = $opt{'bulknum'} || 0;

#my $field = $opt{'field'} || 'phonenum';

</%init>
