<SELECT NAME = "invoice_terms"
        ID   = "invoice_terms"
        <% $opt{'disabled'} ? 'DISABLED' : ''%>
>
# #false laziness w/select-table.html
% while ( @pre_options ) { 
%   my $pre_opt   = shift(@pre_options);
%   my $pre_label = shift(@pre_options);
%   my $selected = #   ( ref($value) && $value->{$pre_opt} ) ||
%                   ( $curr_value eq $pre_opt );
    <OPTION VALUE="<% $pre_opt %>"
            <% $selected ? 'SELECTED' : '' %>
    ><% $pre_label %>
% } 

  <OPTION VALUE="<% $empty_value %>"><% $empty_label %>
% foreach my $term ( @terms ) {
    <OPTION VALUE="<% $term %>" <% $curr_value eq $term ? ' SELECTED' : '' %>><% $term %>
% }
</SELECT>
<%init>

my %opt = @_;
my $curr_value = $opt{'curr_value'};
my $conf = new FS::Conf;

my $empty_label =
  $opt{'empty_label'}
  || 'Default ('.
       ($conf->config('invoice_default_terms') || 'Payable upon receipt').
     ')';

my $empty_value = $opt{'empty_value'} || '';

my @terms = ( 'Payable upon receipt',
              ( map "Net $_", 0, 3, 9, 10, 15, 20, 30, 45, 60, 90 ),
            );

my @pre_options = $opt{pre_options} ? @{ $opt{pre_options} } : ();

</%init>
