<SELECT NAME="<% $opt{'prefix'} %>state" onChange="<% $opt{'prefix'} %>state_changed(this); <% $opt{'onchange'} %>" <% $opt{'disabled'} %>>

% if ($opt{empty}) {
  <OPTION VALUE=""<% $opt{state} eq '' ? ' SELECTED' : '' %>><% $opt{empty} %>
% }

% foreach my $state ( keys %states ) { 

  <OPTION VALUE="<% $state %>"<% $state eq $opt{'state'} ? ' SELECTED' : '' %>><% $states{$state} || '(n/a)' %>

% } 


</SELECT>

<%init>
my %opt = @_;
foreach my $opt (qw( county state country prefix onchange disabled empty )) {
  $opt{$_} = '' unless exists($opt{$_}) && defined($opt{$_});
}

tie my %states, 'Tie::IxHash', states_hash( $opt{'country'} ); 
</%init>

