<SELECT NAME="<% $opt{'field'} || 'serviceid' %>">

% unless ( $opt{'multiple'} || $opt{'disable_empty'} ) {
  <OPTION VALUE="">Select serviceid</OPTION>
% }

% foreach my $serviceid ( @serviceids ) {
    <OPTION VALUE="<%$serviceid%>"
            <% $serviceid eq $value ? 'SELECTED' : '' %>
    ><% $serviceid %></OPTION>
% } 

</SELECT>

<%init>

my %opt = @_;

my $value = $opt{'curr_value'} || $opt{'value'};

my $nms = new FS::NetworkMonitoringSystem;
my @serviceids = $nms->torrus_serviceids;

</%init>
