<SELECT NAME="<% $opt{'field'} || 'payby' %>"
        <% $opt{'multiple'} ? 'MULTIPLE' : '' %>
        <% $onchange %>
>

% unless ( $opt{'multiple'} ) {
    <OPTION VALUE="" <% '' eq $value ? 'SELECTED' : '' %> ><% mt('all') |h %> 
% }

% foreach my $option ( keys %{ $opt{'paybys'} } ) { 
%   my $sel = $opt{'all_selected'}
%               || ( ref($value) && $value->{$option} )
%               || $option eq $value;

    <OPTION VALUE="<% $option %>"
            <% $sel ? 'SELECTED' : '' %>
    ><% $opt{'paybys'}->{$option} %>

% } 

</SELECT>

<%init>

my %opt = @_;

my $method = 'payby';
$method = 'cust_payby'  if $opt{'payby_type'} eq 'cust';

unless ( $opt{'paybys'} ) {
  tie %{ $opt{'paybys'} }, 'Tie::IxHash', FS::payby->$method();
}

my $onchange = $opt{'onchange'}
                 ? 'onChange="'. $opt{'onchange'}. '(this)"'
                 : '';

my $value = $opt{'curr_value'} || $opt{'value'};

</%init>
