%
%  my %opt = @_;
%  $opt{cellspacing} ||= 0;
%  $opt{cellpadding} ||= 0;
%
%

<STYLE TYPE="text/css">

.grid table { border: solid; empty-cells: show }
.grid TH { padding-left: 3px; padding-right: 3px; border: 1px solid #dddddd; border-bottom: dashed 1px black; border-right: none }
.grid TD { padding-left: 3px; padding-right: 3px; empty-cells: show; border: 1px solid #cccccc; border-bottom: none; border-right: none }

.inv table { border: none }
.inv TH { border: none }
.inv TD { border: none }

</STYLE>

<TABLE CLASS="grid" CELLSPACING=<% $opt{cellspacing} %> CELLPADDING=<% $opt{cellpadding} %> BORDER=1 BORDERCOLOR="#000000" STYLE="border: solid 1px black; empty-cells: show">

