<STYLE TYPE="text/css">

.grid TH { padding-left: 3px; padding-right: 3px; padding-bottom: 2px; border: none; empty-cells: show }
.grid TD { padding-left: 3px; padding-right: 3px; padding-bottom: 2px; border: none; empty-cells: show }

.inv table { border: none }
.inv TH { border: none }
.inv TD { border: none }

</STYLE>

<TABLE CLASS="grid" CELLSPACING=<% $opt{cellspacing} %> CELLPADDING=<% $opt{cellpadding} %> <% $opt{bgcolor} %> STYLE="border: 1px solid #cccccc;">

<%init>

my %opt = @_;
$opt{cellspacing} ||= 0;
$opt{cellpadding} ||= 0;

$opt{bgcolor} =~ s/^#//;
$opt{bgcolor} = 'BGCOLOR="#'. $opt{bgcolor}. '"' if length($opt{bgcolor});

</%init>

