<%doc>

Example:

  <& /elements/tr-checkbox.html,
       'label' => 'Do or do not',
       'field' => 'field_name',
       'value' => 'Y',
  &>

</%doc>
% if ( $opt{'box_first'} ) {
  <TR>
    <TH COLSPAN="<% $opt{'colspan'} || 2 %>"
      VALIGN = "<% $opt{'valign'} || 'top' %>"
      STYLE  = "<% $style %>"
      ID     = "<% $opt{label_id} || $opt{id}. '_label0' %>"
    >
      <& checkbox.html, @_ &>
      <% $required %><% $opt{label} %>
    </TH>
  </TR>
% } else {
<& tr-td-label.html, @_ &>

  <TD <% $style %>>
    <% include('checkbox.html', @_) %>
  </TD>

</TR>
% }

<%init>

my %opt = @_;

my $onchange = $opt{'onchange'}
                 ? 'onChange="'. $opt{'onchange'}. '(this)"'
                 : '';

my $style = 'text-align: left; padding-top: 3px';
$style .= '; '. $opt{'cell_style'} if $opt{'cell_style'};

my $required = $opt{'required'} ? '<font color="#ff0000">*</font>&nbsp;' : '';
if ($required) {
  $style .= ';font-weight: bold';
}

</%init>
