<% include('tr-td-label.html', @_ ) %>

  <TD <% $style %>>

    <% $opt{'prefix'} %><INPUT TYPE  = "<% $opt{type} || 'text' %>"
                               NAME  = "<% $opt{field} %>"
                               ID    = "<% $opt{id} %>"
                               VALUE = "<% $value |h %>"
                               <% $size %>
                               <% $maxlength %>
                               <% $align %>
                               <% $onchange %>
                        ><% $opt{'postfix'} %>

  </TD>

</TR>

<%init>

my %opt = @_;

my $value = length($opt{curr_value}) ? $opt{curr_value} : $opt{value};

my $onchange = $opt{'onchange'}
                 ? 'onChange="'. $opt{'onchange'}. '(this)"'
                 : '';

my $size = $opt{'size'}
             ? 'SIZE="'. $opt{'size'}. '"'
             : '';

my $maxlength = $opt{'maxlength'}
                ? 'MAXLENGTH="'. $opt{'maxlength'}. '"'
                : '';

my $align = $opt{'text-align'}
                ? 'STYLE="text-align: '. $opt{'text-align'}. '"'
                : '';


my $style = $opt{'cell_style'} ? 'STYLE="'. $opt{'cell_style'}. '"' : '';

</%init>
