% if ( !$init ) {
<script type="text/javascript" src="<%$p%>elements/masked_input_1.1.js">
</script>
% $init++;
% }
<& /elements/tr-input-text.html, id => $id, @_ &>
<script type="text/javascript">
<&| /elements/onload.js &>
MaskedInput({
  elm: document.getElementById('<%$id%>'),
  format: '<% $opt{format} %>',
  <% $opt{allowed} ? "allowed: '$opt{allowed}'," : '' %>
  <% $opt{typeon}  ? "typeon:  '$opt{typeon}',"  : '' %>
});
document.getElementById('<%$id%>').value = <% $value |js_string %>;
% if ( $clipboard_hack ) {
var t = document.getElementById('<% $id %>');
var container = document.getElementById('<%$id%>_clipboard');
var KeyHandlerDown = t.onkeydown
t.onkeydown = function(e) {
  // intercept ctrl-c and ctrl-x
  // and cmd-c and cmd-x on mac
  // when text is selected
  if ( ( e.ctrlKey || e.metaKey ) ) {
    // do the dance
    var separators = /[\\/:-]/g;
    var s = t.value.substr(t.selectionStart, t.selectionEnd);
    if ( s ) {
      container.value = s.replace(separators, '');
      container.previous = t;
      container.focus();
      container.select();
      return true;
    }
  }
  return KeyHandlerDown.call(t, e);
};
container.onkeyup = function(e) {
  if ( container.previous ) {
    setTimeout(function() {container.previous.focus();}, 10);
  }
  return true;
}
% } # clipboard hack
</&>
</script>
<textarea id="<%$id%>_clipboard" style="opacity:0"></textarea>
<%shared>
my $init = 0;
</%shared>
<%init>
my %opt = @_;
# must have a DOM id
my $id = $opt{id} || sprintf('input%04d',int(rand(10000)));
my $value = length($opt{curr_value}) ? $opt{curr_value} : $opt{value} || '';

my $clipboard_hack = $FS::CurrentUser::CurrentUser->option('enable_mask_clipboard_hack');
</%init>
<%doc>
Set up a text input field with input masking.

<& /elements/tr-input-mask.html,
  format    => '____-__-__',
  #typeon   => '_YMDhms',    # which characters in the format represent blanks
  #allowed  => '0123456789', # characters allowed in the blanks
  ... all other options as for tr-input-text.html
&>

Note that the value sent on form submission will contain the mask 
separators, and if value/curr_value is passed, it should also be 
formatted to fit the mask.

Uses masked_input_1.1.js by Kendall Conrad, available under a Creative Commons
Attribution-ShareAlike license.
</%doc>
