%#% if ( scalar(@agent_types) == 1 ) { 
%#
%#  <INPUT TYPE="hidden" NAME="<% $opt{'field'} || 'typenum' %>" VALUE="<% $agent_types[0]->typenum %>">
%#
%#% } else { 

  <TR>
    <TD ALIGN="right"><% $opt{'label'} || 'Agent Type' %></TD>
    <TD>
      <% include( '/elements/select-agent_type.html',
                     'curr_value'  => $typenum,
                     %opt,
                 )
      %>
    </TD>
  </TR>

%#% } 

<%init>

my %opt = @_;
my $typenum = $opt{'curr_value'} || $opt{'value'};

delete $opt{'agent_types'} if $opt{'agent_types'}; #?

</%init>
