% if ( scalar(@{ $opt{'part_svc'} }) == 0 ) { 

  <INPUT TYPE="hidden" NAME="<% $opt{'field'} || 'svcpart' %>" VALUE="">

% } else { 

  <TR>
    <TD ALIGN="right"><% $opt{'label'} || 'Service definition' %></TD>
    <TD>
      <% include( '/elements/select-part_svc.html',
                    'multiple' => 1,
                    %opt,
                )
      %>
    </TD>
  </TR>

% } 

<%init>

my( %opt ) = @_;

my %hash = ();
$hash{'svcdb'} = $opt{'svcdb'} if $opt{'svcdb'};

$opt{'part_svc'} ||= [ qsearch( 'part_svc', \%hash ) ]; # { disabled=>'' } )

</%init>
