<%doc>

Example:

  include( '/elements/tr-select-reason.html',

    #required 
    'field'         => 'reasonnum',
    'reason_class'  => 'C', # currently 'C', 'R', 'S' or 'X'
                           # for cancel, credit, suspend or void credit

    #recommended
    'cgi' => $cgi, #easiest way for things to be properly "sticky" on errors

    #optional
    'control_button' => 'element_name', #button to be enabled when a reason is
                                        #selected
    'id'             => 'element_id',

    #deprecated ways to keep things "sticky" on errors
    # (requires duplicate code in each using file to parse cgi params)
    'curr_value'     => $curr_value,
    'curr_value'     => {
                          'typenum' => $typenum,
                          'reason'  => $reason,
                        },

  )

</%doc>

% # note style improvements.
% # - no more conditionally included code here
% # - callers are not expected to pass javascript fragments
% # - no redundant checking of ACLs or parameters
% # - form fields are grouped for easy management
% # - use the standard select-table widget instead of ad hoc crap
<& /elements/xmlhttp.html,
  url => $p . 'misc/xmlhttp-reason-hint.html',
  subs => [ 'get_hint' ],
&>
<SCRIPT TYPE="text/javascript">
  function <% $id %>_changed() {
    var select_reason = document.getElementById('<% $id %>');

    get_hint(select_reason.value, function(stuff) {
      document.getElementById('<% $id %>_hint').innerHTML = stuff || '';
    });

    // toggle submit button state
    var submit_button = document.getElementById(<% $opt{control_button} |js_string %>);
    if (submit_button) {
      submit_button.disabled = ( select_reason.value == 0 );
    }

    // toggle visibility of 'new reason' fields
    var new_fields = document.getElementById('<% $id %>_new_fields');
    if ( select_reason.value == -1 ) {
      new_fields.disabled = false;
      new_fields.style.display = '';
    } else {
      new_fields.disabled = true;
      new_fields.style.display = 'none';
    }

  }
  <&| onload.js &> <% $id %>_changed(); </&>
</SCRIPT>

%# sadly can't just use add_inline here, as we have non-text fields
<& tr-select-table.html,
  'label'           => 'Reason',
  'field'           => $name,
  'id'              => $id,
  'table'           => 'reason',
  'records'         => \@reasons,
  'name_col'        => 'label',
  'disable_empty'   => 1,
  'pre_options'     => [ 0 => 'Select reason...' ],
  'post_options'    => \@post_options,
  'curr_value'      => $init_reason,
  'onchange'        => $id.'_changed()',
&>

% # "add new reason" fields
% # should be a <fieldset>, but that doesn't fit well into the table

% if ( $curuser->access_right($add_access_right) ) {
<TR id="<% $id %>_new_fields">
  <TD COLSPAN=2>
    <TABLE CLASS="inv" STYLE="text-align: left">

      <& tr-input-text.html,
        label => 'New reason',
        field => $id.'_new_reason'
      &>

%   my @types = qsearch( 'reason_type', { 'class' => $class } );
%   if (scalar(@types) < 1) {  # we should never reach this
      <TR>
        <TD ALIGN="right">
          <P><% mt('No reason types. Please add some.') |h %></P>
        </TD>
      </TR>
%   } elsif (scalar(@types) == 1) {
      <& tr-fixed.html,
        label => 'Reason type',
        field => $id.'_new_reason_type',
        curr_value => $types[0]->typenum,
        formatted_value => $types[0]->type,
      &>
%   } else { # more than one type, the normal case
      <& tr-select-table.html,
        label         => 'Reason type',
        field         => $id.'_new_reason_type',
        table         => 'reason_type',
        name_col      => 'type',
        hashref       => { 'class' => $class },
        disable_empty => 1,
      &>
%   } # scalar(@types)

%   if ( $class eq 'S' ) {
      <& tr-checkbox.html,
        label => 'Credit the unused portion of service when suspending',
        field => $id.'_new_unused_credit',
        value => 'Y'
      &>
      <& tr-select-table.html,
        label     => 'Charge a suspension fee',
        field     => $id.'_new_feepart',
        table     => 'part_fee',
        hashref   => { disabled => '' },
        name_col  => 'itemdesc',
        value_col => 'feepart',
        empty_label => 'none',
      &>
      <& tr-select.html,
        label     => 'When this package is',
        field     => $id.'_new_fee_on_unsuspend',
        options   => [ '', 'Y' ],
        labels    => { '' => 'suspended', 'Y' => 'unsuspended' },
      &>
      <& tr-checkbox.html,
        label     => 'Delay fee until the next bill',
        field     => $id.'_new_fee_hold',
        value     => 'Y',
      &>
%# deprecated, but still accessible through the "Suspend Reasons" UI
%#      <& tr-select-part_pkg.html,
%#        label   => 'Charge this fee when unsuspending',
%#        field   => $id.'_new_unsuspend_pkgpart',
%#        hashref => { disabled => '', freq => '0' },
%#        empty_label => 'none',
%#      &>
%#      <& tr-checkbox.html,
%#        label => 'Hold unsuspension fee until the next bill',
%#        field => $id.'_new_unsuspend_hold',
%#        value => 'Y',
%#      &>
%   }
    </table>
  </td>
</tr>
% } # if the current user can add a reason

% # container for hints (hints themselves come from xmlhttp-reason-hint)
<TR>
  <TD COLSPAN=2 ALIGN="center" id="<% $id %>_hint" style="font-size:small">
  </TD>
</TR>

<%init>

my $curuser = $FS::CurrentUser::CurrentUser;
my %opt = @_;

my $name = $opt{'field'};
my $class = $opt{'reason_class'};

my $init_reason;
if ( $opt{'cgi'} ) {
  $init_reason = $opt{'cgi'}->param($name);
} else {
  $init_reason = $opt{'curr_value'};
}

my $id = $opt{'id'} || $name;
$id =~ s/\./_/g; # for edit/part_event

my $add_access_right;
if ($class eq 'C') {
  $add_access_right = 'Add on-the-fly cancel reason';
} elsif ($class eq 'S') {
  $add_access_right = 'Add on-the-fly suspend reason';
} elsif ($class eq 'R') {
  $add_access_right = 'Add on-the-fly credit reason';
} elsif ($class eq 'X') {
  $add_access_right = 'Add on-the-fly void credit reason';
} else {
  die "illegal class: $class";
}

my $select = join(',',
  'reason.*',
  FS::Record::concat_sql([ 'type', "' : '", 'reason' ]) . ' AS label',
);

my @reasons = qsearch({
  'table'           => 'reason',
  'select'          => $select,
  'addl_from'       => ' LEFT JOIN reason_type'.
                       ' ON (reason.reason_type = reason_type.typenum)',
  'hashref'         => { disabled => '' },
  'extra_sql'       => " AND reason_type.class = '$class'",
});

my @post_options;
if ( $curuser->access_right($add_access_right) ) {
  @post_options = ( -1 => 'Add new reason' );
}

</%init>
