% if ( scalar(@agents) == 1 ) { 

  <INPUT TYPE="hidden" NAME="<% $opt{'field'} || 'agentnum' %>" VALUE="<% $agents[0]->agentnum %>">

%# YUCK.  empty row so we don't throw g_row in edit.html off :/
  <TR>
  </TR>
% } else { 

  <TR>
    <TD ALIGN="right"><% $opt{'label'} || 'Agent' %></TD>
    <TD>
      <% include( '/elements/select-agent.html',
                     'curr_value' => $agentnum,
                     'agents'     => \@agents,
                     %opt,
                 )
      %>
    </TD>
  </TR>

% } 

<%init>

my %opt = @_;
my $agentnum = $opt{'curr_value'} || $opt{'value'};

my @agents = $opt{'agents'}
               ? @{ $opt{'agents'} }
               : $FS::CurrentUser::CurrentUser->agents;

</%init>
