<%doc>

Example:

  include('/elements/tr-select-cust_location.html',
            'cgi'       => $cgi,

            'cust_main'     => $cust_main,
            #or
            'prospect_main' => $prospect_main,

            #optional
            'empty_label'   => '(default service address)',
         )

</%doc>

<% include('/elements/xmlhttp.html',
              'url'  => $p.'misc/location.cgi',
              'subs' => [ 'get_location' ],
           )
%>

<SCRIPT TYPE="text/javascript">

  function locationnum_changed(what) {
    var locationnum = what.options[what.selectedIndex].value;
    if ( locationnum == -2 ) {
%         for (@location_fields, 'city_select') { 
            what.form.<%$_%>.disabled = true;
	    var ftype = what.form.<%$_%>.tagName;
	    if( ftype == 'SELECT') changeSelect(what.form.<%$_%>, '');
	    else what.form.<%$_%>.value = '';
            what.form.<%$_%>.style.backgroundColor = '#dddddd';
%         } 
	return;
    }
    
    if ( locationnum == -1 ) {

%     for (@location_fields, 'city_select') { 
        what.form.<%$_%>.disabled = false;
        what.form.<%$_%>.style.backgroundColor = '#ffffff';
	var ftype = what.form.<%$_%>.tagName;
	if( ftype == 'INPUT' ) what.form.<%$_%>.value = '';
%     } 

      changeSelect(what.form.country, <% $countrydefault |js_string %>);

      country_changed( what.form.country,
                       fix_state_factory( <% $statedefault |js_string %>,
                                          ''
                                        )
                     );

    } else {

      if ( locationnum == 0 ) {
%       if ( $cust_main ) {
        what.form.address1.value = <% $cust_main->get($prefix.'address1') |js_string %>;
        what.form.address2.value = <% $cust_main->get($prefix.'address2') |js_string %>;
        what.form.city.value = <% $cust_main->get($prefix.'city') |js_string %>;
        what.form.zip.value = <% $cust_main->get($prefix.'zip') |js_string %>;

        changeSelect(what.form.country, <% $cust_main->get($prefix.'country') | js_string %> );

        country_changed( what.form.country,
                         fix_state_factory( <% $cust_main->get($prefix.'state') | js_string %>,
                                            <% $cust_main->get($prefix.'county') | js_string %>
                                          )
                       );
%       }

      } else {
        get_location( locationnum, update_location );
      } 

%     if ( $editable ) {
        if ( locationnum == 0 ) {
%     }

%#sleep/wait until dropdowns are updated?
%         for (@location_fields, 'city_select') { 
            what.form.<%$_%>.disabled = true;
            what.form.<%$_%>.style.backgroundColor = '#dddddd';
%         } 

%     if ( $editable ) {
        } else {

%#sleep/wait until dropdowns are updated?
%         for (@location_fields, 'city_select') { 
            what.form.<%$_%>.disabled = false;
            what.form.<%$_%>.style.backgroundColor = '#ffffff';
%         } 

        }
%     }

    }
  }

  function fix_state_factory (state, county) {
    function fix_state() {
      var state_el = document.getElementById('state');
      changeSelect(state_el, state);
      state_changed(state_el, fix_county_factory(county) );
    }
    return fix_state;
  }

  function fix_county_factory(county) {
    function fix_county() {
      var county_el = document.getElementById('county');
      if ( county.length > 0 ) {
        changeSelect(county_el, county );
      } else {
        county_el.selectedIndex = 0;
      }
      county_changed(county_el);
    }
    return fix_county;
  }

  function changeSelect(what, value) {
    for ( var i=0; i<what.length; i++) {
      if ( what.options[i].value == value ) {
        what.selectedIndex = i;
      }
    }
  }

  function update_location( string ) {
    var hash = eval('('+string+')');
    document.getElementById('address1').value = hash['address1'];
    document.getElementById('address2').value = hash['address2'];
    document.getElementById('city').value     = hash['city'];
    document.getElementById('zip').value      = hash['zip'];

    var country_el = document.getElementById('country');

    changeSelect( country_el, hash['country'] );

    country_changed( country_el,
                     fix_state_factory( hash['state'],
                                        hash['county']
                                      )
                   );
  }

</SCRIPT>

<TR>
  <<%$th%> ALIGN="right"><% $opt{'label'} || 'Service&nbsp;location' %></<%$th%>>
  <TD COLSPAN=7>
    <SELECT NAME="locationnum" onChange="locationnum_changed(this);">
% if ( !$prospect_main ) {
      <OPTION VALUE=""><% $opt{'empty_label'} || '(default service address)' |h %>
% }
% if ( $opt{'is_optional'} ) {
    <OPTION VALUE="-2" <% $locationnum == -2 ? 'SELECTED' : ''%>><% $opt{'optional_label'} || '(not required)' |h %>
% }
%     my @locations = $cust_main ? $cust_main->cust_location : ();
%     @locations = qsearch('cust_location', 
%			    { 'prospectnum' => $prospect_main->prospectnum } ) 
%	    if $prospect_main;
%     push @locations, $cust_location
%       if !$cust_main && $cust_location && $cust_location->locationnum>0;
%     foreach my $loc ( sort $location_sort @locations ) {
%       next if $loc->disabled;
        <OPTION VALUE="<% $loc->locationnum %>"
                <% $locationnum == $loc->locationnum ? 'SELECTED' : '' %>
        ><% $loc->line |h %>
%     }
%     if ( $addnew ) {
        <OPTION VALUE="-1"
                <% $locationnum == -1 ? 'SELECTED' : '' %>
        >Add new location
%     }
    </SELECT>
  </TD>
</TR>

<% include('/elements/location.html',
             'object'       => $cust_location,
             #'onchange' ?  probably not
             'disabled'     => $disabled,
             'no_asterisks' => 1,
             'no_bold'      => $opt{'no_bold'},
	     'alt_format'   => $opt{'alt_format'},
          )
%>

<%init>

my $conf = new FS::Conf;
my $countrydefault = $conf->config('countrydefault') || 'US';
my $statedefault = $conf->config('statedefault')
                   || ($countrydefault eq 'US' ? 'CA' : '');

my %opt = @_;
my $cgi           = $opt{'cgi'};
my $cust_pkg     = $opt{'cust_pkg'};
my $cust_main     = $opt{'cust_main'};
my $prospect_main = $opt{'prospect_main'};

my $prefix = ($cust_main && length($cust_main->ship_last)) ? 'ship_' : '';

my $locationnum;
if ( length($opt{'curr_value'}) ) {
  $locationnum = $opt{'curr_value'};
} else {
  $cgi->param('locationnum') =~ /^(\-?\d*)$/ or die "illegal locationnum";
  $locationnum = $1;
}

#probably could use explicit controls
# (cust_main locations not editable for tax reasons)
my $editable = $cust_main ? 0 : 1; #could use explicit control
my $addnew = $cust_main ? 1 : ( $locationnum>0 ? 0 : 1 );

my @location_fields = qw( address1 address2 city county state zip country );
if ( $opt{'alt_format'} ) {
    push @location_fields, qw( location_type location_number location_kind );
}

my $cust_location;
if ( $locationnum && $locationnum > 0 ) {
  $cust_location = qsearchs('cust_location', { 'locationnum' => $locationnum } )
    or die "unknown locationnum";
} else {
  $cust_location = new FS::cust_location;
  if ( $locationnum == -1 ) {
    $cust_location->$_( $cgi->param($_) ) foreach @location_fields;
  } elsif ( $cust_pkg && $cust_pkg->locationnum ) {
    my $pkg_location = $cust_pkg->cust_location;
    $cust_location->$_( $pkg_location->$_ ) foreach @location_fields;
    $opt{'empty_label'} ||= 'package address: '.$pkg_location->line;
  } elsif ( $cust_main ) {
    $cust_location->$_( $cust_main->get($prefix.$_) ) foreach @location_fields;
  }
}

my $location_sort = sub {
        $a->country   cmp $b->country
  or lc($a->city)     cmp lc($b->city)
  or lc($a->address1) cmp lc($b->address1)
  or lc($a->address2) cmp lc($b->address2)
};

my $disabled = ( $locationnum < 0 || ($editable && $locationnum) )
                 ? ''
                 : 'DISABLED';

my $th = $opt{'no_bold'} ? 'TD' : 'TH';

</%init>
