% if ( ! $conf->exists('enable_taxclasses')
%      || scalar(@{ $opt{'taxclasses'} }) == 0
% ) { 

  <INPUT TYPE="hidden" NAME="<% $opt{'element_name'} || $opt{'field'} || 'taxclass' %>" VALUE="<% $selected_taxclass %>">

% } else { 

  <TR>
    <TD ALIGN="right"><% $opt{'label'} || 'Tax class: ' %></TD>
    <TD>
      <% include( '/elements/select-taxclass.html', 'curr_value' => $selected_taxclass, %opt ) %>
    </TD>
  </TR>

% } 
<%init>

my( %opt ) = @_;
my $conf = new FS::Conf;
my $selected_taxclass = $opt{'curr_value'}; # || $opt{'value'} necessary?

unless ( $opt{'taxclasses'} ) {

  #my $sth = dbh->prepare('SELECT DISTINCT taxclass FROM cust_main_county')
  my $sth = dbh->prepare("SELECT taxclass FROM part_pkg_taxclass WHERE disabled IS NULL OR disabled = '' OR taxclass = ?")
    or die dbh->errstr;
  $sth->execute($selected_taxclass) or die $sth->errstr;
  my %taxclasses = map { $_->[0] => 1 } @{$sth->fetchall_arrayref};
  @{ $opt{'taxclasses'} } = grep $_, keys %taxclasses;

}

</%init>
