% if ( $count == 0 ) { 

  <INPUT TYPE="hidden" NAME="<%  $opt{'element_name'} || $opt{'field'} || 'classnum' %>" VALUE="">

% } else { 

  <TR>
    <TD ALIGN="right"><% $opt{'label'} || 'Package class' %></TD>
    <TD>
      <% include( '/elements/select-pkg_class.html',
                    'curr_value' => $classnum,
                    %opt
                )
      %>
    </TD>
  </TR>

% } 

<%init>

my %opt = @_;
my $classnum = $opt{'curr_value'} || $opt{'value'};

my $count = scalar( qsearch( 'pkg_class', {} ) );

</%init>
