<% include('tr-td-label.html', @_ ) %>

% if ( $opt{'curr_value'} ne '' && $use_selector ) {

    <TD BGCOLOR="#dddddd" <% $cell_style %>><% $opt{'formatted_value'} || $opt{'curr_value'} || $opt{'value'} |h %></TD>
    
    <% include('hidden.html', %opt ) %>

% } else {
  
    <TD <% $cell_style %>>
      <% include('/elements/select-did.html', %opt ) %>
    </TD>

% }

</TR>

<%init>

my %opt = @_;
warn Dumper(\%opt);
my $cell_style = $opt{'cell_style'} ? 'STYLE="'. $opt{'cell_style'}. '"' : '';

#false laziness w/select-did.html
#XXX make sure this comes through on errors too
my $svcpart  = $opt{'svcpart'}
            || $opt{'object'}->svcpart
            || $opt{'object'}->cust_svc->svcpart;

my $part_svc = qsearchs('part_svc', { 'svcpart'=>$svcpart } );
die "unknown svcpart $svcpart" unless $part_svc;

my @exports = $part_svc->part_export_did;
if ( scalar(@exports) > 1 ) {
  die "more than one DID-providing export attached to svcpart $svcpart";
}

my $use_selector = scalar(@exports) ? 1 : 0;

</%init>
