<script type="text/javascript">
var manual_addr_routernum = <% encode_json(\%manual_addr_routernum) %>;
var ip_addr_curr_value = <% $opt{'ip_addr'} |js_string %>;
function lock_ip_addr(obj, i) {
  var routernum = obj.value;
  var select_blocknum = document.getElementsByName('blocknum')[0];
  var input_ip_addr = document.getElementById('input_ip_addr');
  if ( manual_addr_routernum[routernum] == 'Y' ) {
%# enable ip_addr, default it to its previous value, and hide block selection
    select_blocknum.style.display = 'none';
    input_ip_addr.value = ip_addr_curr_value;
    input_ip_addr.disabled = false;
  }
  else {
%# the reverse
    select_blocknum.style.display = '';
    input_ip_addr.disabled = true;
    input_ip_addr.value = '(automatic)';
  }
}
</script>
<& /elements/tr-td-label.html, label => ($opt{'label'} || 'Router') &>
<td>
  <& /elements/select-tiered.html, prefix => 'router_', tiers => [
  {
    field     => 'routernum',
    records   => \@routers,
    name_col  => 'routername',
    value_col => 'routernum',
    onchange  => 'lock_ip_addr',
    curr_value=> $opt{'routernum'},
  },
  {
    field     => 'blocknum',
    table     => 'addr_block',
    hashref   => (exists($fixed{'blocknum'}) ? 
                    { blocknum => $fixed{'blocknum'} } : {}
                 ),
    name_col  => 'cidr',
    link_col  => 'routernum',
    empty_label => '(any)',
    curr_value  => $opt{'blocknum'},
  },
]
&>
</td></tr>
<& /elements/tr-td-label.html, label => 'IP address' &>
<td>
% if ( $fixed{'ip_addr'} ) {
  <input type="hidden" id="input_ip_addr" name="ip_addr" 
    value="<% $opt{'ip_addr'} |h%>"><% $opt{'ip_addr'} || '' %>
% }
% else {
  <input type="text" id="input_ip_addr" name="ip_addr" 
  value="<% $opt{'ip_addr'} |h%>">
% }
</td> </tr>
<input type="hidden" name="prev_ip_addr" value="<% $opt{'ip_addr'} |h%>">
<script type="text/javascript">
lock_ip_addr(document.getElementsByName('routernum')[0],0);
</script>
<%init>

my %opt = @_;
my @routers;
my $conf = FS::Conf->new;

my $svc_x = $opt{'object'};
if ( $svc_x ) {
  $opt{$_} = $svc_x->$_
    foreach qw(routernum blocknum ip_addr svcpart);
  if ( $svc_x->svcnum ) {
    $opt{'svcpart'} = $svc_x->cust_svc->svcpart;
  }
}

my $svcpart = $opt{'svcpart'} || '';
my %fixed; #  which fields are fixed
$svcpart =~ /^\d*$/ or die "invalid svcpart '$svcpart'";
if ( $svcpart ) {
  my $part_svc = FS::part_svc->by_key($svcpart);
  # Traditionally, columnflag 'F' on IP address means that it MUST 
  # be auto-assigned (or, if null IP addresses are allowed, that 
  # it must be null).
  foreach (qw(routernum blocknum ip_addr)) {
    my $psc = $part_svc->part_svc_column($_);
    if ( $psc and $psc->columnflag eq 'F' ) {
      $fixed{$_} = $psc->columnvalue;
    }
  }
  if ( $fixed{'routernum'} ) {
    @routers = (FS::router->by_key($fixed{'routernum'}))
  }
  else {
    @routers = map { $_->router } 
      qsearch('part_svc_router', { svcpart => $svcpart });
  }
}
else {
  @routers = qsearch('router', {});
}

my %manual_addr_routernum = map { $_->routernum, $_->manual_addr } @routers;

if ( $conf->exists('auto_router') ) {
  # Then show an "(automatic)" router, with no blocks.  manual_addr is on
  # so that the ip_addr field will be unlocked.
  unshift @routers, FS::router->new({
      'routernum'   => '',
      'routername'  => '(automatic)',
      'manual_addr' => 'Y',
  });
  $manual_addr_routernum{''} = 'Y';
}

</%init>
