<%doc>

To validate passwords via javascript/xmlhttp:

  <INPUT ID="password_field" TYPE="text">
  <DIV ID="password_field_result">
  <& '/elements/validate_password.html', 
      fieldid  => 'password_field',
      svcnum   => $svcnum,
      pkgnum   => $pkgnum, # used if the service doesn't exist yet
  &>

The ID of the input field can be anything;  the ID of the DIV in which to display results
should be the input id plus '_result'.

</%doc>

<& '/elements/xmlhttp.html',
    'url'  => $p.'misc/xmlhttp-validate_password.html',
    'subs' => [ 'validate_password' ],
    'method' => 'POST', # important not to put passwords in url
&>
<SCRIPT>
function add_password_validation (fieldid, submitid) {
  var inputfield = document.getElementById(fieldid);
  inputfield.onkeydown = function(e) {
    var key;
    if (window.event) { key = window.event.keyCode; }
    else { key = e.which; }
    if (key == '13') {
      var check = checkPasswordValidation();
      return check;
    }
  }
  inputfield.onkeyup = function () {
    var fieldid = this.id+'_result';
    var resultfield = document.getElementById(fieldid);
    if (this.value) {
      resultfield.innerHTML = '<SPAN STYLE="color: blue;">Validating password...</SPAN>';
      validate_password('fieldid',fieldid,'svcnum','<% $opt{'svcnum'} %>','pkgnum','<% $opt{'pkgnum'} %>','contactnum','<% $opt{'contactnum'} %>','password',this.value,
        function (result) {
          result = JSON.parse(result);
          var resultfield = document.getElementById(result.fieldid);
          if (resultfield) {
            var errorimg = '<IMG SRC="<% $p %>images/error.png" style="width: 1em; display: inline-block; padding-right: .5em">';
            var validimg = '<IMG SRC="<% $p %>images/tick.png" style="width: 1em; display: inline-block; padding-right: .5em">';
            if (result.valid) {
              resultfield.innerHTML = validimg+'<SPAN STYLE="color: green;">Password valid!</SPAN>';
              if (submitid){ document.getElementById(submitid).disabled = false; }
            } else if (result.error) {
              resultfield.innerHTML = errorimg+'<SPAN STYLE="color: red;">'+result.error+'</SPAN>';
              if (submitid){ document.getElementById(submitid).disabled = true; }
            } else {
              result.syserror = result.syserror || 'Server error';
              resultfield.innerHTML = errorimg+'<SPAN STYLE="color: red;">'+result.syserror+'</SPAN>';
              if (submitid){ document.getElementById(submitid).disabled = true; }
            }
          }
        }
      );
    } else {
      resultfield.innerHTML = '';
    }
  };
}

add_password_validation('<% $opt{'fieldid'} %>', '<% $opt{'submitid'} %>');
</SCRIPT>

<%init>
my %opt = @_;
</%init>


