<%doc>

To validate passwords via javascript/xmlhttp:

  <INPUT ID="password_field" TYPE="text">
  <DIV ID="password_field_result">
  <& '/elements/validate_password.html', 
     fieldid  => 'password_field',
     svcnum   => $svcnum
  &>

The ID of the input field can be anything;  the ID of the DIV in which to display results
should be the input id plus '_result'.

</%doc>

<& '/elements/validate_password_js.html', %opt &>

<SCRIPT>
  add_password_validation('<% $opt{'fieldid'} %>', '<% $opt{'submitid'} %>', '<% $opt{'svcnum'} %>', '<% $opt{'contactnum'} %>');
</SCRIPT>

<%init>
my %opt = @_;
</%init>


