
.webfx-menu, .webfx-menu * {
	/*
	Set the box sizing to content box
	in the future when IE6 supports box-sizing
	there will be an issue to fix the sizes

	There is probably an issue with IE5 mac now
	because IE5 uses content-box but the script
	assumes all versions of IE uses border-box.

	At the time of this writing mozilla did not support
	box-sizing for absolute positioned element.

	Opera only supports content-box
	*/
	box-sizing:			content-box;
	-moz-box-sizing:	content-box;
}

.webfx-menu {
	position:		absolute;
	z-index:		100;
	visibility:		hidden;
	border:			1px solid black;
	padding:		1px;
	background:		white;
	filter:			progid:DXImageTransform.Microsoft.Shadow(color="#777777", Direction=135, Strength=4)
				alpha(Opacity=95);
	-moz-opacity:		0.95;
	/* a drop shadow would be nice in moz/others too... */
}

.webfx-menu-empty {
	display:		block;
	padding:		2px 5px 2px 5px;
	font-size:		11px;
	/* font-family:		Tahoma, Verdan, Helvetica, Sans-Serif; */
	color:			black;
}

.webfx-menu a {
	display:		block;
	/* width:			expression(constExpression(ieBox ? "100%": "auto")); /* should be ignored by mz and op */
	width:			expression(constExpression(ie ? "98%": "auto")); /* should be ignored by mz and op */
	overflow:		visible;	
	/* padding:		2px 0px 2px 5px; */
	padding:		1px 0px 1px 5px;
	font-size:		14px;
/* 	font-family:		Verdana, Arial, Helvetica, sans-serif; */
        font-weight:            bold;
	text-decoration:	none;
	vertical-align:		center;
	color:			black;
}	

.webfx-menu a:visited {
	color:			black;
}

.webfx-menu a:hover {
	color:			black;
}

.webfx-menu a:hover {
	color:			black;
}	

.webfx-menu a .arrow {
	float:			right;
	border:			0;
	width:			3px;
	margin-right:	3px;
	margin-top:		4px;
}

/* separtor */
.webfx-menu div {
	height:			0;
	height:			expression(constExpression(ieBox ? "2px" : "0"));
	border-top:		1px solid #7e0079; /* rgb(120,172,255); */
	border-bottom:	1px solid rgb(234,242,255);
	overflow:		hidden;
	margin:			2px 0px 2px 0px;
	font-size:		0mm;
}

.webfx-menu-bar {
	/* background:		rgb(120,172,255);/*rgb(255,128,0);*/
	/* background:		 #a097ed; */
	background:		 #cccccc;
	/* border:			1px solid #7E0079; */
	/* border:			1px solid #000000; */
	/* border: none */
	color:				white;

	padding:		2px;
	
	/* IE5.0 has the wierdest box model for inline elements */
	padding:		expression(constExpression(ie50 ? "0px" : "2px"));
}

.webfx-menu-bar a,
.webfx-menu-bar a:visited {
        /* i want a vertical bar */
        /* display:                        block; */

	padding:			1px 5px 1px 5px;

	font-size:		16px;

	color:				black;
	/* color:				white; */
	text-decoration:	none;

	/* IE5.0 Does not paint borders and padding on inline elements without a height/width */
	height:		expression(constExpression(ie50 ? "17px" : "auto"));

        border: 1px solid #cccccc;

        margin-right: 4px

}

.webfx-menu-bar a:link {
	/* color: white; */
        color: black;
}

.webfx-menu-bar a:hover {
        text-decoration: underline;
        color: #7e0079;

}

.webfx-menu-bar a .arrow {
	/* float:			right; */
	border:			0;
/*	vertical-align:		top; */
/*	width:			3px; */
/*	margin-right:	3px; */
	margin-bottom:		2px;

}

.webfx-menu-bar a:active, .webfx-menu-bar a:focus {
	-moz-outline:	none;
	outline:		none;
	/*
		ie does not support outline but ie55 can hide the outline using
		a proprietary property on HTMLElement. Did I say that IE sucks at CSS?
	*/
	ie-dummy:		expression(this.hideFocus=true);
}

.webfx-menu-title  {
	color:			black;
	/* background:		#faf7fa; #f5ebf4; #efdfef; white; #BC79B8; */
	background:		#7e0079;
/*	border:			1px solid #7e0079; /*rgb(120,172,255);#ff8800;*/
	/* padding:		3px 1px 3px 6px; */
	padding:		3px 1px 3px 5px;
	display:		block;
	font-size:		16px;
/*        font-family:            Verdana, Arial, Helvetica, sans-serif; */
        font-weight:            bold;
	text-decoration:	none;
	color:			white;
        border-bottom:          1px solid white;
        width:			expression(constExpression(ie ? "98%": "auto"));	/* should be ignored by mz and op */
}	

