Source: freeside
Section: admin
Priority: optional
Maintainer: Ivan Kohler <ivan-debian@420.am>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: freeside
Architecture: any
Depends: freeside-lib
Recommends: freeside-doc, freeside-ui-web, libterm-query-perl
Suggests: freeside-passwd-server, freeside-signup-server, freeside-session-server, freeside-selfservice-server
Description: Billing and administration package for ISPs.
 Freeside is a billing and account administration package for ISPs.  It stores
 customer information in an SQL database, and will update UNIX passwd and
 shadow files, RADIUS users file and SQL databases, and configuration for
 sendmail, qmail, BIND and/or Apache.  It is also useful as a central database
 of accounts/domains/web-space for a large number of machines.

Package: freeside-doc
Architecture: all
Description: Documentation for freeside
 This package provides the HTML documentation for Freeside, a billing and
 account administration package for ISPs.

Package: freeside-lib
Architecture: all
Depends: libmime-base64-perl, libdigest-md5-perl, liburi-perl, libhtml-tagset-perl, libhtml-parser-perl, libnet-perl, liblocale-codes-perl, libnet-whois-perl, libwww-perl, libbusiness-creditcard-perl, libmailtools-perl, libtimedate-perl, libdate-manip-perl, libfile-counterfile-perl, libfreezethaw-perl, libtext-template-perl, libdbd-pg-perl, libdbix-datasource-perl, libdbix-dbschema-perl, libnet-ssh-perl, libnet-scp-perl, libapache-asp-perl, libtie-ixhash-perl, libtime-duration-perl, libhtml-widgets-selectlayers-perl, libstorable-perl, libapache-dbi-perl
Description: Freeside libraries and extension API
 This package contains the libraries which implement the business logic and
 backend functions of Freeside, a billing and account administration package
 for ISPs.  This package also contains the manual pages for the library API.

Package: freeside-ui-web
Architecture: all
Depends: libstring-approx-perl, freeside-lib, libapache-mod-perl|apache-perl
Suggests: libapache-mod-ssl|apache-ssl
Description: Easy-to-use web interface for Freeside
 This package contains the web interface for Freeside, a billing and account
 administration package for ISPs.  This is what sales or support folks will
 typically use to add new accounts, edit exiting accounts and so on.

Package: freeside-passwd-server
Architecture: all
Depends: freeside-lib
Description: Freeside password server 
 This component of Freeside, a billing and account administration package for
 ISPs, 

Package: freeside-passwd-client
Architecture: all
Depends: 
Description: 
 <rar>

Package: freeside-signup-server
Architecture: all
Depends: freeside-lib
Description:
 <rar>

Package: freeside-signup-client
Architecture: all
Depends: 
Description:
 <rar>

Package: freeside-signup-client-webui
Architecture: all
Depends: freeside-signup-client-lib, httpd
Description: 
 <rar>

Package: freeside-session-server
Architecture: all
Depends: freeside-lib
Description:
 <rar>

Package: freeside-session-client
Architecture: all
Depends: ssh
Description: 
 <rar>

Package: freeside-selfservice-server
Architecture: all
Depends:
Description:
 <rar>


