<% include("/elements/header-popup.html", $title) %>
For Contact <% $contact->first %> <% $contact->last %>
<P>
<& /elements/change_password.html,
              'contact_num' => $contactnum,
              'custnum'     => $custnum,
              'curr_value'  => '',
              'label'       => $label,
              'popup'       => $popup,
&>

<%init>

my $curuser = $FS::CurrentUser::CurrentUser;

$cgi->param('contactnum') =~ /^(\d+)$/ or die "illegal contactnum" if $cgi->param('contactnum');
my $contactnum = $1;

$cgi->param('custnum') =~ /^(\d+)$/ or die "illegal customernum" if $cgi->param('custnum');
my $custnum = $1;

my $label = "change password";
$label = "set password" unless ($cgi->param('label') eq "change");
my $title = $label;
$title =~ s/\b(\w)/\U$1/g;

my $popup = $cgi->param('popup');

die "access denied"
    unless $curuser->access_right(($custnum ? 'Edit' : 'New'). ' customer'); #password?

my $contact = qsearchs('contact', { 'contactnum' => $contactnum } );

</%init>