<% include("/elements/header.html", "Edit $type2desc{$type} invoice template",
             menubar(
               'View all invoice templates' => $p.'browse/invoice_template.html'
             )
          )
%>

<FORM ACTION="process/invoice_template.html" METHOD="POST">
<INPUT TYPE="hidden" NAME="confname" VALUE="<% $confname %>">

% #if ( $type eq 'html' ) {
% if ( 0 ) { #this seems to broken, using a text editor for everything for now

  <% include('/elements/htmlarea.html',
               'field'      => 'value',
               'curr_value' => $value,
               'height'     => 800,
            )
  %>

% } else {

  <TEXTAREA NAME="value" ROWS=30 COLS=80 WRAP="off"><%$value |h %></TEXTAREA>

% }

<BR><BR>
<INPUT TYPE="submit" VALUE="Change template">

</FORM>

<% include("/elements/footer.html") %>

<%once>

my %type2desc = (
  'html'  => 'HTML',
  'latex' => 'Print/PDF (typeset)',
  'text'  => 'Plaintext',
);

my %type2base = (
  'html'  => 'invoice_html',
  'latex' => 'invoice_latex',
  'text'  => 'invoice_template',
);

</%once>
<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Configuration');

my $type = $cgi->param('type');
my $name = $cgi->param('name');
my $suffix = $cgi->param('suffix');

#XXX type handling, just testing this out for now

my $conf = new FS::Conf;

my $value = length($name)
              ? join("\n", $conf->config_orbase($type2base{$type}.$suffix, $name) )
              : join("\n", $conf->config($type2base{$type}.$suffix) );

my $confname = length($name)
                 ? $type2base{$type}.$suffix. '_'. $name
                 : $type2base{$type}.$suffix;

</%init>
