<% include("/elements/header-popup.html", $title, '',
            ( $cgi->param('error') ? '' : 'onload="addRow()"' ),
          )
%>

%# <% include('/elements/error.html') %>

<FORM ACTION="process/quotation_pkg_detail.html" NAME="DetailForm" ID="DetailForm" METHOD="POST">

<INPUT TYPE="hidden" NAME="pkgnum" VALUE="<% $pkgnum %>">

<TABLE ID="DetailTable" BGCOLOR="#cccccc" BORDER=0 CELLSPACING=1 STYLE="background-color: #cccccc">

  <TR>
    <TD ALIGN="right">Package</TD>
    <TD BGCOLOR="#ffffff"><% $part_pkg->pkg %></TD>
  </TR>

  <TR>
    <TD ALIGN="right">Comment</TD>
    <TD BGCOLOR="#ffffff"><% $part_pkg->comment |h %></TD>
  </TR>

  <TR>
    <TD COLSPAN=2>Detail: </TD>
  </TR>

% my $row = 0;
% for ( @details ) { 

    <TR>
      <TD></TD>
      <TD>
        <INPUT TYPE="text" NAME="detail<% $row %>" SIZE="60" MAXLENGTH="65" VALUE="<% $_ |h %>" rownum="<% $row++ %>" onkeyup="possiblyAddRow" onchange="possiblyAddrow">
      </TD>
    </TR>

% } 

</TABLE>

<BR>
<INPUT TYPE="submit" ID="submit" NAME="submit" VALUE="<% $title %>">

</FORM>

<SCRIPT TYPE="text/javascript">
% # abject false laziness with edit/cust_pkg_detail.html

  var rownum = <% $row %>;

  function possiblyAddRow() {
    if ( ( rownum - this.getAttribute('rownum') ) == 1 ) {
      addRow();
    }
  }

  function addRow() {

    var table = document.getElementById('DetailTable');
    var tablebody = table.getElementsByTagName('tbody').item(0);

    var row = document.createElement('TR');

    var empty_cell = document.createElement('TD');
    row.appendChild(empty_cell);

    var detail_cell = document.createElement('TD');

      var detail_input = document.createElement('INPUT');
      detail_input.setAttribute('name', 'detail'+rownum);
      detail_input.setAttribute('id',   'detail'+rownum);
      detail_input.setAttribute('size', 60);
      detail_input.setAttribute('maxLength', 65);
      detail_input.setAttribute('rownum',   rownum);
      detail_input.onkeyup = possiblyAddRow;
      detail_input.onchange = possiblyAddRow;
      detail_cell.appendChild(detail_input);

    row.appendChild(detail_cell);

    tablebody.appendChild(row);

    rownum++;

  }

</SCRIPT>

</BODY>
</HTML>
<%init>

my $curuser = $FS::CurrentUser::CurrentUser;

die "access denied"
  unless $curuser->access_right('Generate quotation');

$cgi->param('pkgnum') =~ /^(\d+)$/ or die 'illegal pkgnum';
my $pkgnum = $1;

my $quotation_pkg = qsearchs({
  'table'     => 'quotation_pkg',
  'addl_from' => 'LEFT JOIN quotation USING ( quotationnum )'.
                 'LEFT JOIN cust_main USING ( custnum )',
  'hashref'   => { 'quotationpkgnum' => $pkgnum },
  'extra_sql' => ' AND '. $curuser->agentnums_sql,
});

my $part_pkg = $quotation_pkg->part_pkg;

my @details = $quotation_pkg->details;

my $title = ( scalar(@details) ? 'Edit ' : 'Add ' ). 'Quotation Details';

</%init>
