<% include('/elements/header.html', "$action taxclass") %>

<% include('/elements/error.html') %>

<FORM ACTION="<% $p1 %>process/tax_class.html" METHOD=POST>

<INPUT TYPE="hidden" NAME="taxclassnum" VALUE="">
<INPUT TYPE="hidden" NAME="data_vendor" VALUE="">

Tax class <INPUT TYPE="text" NAME="taxclass" VALUE="<% $taxclass |h %>"><BR>
Description <INPUT TYPE="text" NAME="description" VALUE="<% $description |h %>">

<BR><BR>
<INPUT TYPE="submit" VALUE="<% $action %> taxclass">

</FORM>

<% include('/elements/footer.html') %>

<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Configuration');

my $taxclass = '';
my $description = '';
if ( $cgi->param('error') ) {
  $taxclass = $cgi->param('taxclass');
  $description = $cgi->param('description');
}

my $action = 'Add';

my $p1 = popurl(1);

</%init>
