% if ( $communigate ) {

Account defaults
<% ntable("#cccccc",2) %>

  <% include('/elements/tr-checkbox.html',
               'label'      => 'Password modification',
               'field'      => 'acct_def_password_selfchange',
               'curr_value' => $svc_domain->acct_def_password_selfchange,
               'value'      => 'Y',
            )
  %>

  <% include('/elements/tr-checkbox.html',
               'label'      => 'Password recovery',
               'field'      => 'acct_def_password_recover',
               'curr_value' => $svc_domain->acct_def_password_recover,
               'value'      => 'Y',
            )
  %>

  <TR>
    <TD ALIGN="right">Enabled services
    </TD>
    <TD><% include('/elements/communigate_pro-accessmodes.html',
                     'element_name_prefix' => 'acct_def_cgp_accessmodes_',
                     'curr_value' => $svc_domain->acct_def_cgp_accessmodes,
                  )
        %>
    </TD>
  </TR>

  <% include('/elements/tr-input-text.html',
               'label'      => 'Mail storage limit',
               'field'      => 'acct_def_quota',
               'curr_value' => $svc_domain->acct_def_quota,
            )
  %>
  <% include('/elements/tr-input-text.html',
               'label'      => 'File storage limit',
               'field'      => 'acct_def_file_quota',
               'curr_value' => $svc_domain->acct_def_file_quota,
            )
  %>
  <% include('/elements/tr-input-text.html',
               'label'      => 'Files limit',
               'field'      => 'acct_def_file_maxnum',
               'curr_value' => $svc_domain->acct_def_file_maxnum,
            )
  %>
  <% include('/elements/tr-input-text.html',
               'label'      => 'File size limit',
               'field'      => 'acct_def_file_maxsize',
               'curr_value' => $svc_domain->acct_def_file_maxsize,
            )
  %>

  <% include('/elements/tr-select.html',
               'label'      => 'Allowed mail rules',
               'field'      => 'acct_def_cgp_rulesallowed',
               'options'    => [ '', 'No', 'Filter Only', 'All But Exec', 'Any' ],
               'labels'     => {
                                 '' => 'default (No)', #No always the default?
                               },
               'curr_value' => $svc_domain->acct_def_cgp_rulesallowed,
            )
  %>

  <% include('/elements/tr-checkbox.html',
               'label'      => 'RPOP modifications',
               'field'      => 'acct_def_cgp_rpopallowed',
               'curr_value' => $svc_domain->acct_def_cgp_rpopallowed,
               'value'      => 'Y',
            )
  %>

  <% include('/elements/tr-checkbox.html',
               'label'      => 'Accepts mail to "all"',
               'field'      => 'acct_def_cgp_mailtoall',
               'curr_value' => $svc_domain->acct_def_cgp_mailtoall,
               'value'      => 'Y',
            )
  %>

  <% include('/elements/tr-checkbox.html',
               'label'      => 'Add trailer to sent mail',
               'field'      => 'acct_def_cgp_addmailtrailer',
               'curr_value' => $svc_domain->acct_def_cgp_addmailtrailer,
               'value'      => 'Y',
            )
  %>

%# more false laziness w/svc_acct acct_def
  <% include('/elements/tr-select.html',
               'label'      => 'Archive messages after',
               'field'      => 'acct_def_cgp_archiveafter',
               'options'    => [ '', 0, 86400, 172800, 259200, 432000, 604800,
                                 1209600, 2592000, 7776000, 15552000, 31536000,
                                 63072000
                               ],
               'labels'     => {
                                 '' => 'default (730 days)',#730 always default?
                                  0 => 'Never',
                                  86400 => '24 hours',
                                  172800 => '2 days',
                                  259200 => '3 days',
                                  432000 => '5 days',
                                  604800 => '7 days',
                                  1209600 => '2 weeks',
                                  2592000 => '30 days',
                                  7776000 => '90 days',
                                  15552000 => '180 days',
                                  31536000 => '365 days',
                                  63072000 => '730 days',
                               },
               'curr_value' => $svc_domain->acct_def_cgp_archiveafter,
            )
  %>

%# false laziness w/svc_acct acct_def
  <TR>
    <TD ALIGN="right">Message delete method</TD>
    <TD>
      <SELECT NAME="acct_def_cgp_deletemode">
%       for ( 'Move To Trash', 'Immediately', 'Mark' ) {
          <OPTION VALUE="<% $_ %>"
                  <% $_ eq $svc_domain->acct_def_cgp_deletemode ? 'SELECTED' : '' %>
          ><% $_ %>
%       }
      </SELECT>
    </TD>
  </TR>

  <% include('/elements/tr-select.html',
               'label'      => 'On logout remove trash',
               'field'      => 'acct_def_cgp_emptytrash',
               'options'    => $svc_domain->cgp_emptytrash_values,
               'labels'     => {
                                 '' => 'default (92 days)', #right?
                               },
               'curr_value' => $svc_domain->acct_def_cgp_emptytrash,
            )
  %>

  <% include('/elements/tr-select.html',
               'label'      => 'Language',
               'field'      => 'acct_def_cgp_language',
               'options'    => [ '', qw( English Arabic Chinese Dutch French German Hebrew Italian Japanese Portuguese Russian Slovak Spanish Thai ) ],
               'labels'     => {
                                 '' => 'default (English)',
                               },
               'curr_value' => $svc_domain->acct_def_cgp_language,
            )
  %>

  <% include('/elements/tr-select.html',
               'label'      => 'Time zone',
               'field'      => 'acct_def_cgp_timezone',
               'options'    => $svc_domain->cgp_timezone_values,
               'labels'     => {
                                 '' => 'default (HostOS)',
                               },
               'curr_value' => $svc_domain->acct_def_cgp_timezone,
            )
  %>

  <% include('/elements/tr-select.html',
               'label'      => 'Layout',
               'field'      => 'acct_def_cgp_skinname',
               'options'    => [ '', '***', 'GoldFleece', 'Skin2' ],
               'labels'     => {
                                 '' => 'default (***)',
                               },
               'curr_value' => $svc_domain->acct_def_cgp_skinname,
            )
  %>

  <% include('/elements/tr-select.html',
               'label'      => 'Pronto style',
               'field'      => 'acct_def_cgp_prontoskinname',
               'options'    =>  [ '', 'Pronto', 'Pronto-darkflame', 'Pronto-steel', 'Pronto-twilight', ],
               'curr_value' => $svc_domain->acct_def_cgp_prontoskinname,
            )
  %>

  <% include('/elements/tr-select.html',
               'label'      => 'Send read receipts',
               'field'      => 'acct_def_cgp_sendmdnmode',
               'options'    => [ '', 'Never', 'Manually', 'Automatically' ],
               'labels'     => {
                                 '' => 'default (Automatically)',
                               },
               'curr_value' => $svc_domain->acct_def_cgp_language,
            )
  %>

</TABLE>
<BR>

% } else {

%   foreach my $f (qw( password_selfchange password_recover cgp_accessmodes
%                      quota file_quota file_maxnum file_maxsize
%                      cgp_rulesallowed cgp_rpopallowed cgp_mailtoall
%                      cgp_addmailtrailer
%                      cgp_deletemode cgp_emptytrash cgp_language
%                      cgp_timezone cgp_skinname cgp_sendmdnmode
%                 )) {
      <INPUT TYPE="hidden" NAME="acct_def_<%$f%>" VALUE="<% $svc_domain->get("acct_def_$f") %>">
%   }

% }

<%init>

my %opt = @_;

my $svc_domain = $opt{'svc_domain'};
my $part_svc = $opt{'part_svc'};

my $communigate = $opt{'communigate'};

</%init>
