<% include('/elements/header-popup.html', 'Import private key' ) %>

<% include('/elements/error.html') %>

<FORM NAME="ImportKeyForm" ACTION="<% $p %>process/svc_cert.cgi" METHOD="POST">

<INPUT TYPE="hidden" NAME="svcnum" VALUE="<% $svcnum %>">
<INPUT TYPE="hidden" NAME="pkgnum" VALUE="<% $pkgnum %>">
<INPUT TYPE="hidden" NAME="svcpart" VALUE="<% $svcpart %>">

<TEXTAREA NAME="privatekey" COLS=64 ROWS=15 STYLE="font-family:monospace"></TEXTAREA>

<BR><BR>
<INPUT TYPE="submit" VALUE="Import">

</FORM>
</BODY>
</HTML>
<%init>

$cgi->param('svcnum') =~ /^(\d*)$/ or die 'illegal svcnum';
my $svcnum = $1;
$cgi->param('pkgnum') =~ /^(\d*)$/ or die 'illegal pkgnum';
my $pkgnum = $1;
$cgi->param('svcpart') =~ /^(\d*)$/ or die 'illegal svcpart';
my $svcpart = $1;

</%init>
