% if ( $communigate ) {

  Account defaults
  <% &ntable("#cccccc") %><TR><TD><% &ntable("#cccccc",2) %>

%# settings

  <% include('/view/elements/tr.html',
               label=>'Password modification',
               value=>$svc_domain->acct_def_password_selfchange ? 'YES' : 'NO',
            )
  %>

  <% include('/view/elements/tr.html',
               label=>'Password recovery',
               value=>$svc_domain->acct_def_password_recover ? 'YES' : 'NO',
            )
  %>
    
  <% include('/view/elements/tr.html',
               label=>'Enabled services',
               value=>$svc_domain->acct_def_cgp_accessmodes,
            )
  %>
    
  <% include('/view/elements/tr.html',
               label=>'Mail storage limit',
               value=>$svc_domain->acct_def_quota,
            )
  %>
    
  <% include('/view/elements/tr.html',
               label=>'File storage limit',
               value=>$svc_domain->acct_def_file_quota,
            )
  %>
    
  <% include('/view/elements/tr.html',
               label=>'Files limit',
               value=>$svc_domain->acct_def_file_maxnum,
            )
  %>
    
  <% include('/view/elements/tr.html',
               label=>'File size limit',
               value=>$svc_domain->acct_def_file_maxsize,
            )
  %>

  <% include('/view/elements/tr.html',
               label=>'Allowed mail rules',
               value=>$svc_domain->acct_def_cgp_rulesallowed || 'default (No)',
            )
  %>

  <% include('/view/elements/tr.html',
               label=>'RPOP modifications',
               value=>$svc_domain->acct_def_cgp_rpopallowed ? 'YES' : 'NO',
            )
  %>

  <% include('/view/elements/tr.html',
               label=>'Accepts mail to "all"',
               value=>$svc_domain->acct_def_cgp_mailtoall ? 'YES' : 'NO',
            )
  %>

  <% include('/view/elements/tr.html',
               label=>'Add trailer to sent mail',
               value=>$svc_domain->acct_def_cgp_addmailtrailer ? 'YES' : 'NO',
            )
  %>

%# preferences

  <% include('/view/elements/tr.html',
               label=>'Message delete method',
               value=>$svc_domain->acct_def_cgp_deletemode,
            )
  %>
    
  <% include('/view/elements/tr.html',
               label=>'On logout remove trash',
               value=>$svc_domain->acct_def_cgp_emptytrash,
            )
  %>

  <% include('/view/elements/tr.html',
               label=>'Language',
               value=>$svc_domain->acct_def_cgp_language || 'default (English)'
            )
  %>

  <% include('/view/elements/tr.html',
               label=>'Time zone',
               value=>$svc_domain->acct_def_cgp_timezone || 'default (HostOS)'
            )
  %>

  <% include('/view/elements/tr.html',
               label=>'Layout',
               value=>$svc_domain->acct_def_cgp_skinname || 'default (***)'
            )
  %>

  <% include('/view/elements/tr.html',
               label=>'Pronto style',
               value=>$svc_domain->acct_def_cgp_prontoskinname
            )
  %>

  <% include('/view/elements/tr.html',
               label=>'Send read receipts',
               value=>$svc_domain->acct_def_cgp_sendmdnmode
            )
  %>

%# mail
%#XXX rules, archive rule, spam foldering rule(s)

  </TABLE></TD></TR></TABLE>

% }
<%init>

my($svc_domain, %opt) = @_;

my $part_svc = $opt{'part_svc'};

my $communigate = scalar($part_svc->part_export('communigate_pro'));
                # || scalar($part_svc->part_export('communigate_pro_singledomain'));

my %rulesallowed = (
  -1 => 'default (No)', #No always the default?
   0 => 'No',
   1 => 'Filter Only',
   2 => 'All But Exec',
   3 => 'Any',
);

</%init>
