<SCRIPT>
  function areyousure(href, message) {
    if ( confirm(message) == true )
      window.location.href = href;
  }
  function slave_areyousure() {
    return confirm("Remove all records and slave from " + document.SlaveForm.recdata.value + "?");
  }
</SCRIPT>

<div class="fscontainer">
<div class="fsbox">
<div class="fsbox-title">
  <span class="left">DNS Records</span>
</div>

% my @records; if ( @records = $svc_domain->domain_record ) { 

  <% include('/elements/table-grid.html') %>

% my $bgcolor1 = '#eeeeee';
%     my $bgcolor2 = '#ffffff';
%     my $bgcolor = $bgcolor2;

  <tr>
    <th CLASS="grid" BGCOLOR="#cccccc">Zone</th>
    <th CLASS="grid" BGCOLOR="#cccccc">Type</th>
    <th CLASS="grid" BGCOLOR="#cccccc">Data</th>
  </tr>

% foreach my $domain_record ( @records ) {
%       my $type = $domain_record->rectype eq '_mstr'
%                    ? "(slave)"
%                    : $domain_record->recaf. ' '. $domain_record->rectype;


    <tr>
      <td CLASS="grid" BGCOLOR="<% $bgcolor %>"><% $domain_record->reczone %></td>
      <td CLASS="grid" BGCOLOR="<% $bgcolor %>"><% $type %></td>
      <td CLASS="grid" BGCOLOR="<% $bgcolor %>"><% $domain_record->recdata %>

% unless ( $domain_record->rectype eq 'SOA'
%          || ! $FS::CurrentUser::CurrentUser->access_right('Edit domain nameservice')
%        ) { 
%   ( my $recdata = $domain_record->recdata ) =~ s/"/\\'\\'/g;
      (<A HREF="<%$p%>edit/domain_record.html?<%$domain_record->recnum%>">edit</A>)
      (<A HREF="javascript:areyousure('<%$p%>misc/delete-domain_record.cgi?<%$domain_record->recnum%>', 'Delete \'<% $domain_record->reczone %> <% $type %> <% $recdata %>\' ?' )">delete</A>)
% }
      </td>
    </tr>


%   if ( $bgcolor eq $bgcolor1 ) {
%      $bgcolor = $bgcolor2;
%    } else {
%      $bgcolor = $bgcolor1;
%    }

% } 

  </table>
% } else {

  <FORM METHOD="POST" NAME="DefaultForm" ACTION="<%$p%>edit/process/svc_domain-defaultrecords.cgi">
      <INPUT TYPE="hidden" NAME="svcnum" VALUE="<%$svcnum%>">
      <INPUT TYPE="submit" VALUE="Add default records">
  </FORM>

% }

% if ( $FS::CurrentUser::CurrentUser->access_right('Edit domain nameservice') ) {
    <BR>
    <FORM METHOD="POST" ACTION="<%$p%>edit/process/domain_record.cgi">
      <INPUT TYPE="hidden" NAME="svcnum" VALUE="<%$svcnum%>">
      <INPUT TYPE="text" NAME="reczone"> 
      <INPUT TYPE="hidden" NAME="recaf" VALUE="IN"> IN 
      <SELECT NAME="rectype">
%       foreach ( @{ FS::domain_record->rectypes } ) { 
          <OPTION VALUE="<%$_%>"><%$_%></OPTION>
%       } 
      </SELECT>
      <INPUT TYPE="text" NAME="recdata">
      <INPUT TYPE="submit" VALUE="Add record">
    </FORM>

    <BR>
    <FORM NAME="SlaveForm" METHOD="POST" ACTION="<%$p%>edit/process/domain_record.cgi">
      <INPUT TYPE="hidden" NAME="svcnum" VALUE="<%$svcnum%>">
      Or
%     if ( @records ) { 
         delete all records and 
%     } 
      slave from nameserver IP 
      <INPUT TYPE="hidden" NAME="svcnum" VALUE="<%$svcnum%>">
      <INPUT TYPE="hidden" NAME="reczone" VALUE="@"> 
      <INPUT TYPE="hidden" NAME="recaf" VALUE="IN">
      <INPUT TYPE="hidden" NAME="rectype" VALUE="_mstr">
      <INPUT TYPE="text" NAME="recdata">
      <INPUT TYPE="submit" VALUE="Slave domain" onClick="return slave_areyousure()">
    </FORM>

% }

</div>
</div>
<%init>

my($svc_domain, %opt) = @_;
my $svcnum = $svc_domain->svcnum;

</%init>

