<& /elements/header-minimal.html, 'Login' &>
<link href="<%$url_string%>elements/freeside.css" type="text/css" rel="stylesheet">

<CENTER>

  <BR>
  <FONT SIZE=5>Login</FONT>
  <BR><BR>

% if ( $error ) { 
  <FONT SIZE="+1" COLOR="#ff0000"><% $error |h %></FONT>
  <BR><BR>
% } 
             
%#  <FORM METHOD="POST" ACTION="<%$url_string%>loginout/login">
%  my $uri = $r->prev->uri;
%  $uri .= '?'. $r->prev->args if length( $r->prev->args );
  <FORM METHOD="POST" ACTION="/login">
    <INPUT TYPE="hidden" NAME="destination" VALUE="<% $uri %>">

    <TABLE CELLSPACING=0 CELLPADDING=4 CLASS="fsinnerbox">
      <TR>
        <TD ALIGN="right">Username: </TD>
        <TD><INPUT TYPE="text" NAME="credential_0" SIZE="13"></TD>
      </TR>
      <TR>
        <TD ALIGN="right">Password: </TD>
        <TD><INPUT TYPE="password" NAME="credential_1" SIZE="13"></TD>
      </TR>
    </TABLE>
    <BR>
 
    <INPUT TYPE="submit" VALUE="Login">

  </FORM>

  <div id="edgebug" style="display: none; border: solid 1px #888; border-radius: 4px; margin: 5em; max-width: 400px; text-align: left; padding: 0 1em;">
    <div style="text-align: center; font-size: 3em; color: #933; text-shadow: 1px 1px 2px black;">
      &#9888;
    </div>
    <h4 style="border-bottom: solid 1px #888; margin: 1em 0; text-align: center;">
      Edge Browser Bug
    </h4>
    <p>
      Please ensure your version of Windows is up to date.
    </p>
    <p>
      You are using the Microsoft Edge browser.  In July, Microsoft fixed a
      bug in Edge.  The bug causes Edge to rarely send different data to
      the server than the user selected.
    </p>
    <p>
      Only Windows 10 computers that have not received Microsoft's
      <b>July RS4 Windows 10 Update</b>
      <sup>
        [<a  style="text-decoration: none;" href="https://support.microsoft.com/en-us/help/4338819/windows-10-update-kb4338819">*</a>]
      </sup> are affected.
    </p>
  </div>

</CENTER>

<script type="text/javascript">
  if ( /Edge\/17\.17134/.test( navigator.userAgent ) ) {
    document.getElementById('edgebug').style.display = 'block';
  }
</script>

</BODY></HTML>
<%init>

my %error = (
  'no_cookie'       => '', #First login, don't display an error
  'bad_cookie'      => 'Bad Cookie', #timed out?
  'bad_credentials' => 'Incorrect username / password',
  #'logout'          => 'You have been logged out.',
);

my $error = # $cgi->param('logout') ||
            $r->prev->subprocess_env('AuthCookieReason');

$error = exists($error{$error}) ? $error{$error} : $error;


my $url_string = $r->uri;

#fake a freeside path for /login so we get our .css.  shrug
$url_string =~ s/login$/freeside\/login/ unless $url_string =~ /freeside\//;

#even though this is kludgy and false laziness w/CGI.pm
$url_string =~ s{ / index\.html /? $ }
                {/}x;
$url_string =~
  s{
     /(login|loginout)
     ([\w\-\.\/]*)
     $
   }
   {}ix;

$url_string .= '/' unless $url_string =~ /\/$/;

</%init>
