<% include('/elements/header.html', 'Quick payment entry') %>

<% include('/elements/error.html') %>

<SCRIPT TYPE="text/javascript">
function warnUnload() {
  if(document.getElementById("OneTrueTable").rows.length > 3 &&
     !document.OneTrueForm.submit.disabled) {
    return "The current batch will be lost.";
  }
  else {
    return null;
  }
}
window.onbeforeunload = warnUnload;
</SCRIPT>

<FORM ACTION="process/batch-cust_pay.cgi" NAME="OneTrueForm" METHOD="POST" onsubmit="document.OneTrueForm.submit.disabled=true;window.onbeforeunload = null;">

<!-- <B>Batch</B> <INPUT TYPE="text" NAME="paybatch"><BR><BR> -->

<% include( "/elements/customer-table.html",
              name_singular => 'payment',
              header  => [ '', 'Amount', 'Check #', '' ],
              fields  => [ sub {'$'}, 'paid', 'payinfo', 'error', ],
              types   => [ 'immutable', '', '', 'immutable', ],
              align   => [ 'c', 'r', 'r', 'l' ],
              sizes   => [ 0, 8, 10, 0, ],
              colors  => [ '', '', '', '#ff0000' ],
              param   => { () },
              footer  => [ '$', '_TOTAL', '', '' ],
              footer_align => [ 'c', 'r', 'r', '' ],
          )
%>

<!-- <BR>
<INPUT TYPE="button" VALUE="TEST addrow" onclick="addRow()"> -->

<BR>
<INPUT TYPE="submit" NAME="submit" VALUE="Post payment batch">

</FORM>

<% include('/elements/footer.html') %>

<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Post payment batch');

</%init>
