<% include( '/elements/header.html', 'Cacti Graphs' ) %>

% if ($load) {

<FORM NAME="CactiGraphForm" ID="CactiGraphForm" style="margin-top: 0">
<INPUT TYPE="hidden" NAME="svcnum" VALUE="<% $svcnum %>">
</FORM>
<% include( '/elements/progress-init.html',
              'CactiGraphForm', 
              [ 'svcnum' ],
              $p.'misc/process/cacti_graphs.cgi',
              { url => 'javascript:window.location.replace("'.popurl(2).'misc/cacti_graphs.html?svcnum='.$svcnum.'")' },
) %>
<!--
  note we use window.location.replace for the callback url above
  so that this page gets removed from browser history after processing
  so that process() doesn't get triggered by the back button
-->
<P>Loading graphs, please wait...</P>
<SCRIPT TYPE="text/javascript">
process();
</SCRIPT>

% } elsif ($error) {

<P><% emt($error) %></P>
<FORM NAME="CactiGraphForm" ID="CactiGraphForm" style="margin-top: 0">
<INPUT TYPE="hidden" NAME="svcnum" VALUE="<% $svcnum %>">
<INPUT TYPE="hidden" NAME="load" VALUE="1">
<INPUT TYPE="submit" VALUE="Reload Graphs">
</FORM>

% } else {

<% $content %>

% }

<%init>
use File::Slurp qw( slurp );

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('View customer services');

my $svcnum    = $cgi->param('svcnum') or die 'Illegal svcnum';
my $load      = $cgi->param('load');
my $graphnum  = $cgi->param('graphnum') || '';

my ($content,$error);
unless ($load) {
  my $page = qsearchs({
    'table'    => 'cacti_page',
    'hashref'  => { 'svcnum' => $svcnum, 'graphnum' => $graphnum },
  });
  if ($page) {
    $content = $page->content;
  } else {
    $error = 'No graphs found in import cache.  Click below to retry import.';
  }
}

</%init>

