<& /elements/header-popup.html, mt('Cancel customer')  &>

<& /elements/error.html &>

<FORM NAME="cust_cancel_popup" ACTION="<% popurl(1) %>cust_main-cancel.cgi" METHOD=POST>
<INPUT TYPE="hidden" NAME="custnum" VALUE="<% $custnum %>">

 <P ALIGN="center"><B><% mt('Permanently delete all services and cancel this customer?') |h %></B>

<TABLE BORDER="0" CELLSPACING="2"
STYLE="margin-left:auto; margin-right:auto">
<TR>
  <TD ALIGN="right">
    <INPUT TYPE="radio" NAME="now_or_later" VALUE="0" onclick="toggle(false)" CHECKED />
  </TD>
  <TD ALIGN="left"><% mt('Cancel now') |h %></TD>
</TR>
<TR>
  <TD ALIGN="right">
    <INPUT TYPE="radio" NAME="now_or_later" VALUE="1" onclick="toggle(true)" />
  </TD>
  <TD ALIGN="left"><% mt('Cancel on date: ') |h %> 
  <& /elements/input-date-field.html, {
              'name'    => 'expire',
              'value'   => time,
    }  &>
  </TD>
</TR>
</TABLE>
<SCRIPT type="text/javascript">
function toggle(val) {
  document.getElementById("expire_text").disabled = !val;
  document.getElementById("ban").disabled = val;
  document.getElementById("expire_button").style.visibility = 
    val ? 'visible' : 'hidden';
}
toggle(false);
</SCRIPT> 
% if ( $cust_main->payby =~ /^(CARD|DCRD|CHEK|DCHK)$/ ) {
% my $ban = "Ban this customer's ";
% $ban .= 'credit card' if $cust_main->payby =~ /^(CARD|DCRD)$/;
% $ban .= 'ACH account' if $cust_main->payby =~ /^(CHEK|DCHK)$/;
    <P ALIGN="center">
         <INPUT TYPE="checkbox" NAME="ban" ID="ban" VALUE="1"><% mt($ban) |h %> 
% }

<TABLE BGCOLOR="#cccccc", BORDER="0" CELLSPACING="2"
STYLE="margin-left:auto; margin-right:auto">
<& /elements/tr-select-reason.html,
             'field'          => 'reasonnum',
             'reason_class'   => 'C',
             'cgi'            => $cgi,
             'control_button' => "document.getElementById('confirm_cancel_cust_button')",
&>

</TABLE>

<BR>
<P ALIGN="CENTER">
<INPUT TYPE="submit" NAME="submit" ID="confirm_cancel_cust_button" VALUE="<% mt('Cancel customer') |h %>" DISABLED> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<INPUT TYPE="BUTTON" VALUE="<% mt("Don't cancel") |h %>" onClick="parent.cClick();"> 

</FORM>
</BODY>
</HTML>

<%init>

$cgi->param('custnum') =~ /^(\d+)$/ or die 'illegal custnum';
my $custnum = $1;

my $curuser = $FS::CurrentUser::CurrentUser;

die "access denied" unless $curuser->access_right('Cancel customer');

my $cust_main = qsearchs( {
  'table'     => 'cust_main',
  'hashref'   => { 'custnum' => $custnum },
  'extra_sql' => ' AND '. $FS::CurrentUser::CurrentUser->agentnums_sql,
} );
die "No customer # $custnum" unless $cust_main;

</%init>

