<% include("/elements/header.html",'Call Detail Record Import') %>
<FORM ACTION="process/cdr-import.html" METHOD="POST" ENCTYPE="multipart/form-data">
Import a CSV file containing Call Detail Records (CDRs).<BR><BR>
CDR Format: <SELECT NAME="format">
<OPTION VALUE="asterisk">Asterisk (untested)</OPTION>
<OPTION VALUE="unitel">Unitel/RSLCOM</OPTION>
<OPTION VALUE="ams">AMS</OPTION>
</SELECT><BR><BR>

Filename: <INPUT TYPE="file" NAME="csvfile"><BR><BR>

<INPUT TYPE="submit" VALUE="Upload">
</FORM>

<% include('/elements/footer.html') %>

<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Import');

</%init>
