<STYLE type="text/css">
th { line-height: 150%;
  width: 45%;
}
.td_radio {
  width: 5%;
  vertical-align: middle;
  text-align: center;
}
</STYLE>
<CENTER><BR><B>
% if ( $is_error ) {
Address standardization error
% }
% else {
Confirm address standardization
% }

</B><BR><BR>
<FORM ID="confirm_replace_form">
<TABLE WIDTH="100%">
% for my $pre (@prefixes) {
%   my $name = $pre eq 'bill_' ? 'billing' : 'service';
%   my $rows = 5;
%   if ( $new{$pre.'error'} ) {
  <TR>
    <TD ROWSPAN=<% $rows %> CLASS="td_radio">
        <INPUT TYPE="radio" NAME="<% $pre %>replace" VALUE="" CHECKED="Y">
    </TD>
    <TH>Entered <%$name%> address
    </TH>
    <TH></TH>
    <TD CLASS="td_radio"></TD>
  </TR>
  <TR>
%     if ( $old{$pre.'company'} ) {
    <TD><% $old{$pre.'company'} %></TD>
%     }
  </TR>
  <TR>
    <TD><% $old{$pre.'address1'} %></TD>
    <TD ROWSPAN=3><FONT COLOR="#ff0000"><B><% $new{$pre.'error'} %></B></FONT></TD>
  </TR>
  <TR>
    <TD><% $old{$pre.'address2'} %></TD>
  </TR>
  <TR>
    <TD><% $old{$pre.'city'} %>, <% $old{$pre.'state'} %>  <% $old{$pre.'zip'} %></TD>
  </TR>
%   } else { # not an error
%     $rows++ if !$new{$pre.'addr_clean'};
  <TR>
    <TD ROWSPAN=<% $rows %> CLASS="td_radio">
      <INPUT TYPE="radio" NAME="<% $pre %>replace" VALUE="">
    </TD>
    <TH>Entered <%$name%> address</TH>
    <TH>Standardized <%$name%> address</TH>
    <TD ROWSPAN=<% $rows %> CLASS="td_radio">
      <INPUT TYPE="radio" NAME="<% $pre %>replace" VALUE="Y" CHECKED="Y">
    </TD>
  </TR>
%   if ( !$new{$pre.'addr_clean'} ) {
  <TR>
    <TD></TD>
    <TH STYLE="font-size:smaller;color:#ff0000">(unverified)</TH>
  </TR>
%   }
  <TR>
%     if ( $old{$pre.'company'} ) {
  <TR>
    <TD><% $old{$pre.'company'} %></TD>
    <TD><% $new{$pre.'company'} %></TD>
  </TR>
%     }
  <TR>
    <TD><% $old{$pre.'address1'} %></TD>
    <TD><% $new{$pre.'address1'} %></TD>
  </TR>
  <TR>
    <TD><% $old{$pre.'address2'} %></TD>
    <TD><% $new{$pre.'address2'} %></TD>
  </TR>
  <TR>
    <TD><% $old{$pre.'city'} %>, <% $old{$pre.'state'} %>  <% $old{$pre.'zip'} %></TD>
    <TD><% $new{$pre.'city'} %>, <% $new{$pre.'state'} %>  <% $new{$pre.'zip'} %></TD>
  </TR>

%   } # if error
% } # for $pre

%# only do this part if address standardization provided a censustract
% my $pre = $old{same} ? 'bill_' : 'ship_';
% my $censustract = $new{$pre.'censustract'};
% if ( $censustract ) {
  <TR>
    <TD ROWSPAN=2 CLASS="td_radio">
      <INPUT TYPE="radio" NAME="census_replace" VALUE="" <% $census_error ? 'CHECKED="Y"' : '' %>>
    </TD>
    <TH>Entered census tract</TH>
    <TH>Calculated census tract</TH>
    <TD ROWSPAN=2 CLASS="td_radio">
      <INPUT TYPE="radio" NAME="census_replace" VALUE="Y" <% $census_error ? '' : 'CHECKED="Y"' %>>
    </TD>
  </TR>
  <TR>
    <TD><% $old{$pre.'censustract'} %></TD>
    <TD>
%     if ( $census_error ) {
      <FONT COLOR="#ff0000"><% $census_error %></FONT>
%     } else {
      <% $censustract %>
%     }
    </TD>
  </TR>
% } #if censustract

  <TR>
    <TD> </TD>
    <TD ALIGN="center">
    <BUTTON TYPE="button" STYLE="width:205px" onclick="replace_address();">
      <IMG SRC="<%$p%>images/<% $is_error ? 'error.png' : 'tick.png' %>"
           ALT=""> Use selected <%$addresses%>
    </BUTTON></TD>
    <TD ALIGN="center">
    <BUTTON TYPE="button" STYLE="width:205px" onclick="submit_abort();">
      <IMG SRC="<%$p%>images/cross.png" ALT=""> Cancel submission
    </BUTTON></TD>
    <TD> </TD>
  </TR>
</TABLE>
</FORM>
<%init>

# slightly weird interface...
my $q = decode_json($cgi->param('q'));
#warn Dumper($q);
my %old = %{ $q->{old} };
my %new = %{ $q->{new} };

my $addresses = $old{billship} ? 'addresses' : 'address';

my @prefixes = ('');
if ( $old{same} ) {
  @prefixes = ('bill_');
} elsif ( $old{billship} ) {
  @prefixes = ('bill_', 'ship_');
}

my $census_error = $new{'census_error'};
my $is_error = $census_error || grep { $new{$_.'error'} } @prefixes;

</%init>
