<% include("/elements/header.html", 'Log email condition configuration') %>
<P>
  <A HREF="<% $p %>search/log.html">System Log</A>
  | <a href="<% $p %>browse/log_email.html">Log E-Mail Condition</a>
</p>

% if ($error) {
<P STYLE="color: red"><% $error %></P>
% } else {
<H1>Log email condition deleted</H1>
<SCRIPT>
window.top.location = "<% $fsurl %>browse/log_email.html";
</SCRIPT>
% }

<%init>
die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right([ 'View system logs', 'Configuration' ]);

my $error;
my $logemailnum = $cgi->param('logemailnum');

if ( $logemailnum =~ /^\d+$/ ) {
  if ( my $log_email = FS::log_email->by_key($logemailnum) ) {
    $error = $log_email->delete;
  } else {
    $error = "logemailnum '$logemailnum' not found";
  }
} else {
  $error = "bad logemailnum '$logemailnum'";
}

</%init>
