<% include('/elements/header-popup.html', 'Bulk DID order - DID provisioning' ) %>

<% include('/elements/error.html') %>

<FORM NAME="did_order_confirm" ACTION="<% popurl(1) %>did_order_confirmed.html" METHOD=POST>
<INPUT TYPE="hidden" NAME="action" VALUE="provision">
<INPUT TYPE="hidden" NAME="ordernum" VALUE="<% $ordernum %>">
<TABLE>
    <TR>    
        <TD>Order #</TD>
        <TD><% $ordernum %></TD>
    </TR>
    <TR>
        <TD COLSPAN="2"><INPUT TYPE="SUBMIT" value="Provision"></TD>
    </TR>
</TABLE>

<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Import');

$cgi->param('ordernum') =~ /^(\d+)$/ or die 'illegal ordernum';
my $ordernum = $1;
my $did_order = qsearchs( {
  'table'     => 'did_order',
  'hashref'   => { 'ordernum' => $ordernum },
} );
die "No order $ordernum" unless $did_order;

die "Order is not in received status and/or DIDs not assigned to a customer"
    unless $did_order->received && $did_order->custnum; 


</%init>
