<% include('/elements/header.html', {
             'title' => "Customer $custnum status",
          }) %>

<% include('/elements/small_custview.html', $custnum, '', 1) %>
<BR>

<table style="border:1px solid #000000">
% foreach my $key (keys %$return) {
%   my $value = $return->{$key};
%   $value = join(', ', @$value) if ref($value) eq 'ARRAY';
    <TR>
      <TD ALIGN="right"><% $key %>:</TD>
      <TD><B><% $value %></B></TD>
    </TR>
% }
</table>

<% include('/elements/footer.html') %>
<%init>

my $return;

my($custnum, $svcnum) = $cgi->keywords;
if ( $custnum =~ /^(\d+)$/ ) {

  use FS::Maestro;
  $return = FS::Maestro::customer_status($1, $svcnum);

} else {
  $return = { 'error' => 'No custnum' };
}

</%init>
