<% include('/elements/header-popup.html', 'Service Qualification' ) %>

<% include('/elements/error.html') %>

<FORM NAME="QualForm" ACTION="<% $p %>edit/process/qual.cgi" METHOD="POST">

<INPUT TYPE="hidden" NAME="<%$cust_or_prospect%>num" VALUE="<% $custnum_or_prospectnum %>">

<% ntable("#cccccc", 2) %>

<% include('/elements/tr-td-label.html',
             'cgi'        => $cgi,
             'label'      => 'Qualify using',
             #'cell_style' => 'font-weight: bold',
             'id'         => 'exportnum',
          )
%>
<TD>
<% include('/elements/select.html',
             'cgi'        => $cgi,
             'field'      => 'exportnum',
             'options'    => \@export_options,
             'labels'     => $export_labels,
             'curr_value' => $exportnum,
          )
%>
</TD>
</TR>

<% include('/elements/tr-input-text.html',
             'cgi'     => $cgi,
             'label'   => 'Service Telephone Number',
             'field'   => 'phonenum',
             'size'    => '12',
             'value'   => scalar($cgi->param('phonenum')),

             'valign'  => 'middle',
             'colspan' => 6,
             'prefix'  => '<TABLE><TR><TD>',
             'postfix' => '</TD><TD><FONT SIZE="-2">'. join('<BR>',
                 'Line-share (non dry loops) - always fill in',
                 'Dry loops - always leave empty',
               ). '</FONT></TD></TR></TABLE>',
          )
%>

<% include('/elements/tr-select-cust_location.html',
             'cgi'         => $cgi,
             $table        => $cust_main_or_prospect_main,
             'alt_format'  => $conf->exists('qual-alt-address-format') ? 1 : 0,
             'no_bold'     => 1,
             #required for ikano.. config? 'is_optional' => 1,
          )
%>
</TABLE>

<BR>
<INPUT type="submit" VALUE="Qualify" onClick = "this.disabled=true;">

</FORM>
</BODY>
</HTML>
<%init>

my $curuser = $FS::CurrentUser::CurrentUser;

die "access denied"
  unless $curuser->access_right('Qualify service'); 

my $conf = new FS::Conf;
my $date_format = $conf->config('date_format') || '%m/%d/%Y';

$cgi->param('custnum') =~ /^(\d+)$/;
my $custnum = $1;
$cgi->param('prospectnum') =~ /^(\d+)$/;
my $prospectnum = $1;
my $cust_or_prospect = $custnum ? "cust" : "prospect";
my $table = $cust_or_prospect . "_main";
my $custnum_or_prospectnum = $custnum ? $custnum : $prospectnum;
my $cust_main_or_prospect_main = qsearchs({
  'table'     => $table,
  'hashref'   => { $cust_or_prospect."num" => $custnum_or_prospectnum },
  'extra_sql' => ' AND '. $FS::CurrentUser::CurrentUser->agentnums_sql,
});
die "neither prospect nor customer specified or found" 
    unless $cust_main_or_prospect_main;

my @exports = grep { $_->can('qual') } qsearch( 'part_export', {} );
my @export_options = ( 0 );
my $export_labels = { '0' => '(manual)' };
foreach my $export ( @exports ) {
    push @export_options, $export->exportnum;
    $export_labels->{$export->exportnum} = $export->exportname;
}
my $exportnum = $cgi->param('error')
                  ? scalar($cgi->param('exportnum'))
                  : scalar(@exports) == 1
                    ? $exports[0]->exportnum
                    : '';

</%init>
