<% $link %><% $invoice %><% $link ? '</A>' : '' %><% "$email$void$under" %>
<%init>

my( $cust_bill, %opt ) = @_;

my $invoice = emt("Invoice #[_1] (Balance [_2])",$cust_bill->display_invnum,$cust_bill->owed);

my $under = '';
if ( $cust_bill->owed > 0 ) {
  $invoice = '<B><FONT SIZE="+1" COLOR="#FF0000">' .
    emt("Open Invoice #[_1] (Balance [_2])",$cust_bill->display_invnum,$cust_bill->owed) .
    '</FONT></B>';
  if ( $cust_bill->promised_date ) {
    $under .= '<BR>'. emt('Payment promised on [_1]',
        time2str($opt{'date_format'}, $cust_bill->promised_date));
  }
} #if $cust_bill->owed

my $invnum = $cust_bill->invnum;

my $link = $opt{'View invoices'}
             ? qq!<A HREF="${p}view/cust_bill.cgi?$invnum">!
             : '';

my $void = '';
if ( $cust_bill->closed !~ /^Y/i && $opt{'Void invoices'} ) {
  $void =
    ' ('. include('/elements/popup_link.html',
                    'label'     => emt('void'),
                    'action'    => "${p}misc/void-cust_bill.cgi?;invnum=".
                                    $cust_bill->invnum,
                    'actionlabel' => emt('Void Invoice'),
                 ).
     ')';
}

my $email = ($opt{'has_email_address'} && $opt{'Resend invoices'}) ? 
  q! (<A HREF="javascript:void(0)" ONCLICK="areyousure_popup('Send email copy of invoice #!.
  $cust_bill->invnum.
  q! to customer?','!.
  "${p}misc/send-invoice.cgi?method=email;notice_name=Invoice;popup=1;invnum=".
  $cust_bill->invnum.
  q!','Email Invoice Receipt')" TITLE="Send email invoice">email&nbsp;invoice</A>)!
  : '';

my $events = '';
if ( $cust_bill->num_cust_event
     && ($opt{'Billing event reports'} || $opt{'View customer billing events'})
   )
{
  $under .=
    qq!<BR><A HREF="${p}search/cust_event.html?invnum=$invnum">( !.
      emt('View invoice events').' )</A>';
}
$under = '<FONT SIZE="-1">'.$under.'</FONT>' if length($under);

</%init>
