<% $link %><% $invoice %><% $link ? '</A>' : '' %><% $delete %><% $under %>
<%init>

my( $cust_bill, %opt ) = @_;

my $conf = new FS::Conf;

my $curuser = $FS::CurrentUser::CurrentUser;

my $invoice = emt("Invoice #[_1] (Balance [_2])",$cust_bill->display_invnum,$cust_bill->owed);

my $under = '';
if ( $cust_bill->owed > 0 ) {
  $invoice = '<B><FONT SIZE="+1" COLOR="#FF0000">' .
    emt("Open Invoice #[_1] (Balance [_2])",$cust_bill->display_invnum,$cust_bill->owed) .
    '</FONT></B>';
  if ( $cust_bill->promised_date ) {
    $under .= '<BR>'. emt('Payment promised on [_1]',
        time2str($opt{'date_format'}, $cust_bill->promised_date));
  }
} #if $cust_bill->owed

my $invnum = $cust_bill->invnum;

my $link = $curuser->access_right('View invoices')
             ? qq!<A HREF="${p}view/cust_bill.cgi?$invnum">!
             : '';

my $delete = '';
$delete = areyousure_link("${p}misc/delete-cust_bill.html?$invnum",
                            emt('Are you sure you want to delete this invoice?'),
                            emt('Delete this invoice from the database completely'),
                            emt('delete')
                        )
    if ( $opt{'deleteinvoices'} && $curuser->access_right('Delete invoices') );

my $events = '';
#1.9
if ( $cust_bill->num_cust_event
     && (    $curuser->access_right('Billing event reports')
          || $curuser->access_right('View customer billing events')
        )
   ) {
  $under .=
    qq!<BR><A HREF="${p}search/cust_event.html?invnum=$invnum">( !.
      emt('View invoice events').' )</A>';
}
$under = '<FONT SIZE="-1">'.$under.'</FONT>' if length($under);

</%init>
