<b><font size="+1" color="#FF0000">Pending payment </font></b> <% "$info $status ($link)" %>
<%init>

my( $cust_pay_pending, %opt ) = @_;

my $conf = new FS::Conf;

my $curuser = $FS::CurrentUser::CurrentUser;

my $payby = $cust_pay_pending->payby;

my $payinfo;
if ( $payby eq 'CARD' ) {
  $payinfo = $cust_pay_pending->paymask;
} elsif ( $payby eq 'CHEK' ) {
  my( $account, $aba ) = split('@', $cust_pay_pending->paymask );
  $payinfo = "ABA $aba, Acct #$account";
} else {
  $payinfo = $cust_pay_pending->payinfo;
}

my $target = "$payby$payinfo";
$payby =~ s/^BILL$/Check #/ if $payinfo;
$payby =~ s/^CHEK$/Electronic check /;
$payby =~ s/^PREP$/Prepaid card /;
$payby =~ s/^CARD$/Credit card #/; 
$payby =~ s/^COMP$/Complimentary by /; 
$payby =~ s/^CASH$/Cash/;
$payby =~ s/^WEST$/Western Union/;
$payby =~ s/^MCRD$/Manual credit card/;
$payby =~ s/^BILL$//;
my $info = $payby ? "($payby$payinfo)" : '';

my %statusaction = (
  'new'        => 'delete',
  'thirdparty' => 'delete',
  'pending'    => 'complete',
  'captured'   => 'capture',
);

my $edit_pending =
  $FS::CurrentUser::CurrentUser->access_right('Edit customer pending payments');

my $status = "Status: ".$cust_pay_pending->status;

my $action = $statusaction{$cust_pay_pending->status};

my $link = "";
if ( $action && $edit_pending ) {
    $link = include('/elements/popup_link.html',
	       'action' => $p. 'edit/cust_pay_pending.html'.
			     '?paypendingnum='. $cust_pay_pending->paypendingnum.
			     ";action=$action",
	       'label'  => $action,
	       'color'  => '#ff0000',
	       'width'  => 655,
	       'height' => ( $action eq 'delete' ? 480 : 575 ),
	       'actionlabel' => ucfirst($action). ' pending payment',
	    );
}

</%init>
