<% $refund %> 
(<% "$payby$payinfo" %>)
<% "$view$delete" %>
<%init>

my( $cust_refund, %opt ) = @_;

my $curuser = $FS::CurrentUser::CurrentUser;

my $payby = $cust_refund->payby;
my $payinfo = $payby eq 'CARD'
                ? $cust_refund->paymask
                : $cust_refund->payinfo;

$payby = translate_payby_refund($payby,$payinfo);

my $refund = mt("Refund by [_1]",$cust_refund->otaker);
$refund = '<B><FONT COLOR="#FF0000">' 
    . mt("Unapplied Refund by [_1]",$cust_refund->otaker) 
    . '</FONT></B>' 
    if $cust_refund->unapplied > 0;

my $view =
  ' ('. include('/elements/popup_link.html',
                  'label'     => mt('view receipt'),
                  'action'    => "${p}view/cust_refund.html?link=popup;".
                                 'refundnum='. $cust_refund->refundnum,
                  'actionlabel' => mt('Payment Receipt'),
               ).
   ')';


my $delete = '';
$delete = areyousure_link("${p}misc/delete-cust_refund.cgi?".$cust_refund->refundnum,
                           mt('Are you sure you want to delete this refund?'),
                           mt('Delete this refund from the database completely - not recommended'),
                           mt('delete')
                          ) 
    if ( $cust_refund->closed !~ /^Y/i && $opt{'deleterefunds'} 
                                && $curuser->access_right('Delete refund') );

</%init>

