<DEL>Payment <% $info %></DEL>
<I>voided <% time2str("%D", $cust_pay_void->void_date) %>
by <% $cust_pay_void->otaker %></I><% $unvoid %>
<%init>

my( $cust_pay_void, %opt ) = @_;

my $curuser = $FS::CurrentUser::CurrentUser;

my $payby = $cust_pay_void->payby;

my $payinfo;
if ( $payby eq 'CARD' ) {
  $payinfo = $cust_pay_void->paymask;
} elsif ( $payby eq 'CHEK' ) {
  my( $account, $aba ) = split('@', $cust_pay_void->paymask );
  $payinfo = "ABA $aba, Acct #$account";
} else {
  $payinfo = $cust_pay_void->payinfo;
}

$payby =~ s/^BILL$/Check #/ if $payinfo;
$payby =~ s/^CHEK$/Electronic check /;
$payby =~ s/^PREP$/Prepaid card /;
$payby =~ s/^CARD$/Credit card #/; 
$payby =~ s/^COMP$/Complimentary by /; 
$payby =~ s/^CASH$/Cash/;
$payby =~ s/^WEST$/Western Union/;
$payby =~ s/^MCRD$/Manual credit card/;
$payby =~ s/^BILL$//;
my $info = $payby ? "($payby$payinfo)" : '';

if ( $opt{'pkg-balances'} && $cust_pay_void->pkgnum ) {
  my $cust_pkg = qsearchs('cust_pkg', { 'pkgnum' => $cust_pay_void->pkgnum } );
  $info .= ' for '. $cust_pkg->pkg_label_long;
}

my $unvoid = '';
if ( $cust_pay_void->closed !~ /^Y/i
     && $curuser->access_right('Unvoid')
   )
{
  $unvoid = qq! (<A HREF="javascript:areyousure('!.
            qq!${p}misc/unvoid-cust_pay_void.cgi?!. $cust_pay_void->paynum.
            qq!', 'Are you sure you want to unvoid this payment?')"!.
            qq! TITLE="Unvoid this payment from the database!.
              ( $cust_pay_void->payby =~ /^(CARD|CHEK)$/
                ? ' (do not send anything to the payment gateway)'
                : '' 
              ). '"'.
            qq!>unvoid</A>)!;
}

</%init>
