<%

  # options example...
  #
  # 'name'  =>
  # 'table' =>
  # #? 'primary_key' => #required when the dbdef doesn't know...???
  # 'labels' => {
  #               'column' => 'Label',
  #             }
  #
  # listref - each item is a literal column name (or method) or (notyet) coderef
  # if not specified all columns (except for the primary key) will be editable
  # 'fields' => [
  #             ]
  #
  # 'menubar'     => '', #menubar arrayref
  #
  # 'viewall_dir' => '', #'search' or 'browse', defaults to 'search'
  #
  # 'html_bottom' => '', #string
  # 'html_bottom' => sub {
  #                        my $object = shift;
  #                        # ...
  #                        "html_string";
  #                      },

  my(%opt) = @_;

  #false laziness w/process.html
  my $table = $opt{'table'};
  my $class = "FS::$table";
  my $pkey = dbdef->table($table)->primary_key; #? $opt{'primary_key'} || 
  my $fields = $opt{'fields'}
               #|| [ grep { $_ ne $pkey } dbdef->table($table)->columns ];
               || [ grep { $_ ne $pkey } fields($table) ];
  #my @actualfields = map { ref($_) ? $_->{'field'} : $_ } @$fields;

  my $object;
  if ( $cgi->param('error') ) {

    $object = $class->new( {
      map { $_ => scalar($cgi->param($_)) } fields($table)
    });

  } elsif ( $cgi->keywords ) { #editing

    my( $query ) = $cgi->keywords;
    $query =~ /^(\d+)$/;
    $object = qsearchs( $table, { $pkey => $1 } );

  } else { #adding

    $object = $class->new( {} );

  }

  my $action = $object->$pkey() ? 'Edit' : 'Add';

  my $title = "$action $opt{'name'}";

  my @menubar = ();
  if ( $opt{'menubar'} ) {
    @menubar = @{ $opt{'menubar'} };
  } else {
    @menubar = (
      'Main menu' => $p, #eventually get rid of this when the ACL/UI update is done
      #eventually use Lingua::bs to pluralize
      "View all $opt{'name'}s" => $p. ( $opt{'viewall_dir'} || 'search' ).
                                  "/$table.html",
    );
  }

%><%= include("/elements/header.html", $title,
              include( '/elements/menubar.html', @menubar )
           )
%>

<% if ( $cgi->param('error') ) { %>
  <FONT SIZE="+1" COLOR="#ff0000">Error: <%= $cgi->param('error') %></FONT>
  <BR><BR>
<% } %>

<FORM ACTION="<%= popurl(1) %>process/<%= $table %>.html" METHOD=POST>
<INPUT TYPE="hidden" NAME="<%= $pkey %>" VALUE="<%= $object->$pkey() %>">
<%= ( $opt{labels} && exists $opt{labels}->{$pkey} )
      ? $opt{labels}->{$pkey}
      : $pkey
%>
#<%= $object->$pkey() || "(NEW)" %>

<%= ntable("#cccccc",2) %>

<% foreach my $f ( @$fields ) {

    my( $field, $type);
    if ( ref($f) ) {
      $field = $f->{'field'},
      $type  = $f->{'type'} || 'text',
    } else {
      $field = $f;
      $type = 'text';
    }

%>

  <TR>

    <TD ALIGN="right">
      <%= ( $opt{labels} && exists $opt{labels}->{$field} )
              ? $opt{labels}->{$field}
              : $field
      %>
    </TD>

    <%
      #eventually more options for <SELECT>, etc. fields
    %>

    <TD>
      <INPUT TYPE="<%= $type %>" NAME="<%= $field %>" VALUE="<%= $object->$field() %>">
    <TD>

  </TR>

<% } %>

</TABLE>

<%= ref( $opt{'html_bottom'} )
      ? &{ $opt{'html_bottom'} }( $object )
      : $opt{'html_bottom'}
%>

<BR>

<INPUT TYPE="submit" VALUE="<%= $object->$pkey() ? "Apply changes" : "Add $opt{'name'}" %>">

</FORM>

<%= include("/elements/footer.html") %>

