<HTML>
  <HEAD>
    <TITLE>Tax Report Criteria</TITLE>
  </HEAD>
  <BODY BGCOLOR="#e8e8e8">
    <H1>Tax Report Criteria</H1>
    <FORM ACTION="report_tax.cgi" METHOD="GET">
    <TABLE>
     <%= include( '/elements/tr-select-agent.html' ) %>
     <%= include( '/elements/tr-input-beginning_ending.html' ) %>
     <TR>
       <TD ALIGN="right"><INPUT TYPE="checkbox" NAME="show_taxclasses" VALUE="1"></TD>
       <TD>Show tax classes</TD>
     </TR>
    </TABLE>

      <BR><INPUT TYPE="submit" VALUE="Get Report">

    </FORM>
  </BODY>
</HTML>

