<%doc>

Display date selector for the future_autobill.html report

</%doc>
<% include('/elements/header.html', $report_title ) %>


% if ( FS::TaxEngine->new->info->{batch} ) {

  <div style="font-color: red">
  NOTE: This report is disabled due to tax engine configuration
  </div>

% } else {

  <FORM ACTION="future_autobill.html" METHOD="GET">
  <TABLE>
  <& /elements/tr-input-date-field.html,
    {
      name     => 'target_date',
      value    => $target_date,
      label    => emt('Target billing date').': ',
      required => 1
    }
  &>

  <% include('/elements/tr-select-agent.html',
              'label'         => 'For agent: ',
              'disable_empty' => 0,
            )
  %>

  </TABLE>

  <BR>

  <INPUT TYPE="submit" VALUE="<% mt('Get Report') |h %>">

  </FORM>

% }

<% include('/elements/footer.html') %>

<%init>
use FS::cust_payby;
use FS::CurrentUser;

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Financial reports');

my $target_date = DateTime->now->add(days => 1)->mdy('/');
my $report_title = FS::cust_payby->future_autobill_report_title;

</%init>

