<% include('/elements/header.html', 'Call Detail Record Search' ) %>

<FORM ACTION="cdr.html" METHOD="GET">

<TABLE BGCOLOR="#cccccc" CELLSPACING=0>

  <TR>
    <TD ALIGN="right">Status: </TD>
    <TD>
      <SELECT NAME="freesidestatus">
        <OPTION VALUE="">(all)
        <OPTION VALUE="NULL">unprocessed
        <OPTION VALUE="done">processed
      </SELECT>
    </TD>
  </TR>

% #if ( ) {  # disable for everyone not using termination billing...
%   foreach my $termpart ( 1..1 ) { #qsearch('part_termination

    <TR>
      <TD ALIGN="right">Termination Status: </TD>
      <TD>
        <SELECT NAME="termpart<%$termpart%>status">
          <OPTION VALUE="">(all)
          <OPTION VALUE="NULL">unprocessed
          <OPTION VALUE="done">processed
        </SELECT>
      </TD>
    </TR>

%   }
% #}

  <% include ( '/elements/tr-input-beginning_ending.html' ) %>

  <TR>
    <TD ALIGN="right">Source #: </TD>
    <TD>
      <INPUT TYPE="text" NAME="src">
    </TD>
  </TR>

  <TR>
    <TD ALIGN="right">Destination #: </TD>
    <TD>
      <INPUT TYPE="text" NAME="dst">
    </TD>
  </TR>

  <% include( '/elements/tr-input-lessthan_greaterthan.html',
                'label' => 'Duration (sec)',
                'field' => 'duration',
            )
  %>

  <% include( '/elements/tr-input-lessthan_greaterthan.html',
                'label' => 'Billable duration (sec)',
                'field' => 'billsec',
            )
  %>

  <% include( '/elements/tr-select-cdrbatch.html' ) %>

</TABLE>

<BR>
<INPUT TYPE="submit" VALUE="Search Call Detail Records">

<% include('/elements/footer.html') %>
<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('List rating data');

</%init>
