<% include('/elements/header.html', $title ) %>

<FORM ACTION="<% $void ? 'cust_refund_void.html' : 'cust_refund.html' %>" METHOD="GET">
<INPUT TYPE="hidden" NAME="magic" VALUE="_date">

<TABLE BGCOLOR="#cccccc" CELLSPACING=0>

  <TR>
    <TH BGCOLOR="#e8e8e8" COLSPAN=2 ALIGN="left">
      <FONT SIZE="+1">Search options</FONT>
    </TH>
  </TR>

  <TR>
    <TD ALIGN="right">Refunds of type: </TD>
    <TD>
      <SELECT NAME="payby" onChange="payby_changed(this)">
        <OPTION VALUE="">all</OPTION>
        <OPTION VALUE="CARD">credit card (all)</OPTION>
        <OPTION VALUE="CARD-VisaMC">credit card (Visa/MasterCard)</OPTION>
        <OPTION VALUE="CARD-Amex">credit card (American Express)</OPTION>
        <OPTION VALUE="CARD-Discover">credit card (Discover)</OPTION>
        <OPTION VALUE="CARD-Maestro">credit card (Maestro/Switch/Solo)</OPTION>
        <OPTION VALUE="CHEK">electronic check / ACH</OPTION>
        <OPTION VALUE="BILL">check</OPTION>
        <OPTION VALUE="PREP">prepaid card</OPTION>
        <OPTION VALUE="CASH">cash</OPTION>
        <OPTION VALUE="WEST">Western Union</OPTION>
        <OPTION VALUE="MCRD">manual credit card</OPTION>
      </SELECT>
    </TD>
  </TR>

  <SCRIPT TYPE="text/javascript">
  
    function payby_changed(what) {
      if ( what.options[what.selectedIndex].value == 'BILL' ) {
	document.getElementById('checkno_caption').style.color = '#000000';
        what.form.payinfo.disabled = false;
	what.form.payinfo.style.backgroundColor = '#ffffff';
      } else {
	document.getElementById('checkno_caption').style.color = '#bbbbbb';
        what.form.payinfo.disabled = true;
	what.form.payinfo.style.backgroundColor = '#dddddd';
      }
    }

  </SCRIPT>

  <TR>
    <TD ALIGN="right"><FONT ID="checkno_caption" COLOR="#bbbbbb">Check #: </FONT></TD>
    <TD>
      <INPUT TYPE="text" NAME="payinfo" DISABLED STYLE="background-color: #dddddd">
    </TD>
  </TR>

  <% include( '/elements/tr-select-agent.html',
                 'curr_value'    => scalar($cgi->param('agentnum')),
                 'label'         => 'for agent: ',
                 'disable_empty' => 0,
             )
  %>

  <% include( '/elements/tr-select-otaker.html' ) %>

  <TR>
    <TD ALIGN="right" VALIGN="center">Refund</TD>
    <TD>
      <TABLE>
        <% include( '/elements/tr-input-beginning_ending.html',
                      layout   => 'horiz',
                  )
        %>
      </TABLE>
    </TD>
  </TR>

% if ( $void ) {
    <TR>
      <TD ALIGN="right" VALIGN="center">Voided</TD>
      <TD>
        <TABLE>
          <% include( '/elements/tr-input-beginning_ending.html',
                        prefix => 'void',
                        layout => 'horiz',
                    )
          %>
        </TABLE>
      </TD>
    </TR>
% }

  <% include( '/elements/tr-input-lessthan_greaterthan.html',
                'label' => 'Amount',
		'field' => 'paid',
            )
  %>

</TABLE>

<BR>
<INPUT TYPE="submit" VALUE="Get Report">

</FORM>

<% include('/elements/footer.html') %>
<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Financial reports');

my $void = $cgi->param('void') ? 1 : 0;

my $title = $void ? 'Voided refund report' : 'Refund report';

</%init>
