<& /elements/header.html, 'Access log' &>

<FORM ACTION="access_user_log.html" METHOD="GET">

<INPUT TYPE="hidden" NAME="group_by" VALUE="<% $group_by %>">

  <FONT CLASS="fsinnerbox-title"><% emt('Search options') %></FONT>
  <TABLE CLASS="fsinnerbox">

  <& /elements/tr-input-beginning_ending.html &>

  <& /elements/tr-select-user.html &>

  <& /elements/tr-checkbox.html,
       label => 'Omit components',
       field => 'skip_components',
       value => 'Y',
  &>

</TABLE>

<BR>
<INPUT TYPE="submit" VALUE="Get Report">

</FORM>

<& /elements/footer.html &>
<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Configuration');

my $group_by = '';
if ( $cgi->param('group_by') =~ /^(\w+)$/ ) {
  $group_by = $1;
}

</%init>
