<% include('/elements/header.html', 'Credit report' ) %>

<FORM ACTION="cust_credit.html" METHOD="GET">
<INPUT TYPE="hidden" NAME="magic" VALUE="_date">

<TABLE>

  <% include( '/elements/tr-select-user.html',
                'label'       => 'Credits by employee: ',
                'access_user' => \%access_user,
            )
  %>

  <% include( '/elements/tr-select-agent.html',
                 'curr_value'    => scalar( $cgi->param('agentnum') ),
                 'label'         => 'for agent: ',
                 'disable_empty' => 0,
             )
  %>

  <% include( '/elements/tr-input-beginning_ending.html' ) %>

  <% include( '/elements/tr-input-lessthan_greaterthan.html',
                'label' => 'Amount',
		'field' => 'amount',
            )
  %>

</TABLE>

<BR>
<INPUT TYPE="submit" VALUE="Get Report">

</FORM>

<% include('/elements/footer.html') %>

<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Financial reports');

my $sth = dbh->prepare("SELECT DISTINCT usernum FROM cust_credit")
  or die dbh->errstr;
$sth->execute or die $sth->errstr;
my @usernum = map $_->[0], @{$sth->fetchall_arrayref};
my %access_user =
  map { $_ => qsearchs('access_user',{'usernum'=>$_})->username }
      @usernum;


</%init>
