<% include('/elements/header.html', 'Tax Report' ) %>

<FORM ACTION="report_tax.cgi" METHOD="GET">

<TABLE>

 <% include( '/elements/tr-select-agent.html', 'disable_empty'=>0 ) %>

 <% include( '/elements/tr-input-beginning_ending.html' ) %>
% my $conf = new FS::Conf;
%    if ( $conf->exists('enable_taxclasses') ) {
% 

   <TR>
     <TD ALIGN="right"><INPUT TYPE="checkbox" NAME="show_taxclasses" VALUE="1"></TD>
     <TD>Show tax classes</TD>
   </TR>
% } 
% my @pkg_class = qsearch('pkg_class', {});
%    if ( @pkg_class ) {
% 

   <TR>
     <TD ALIGN="right"><INPUT TYPE="checkbox" NAME="show_pkgclasses" VALUE="1"></TD>
     <TD>Show package classes</TD>
   </TR>
% } 


</TABLE>

<BR><INPUT TYPE="submit" VALUE="Get Report">

</FORM>

<% include('/elements/footer.html') %>
<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Financial reports');

</%init>
