<HTML>
  <HEAD>
    <TITLE>Credit report criteria</TITLE>
  </HEAD>
  <BODY BGCOLOR="#e8e8e8">
    <H1>Credit report criteria</H1>
    <FORM ACTION="cust_credit.html" METHOD="GET">
    <INPUT TYPE="hidden" NAME="magic" VALUE="_date">
    <TABLE>
      <TR>
        <TD ALIGN="right">Credits by employee: </TD>
<%
  my $sth = dbh->prepare("SELECT DISTINCT otaker FROM cust_credit")
    or die dbh->errstr;
  $sth->execute or die $sth->errstr;
  my @otakers = map { $_->[0] } @{$sth->fetchall_arrayref};
%>
        <TD><SELECT NAME="otaker">
              <OPTION VALUE="">all</OPTION>
              <% foreach my $otaker ( @otakers ) { %>
                <OPTION VALUE="<%= $otaker %>"><%= $otaker %></OPTION>
              <% } %>
            </SELECT>
        </TD>
      </TR>
      <%= include( '/elements/tr-select-agent.html',
                     $cgi->param('agentnum'),
                     'label' => 'for agent: ',
                 )
      %>
      <%= include( '/elements/tr-input-beginning_ending.html' ) %>
    </TABLE>
    <BR><INPUT TYPE="submit" VALUE="Get Report">
    </FORM>
  </BODY>
</HTML>
