<% include('/elements/header.html', 'Customer CDRs Profit/Loss Report' ) %>

<FORM ACTION="customer_cdr_profit.html" METHOD="GET">

  <TABLE BGCOLOR="#cccccc" CELLSPACING=0>

    <% include( '/elements/tr-select-agent.html',
                 'curr_value'    => scalar( $cgi->param('agentnum') ),
                 'label'         => 'Agent ',
                 'disable_empty' => 0,
             )
    %>

    <% include('/elements/tr-select-from_to.html' ) %>
    
  </TABLE>

<BR>
<INPUT TYPE="submit" VALUE="Get Report">

</FORM>

<% include('/elements/footer.html') %>
<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Financial reports')
      && $FS::CurrentUser::CurrentUser->access_right('List rating data');

</%init>
