<% include('/elements/header.html', 'Package Report' ) %>

<FORM ACTION="cust_pkg.cgi" METHOD="GET">
<INPUT TYPE="hidden" NAME="magic" VALUE="bill">

  <TABLE BGCOLOR="#cccccc" CELLSPACING=0>

    <TR>
      <TH BGCOLOR="#e8e8e8" COLSPAN=2 ALIGN="left"><FONT SIZE="+1">Search options</FONT></TH>
    </TR>
    <% include( '/elements/tr-select-agent.html',
                   $cgi->param('agentnum'),
               )
    %>
    <% include( '/elements/tr-select-cust_pkg-status.html' ) %>
    <% include( '/elements/tr-select-pkg_class.html', '',
                   'pre_options' => [ '0' => 'all' ],
                   'empty_label' => '(empty class)',
               )
    %>
    <% include( '/elements/tr-selectmultiple-part_pkg.html' ) %> 

    <TR>
      <TD ALIGN="right" VALIGN="center">Next bill date</TD>
      <TD>
        <TABLE>
          <% include( '/elements/tr-input-beginning_ending.html' ) %>
        </TABLE>
      </TD>
    </TR>
    
    <TR>
      <TH BGCOLOR="#e8e8e8" COLSPAN=2>&nbsp;</TH>
    </TR>

    <TR>
      <TH BGCOLOR="#e8e8e8" COLSPAN=2 ALIGN="left"><FONT SIZE="+1">Display options</FONT></TH>
    </TR>
    <% include( '/elements/tr-select-cust-fields.html' ) %>
    
  </TABLE>

<BR>
<INPUT TYPE="submit" VALUE="Get Report">

</FORM>

<% include('/elements/footer.html') %>
