<% include('/elements/header.html', 'Tax Report' ) %>

<FORM NAME="newtax">

<TABLE>

 <% include( '/elements/tr-select-agent.html', 'disable_empty'=>0 ) %>

 <% include( '/elements/tr-input-beginning_ending.html' ) %>

</TABLE>

<BR><INPUT TYPE="button" VALUE="Get Report" onClick="document.newtax.submit.disabled=true; process();">

</FORM>

<% include( '/elements/progress-init.html',
            'newtax',
            [ qw( agentnum beginning ending ) ],
            'report_queued_newtax.cgi',
          )
%>

<% include('/elements/footer.html') %>
<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('Financial reports');

</%init>
