% if ( $conf->exists('old_fcc_report') ) {
%   $m->clear_buffer;
%   $m->print($cgi->redirect($fsurl . 'search/old477/report_477.html'));
%   $m->abort;
% }
<& /elements/header.html, 'FCC Form 477 Report' &>
<FONT SIZE="+1"><STRONG>Preparation</STRONG></FONT>
<UL>
  <LI> <A HREF="<% $p %>browse/part_pkg-fcc.html">Configure packages</A> for FCC reporting categories.</LI>
  <LI> <A HREF="<% $p %>browse/deploy_zone.html">Enter deployment zones</A> for broadband Internet or mobile phone.</LI>
</UL>
  
<FORM ACTION="477.html" METHOD="GET">

  <TABLE BGCOLOR="#cccccc" CELLSPACING=0>

    <TR>
      <TH CLASS="background" COLSPAN=2 ALIGN="left">
        <FONT SIZE="+1">Report options</FONT>
      </TH>
    </TR>

    <& /elements/tr-select-agent.html,
      'curr_value'    => scalar( $cgi->param('agentnum') ),
      'disable_empty' => 0,
    &>

    <& /elements/tr-input-date-field.html, {
        'label'         => 'As of date',
        'name'          => 'date',
        'value'         => '',
        'format'        => '%m/%d/%Y'
    } &>

    <& /elements/tr-checkbox-multiple.html,
      'label'   => 'Enable parts',
      'field'   => 'parts',
      'labels'  => $part_titles,
      'options' => [ keys %$part_titles ]
    &>
  </TABLE>

  <BR>
  <INPUT TYPE="submit" VALUE="Get Report">

</FORM>

<& /elements/footer.html &>
<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('List packages');

my $conf = FS::Conf->new;

my $part_titles = FS::Report::FCC_477->parts;

</%init>
