<% include('/elements/header.html', 'Invoice Report' ) %>

<FORM ACTION="cust_bill.html" METHOD="GET">
<INPUT TYPE="hidden" NAME="magic" VALUE="_date">

<TABLE BGCOLOR="#cccccc" CELLSPACING=0

  <% include( '/elements/tr-select-agent.html',
                 'curr_value'    => scalar( $cgi->param('agentnum') ),
                 'label'         => 'Invoices for agent: ',
                 'disable_empty' => 0,
             )
  %>
  <% include( '/elements/tr-input-beginning_ending.html' ) %>
  <TR>
    <TD ALIGN="right"><INPUT TYPE="checkbox" NAME="open" VALUE="1" CHECKED></TD>
    <TD>Show only open invoices</TD>
  </TR>
  <TR>
    <TD ALIGN="right"><INPUT TYPE="checkbox" NAME="newest_percust" VALUE="1"></TD>
    <TD>Show only the single most recent invoice per-customer</TD>
  </TR>
</TABLE>

<BR>
<INPUT TYPE="submit" VALUE="Get Report">

</FORM>

<% include('/elements/footer.html') %>
<%init>

die "access denied"
  unless $FS::CurrentUser::CurrentUser->access_right('List invoices');

</%init>
