<% ntable("#cccccc") %>

  <TR>
    <TD ALIGN="right">Username</TD>
    <TD>
      <INPUT TYPE      = "text"
             NAME      = "username"
             VALUE     = "<% $opt{'username'} %>"
             SIZE      = <% $ulen2 %>
             MAXLENGTH = <% $ulen %>
      >
    </TD>
  </TR>

  <TR>
    <TD ALIGN="right">Domain</TD>
    <TD>
      <SELECT NAME="domsvc">
        <OPTION>(none)</OPTION>
      </SELECT>
    </TD>
  </TR>

  <TR>
    <TD ALIGN="right">Password</TD>
    <TD>
      <INPUT TYPE      = "text"
             NAME      = "_password"
             VALUE     = "<% $opt{'password'} %>"
             SIZE      = <% $pmax2 %>
             MAXLENGTH = <% $passwordmax %>>
      (blank to generate)
    </TD>
  </TR>

  <TR>
    <TD ALIGN="right">Access number</TD>
    <TD><% FS::svc_acct_pop::popselector($opt{'popnum'}) %></TD>
  </TR>

</TABLE>

<%init>

#use FS::svc_acct_pop;

my( %opt ) = @_;

my $conf = new FS::Conf;

#false laziness: (mostly) copied from edit/svc_acct.cgi
#$ulen = $svc_acct->dbdef_table->column('username')->length;
my $ulen = dbdef->table('svc_acct')->column('username')->length;
my $ulen2 = $ulen+2;
my $passwordmax = $conf->config('passwordmax') || 8;
my $pmax2 = $passwordmax + 2;

</%init>
